[2015-11-18 17:25] ctrance commented on #123
Other actions are adding/subtracting correctly. I'll close this and create individual tickets for issues mentioned above.

[2015-11-18 17:25] #123 closed

[2015-11-18 17:28] ctrance opened #294 "Project comment is missing"
I can't test "comment on a project" effect on Engagement Meter #123 since there's no comment field/button on the Project details page.

[2015-11-18 17:29] ctrance opened #295 "Joining a Sautter Award Winner group automatically adds Sautter Award badge"
I joined group "Golden Sautter Award Winners - 2004" then the app added "26 points" on the engagement meter. Then I checked my profile and it also added the "2004 Golden Sautter Award Winner" badge. Is that right?

[2015-11-18 17:30] ctrance opened #296 "Awarding "...Sautter Award" adds incorrect points to the Engagement Meter"
#123
* App only adds 25 points for "8) Awarding a GOLD Sautter Award for your campus = 50 points for you and your campus"
* App only adds 10 pts for "9) Awarding a SILVER Sautter Award for your campus = 25 points for you and your campus"

[2015-11-18 17:31] ctrance opened #297 "Can't see joined members in the Group details page"
It would be nice to see who joined the group " Create a Group ADD 3 points ( DELETE a group - can only be done - if you are the only person in the group)". I can test delete groups that I created for now, since there's no way to see who the group members are in the Group page.

[2015-11-18 17:33] joshuaselsky opened #298 "2016 versions of badges"
Can 2016 versions of our NeXt badges be created and uploaded to the staging server?

[2015-11-18 18:01] joshuaselsky commented on #191
Closing because a newer issue was opened for this. #278

[2015-11-18 18:01] #191 closed

[2015-11-18 18:02] joshuaselsky commented on #180
@ctmcintyre could you help us draft up the list of infrastructure resources?

[2015-11-18 18:37] joshuaselsky opened #299 "add Badges as top-level menu item"
The menu item can link to the existing page that lists all of the badges in the system.  This will help surface a part of the engagement / gaming aspect of the app.

[2015-11-18 19:21] krozett commented on #292
This page is going through a redesign anyway, so it will be fixed as part of #262.

[2015-11-18 19:32] krozett commented on #296
I see. The badge point values have been changed in the database to 25/10 points. Let's discuss and figure out which values are correct. Ideally we should just pull the current value from the database and display that on this page, but our badge infrastructure doesn't allow this right now (because we have many copies of the Sautter awards). That should probably be discussed as well.

[2015-11-18 19:34] krozett commented on #295
This is correct. You got 1 point for joining the group and 25 points for the award. (Even though the "about engagement meter" page says 50 points, it's really 25 points in the database.)

[2015-11-18 20:10] ctrance commented on #295
@krozett - @rrocchio  comment on #123 says 50 points too, not 25 though.

[2015-11-18 23:42] joshuaselsky commented on #268
The badge categories could be: gold, silver, honorable mention, green, blue.

[2015-11-18 23:46] joshuaselsky commented on #296
The fix for this is to update the points in the description about points.

[2015-11-18 23:47] joshuaselsky opened #301 "Add points for Sautter Award honorable mention to calculation totals"
Each award is 3 points.

[2015-11-18 23:51] joshuaselsky commented on #136
Closing because we will add "visibility status" to projects

[2015-11-18 23:51] #136 closed

[2015-11-18 23:52] joshuaselsky opened #302 "projects should have a visibility status"
* If the project is public, it should be visible to all users.
* If the project is private, it should only be visible to logged in users.

[2015-11-18 23:53] joshuaselsky opened #303 "ideas should have a visibility status"
If the idea public, it should be visible to all users.
If the idea is private, it should only be visible to logged in users.

[2015-11-19 00:23] joshuaselsky commented on #299
Please see the third comment in this issue for the icon. https://github.com/universityofcalifornia/NeXt/issues/262

[2015-11-19 00:26] joshuaselsky commented on #295
Closing because we verified the points were correct.

[2015-11-19 00:26] #295 closed

[2015-11-19 00:29] joshuaselsky commented on #292
@ctrance we will be fixing this as part of #262, but left this issue open for you.

[2015-11-19 00:34] joshuaselsky commented on #195
@laurencullen can you attach a new text-based image for Berkeley Lab?

[2015-11-19 00:38] joshuaselsky opened #304 "make people page responsive"
It is the one top-level page that is not responsive.

[2015-11-20 22:28] laurencullen commented on #195
@joshuaselsky @shaun965 Here's a new logo. Please let me know if you need anything else or if you need a different size.

![berkeley_lab_text](https://cloud.githubusercontent.com/assets/13141571/11313595/e73e5e54-8f92-11e5-9e18-19dcda388c39.png)

[2015-11-20 22:48] laurencullen commented on #299
@krozett Here is the icon for the nav:
![badgeicon-02](https://cloud.githubusercontent.com/assets/13141571/11313916/ade89220-8f95-11e5-9528-7109f7d330d8.png)

Please let me know if you need anything else.

[2015-11-20 23:03] laurencullen opened #305 "Create badge for Multi Campus"
Create new badge for "Multi Campus" to show collaboration between campuses.

[2015-11-20 23:06] laurencullen opened #306 "Design Layout for Badge Details page"
This layout will replace: https://ucnext.org/badges/1

Include all info on badge and look at badge input page for reference. Add list of people who have this badge awarded to them.

[2015-11-20 23:28] krozett commented on #299
Good thing I wasn't relying on Bootstrap columns here, it turned out to be a trivial change. :P

[2015-11-21 08:42] rrocchio opened #307 "Re-Design/format the content on the "About" page"
** The content on the left side of the 'About' page right now should be replaced with this:

UC Next is a University of California project that OIT's Mobile and Web Strategy, Education and Research group participates in building and continuing to evolve, working with a collaborative team from across the system.  If you are interested in participating, please contact the UC Technical Architect Josh

[2015-11-23 19:10] krozett commented on #293
I'm unable to reproduce this on my local instance. Can someone forward me the error log for this?

[2015-11-23 21:00] ctrance commented on #228
@joshuaselsky and @shaun965 - I still don't see the red message on Events page unlike other pages. There's tool tip error message, are we okay with that? If yes, I can close this...

[2015-11-23 21:15] ctrance commented on #293
@krozett - Right now if I go to My Account "https://staging.ucnext.org/users/190" I'm getting the error page below. Maybe there's something wrong with my account. I remember @joshuaselsky gave me admin access to the stage site.

![capture](https://cloud.githubusercontent.com/assets/1034174/11350008/3bd68fba-91e4-11e5-8e7b-9a6229e93e4a.PNG)

[2015-11-23 21:29] shaun965 commented on #228
I got the changes in locally, we are in the process of making my pull request possible because I need to do a few extra things with the password validation. Just to make sure, you want me to remove all the tooltip message correct? The red error is already working for all of the components. The tool tip is just an extra check from the front end that is implemented for events prior to me working on

[2015-11-23 21:35] ctrance commented on #228
I'd like to defer the removal of the tool tip validation message to the team. I just think it would be nice to make everything consistent. On other pages it's just the red text error message, no tool tip.

[2015-11-24 18:56] krozett commented on #293
I can reproduce the issue by giving a user an award, showcasing it, and then visiting their profile page. Awards and badges are 99% the same, but we got bit by that 1%.

[2015-11-24 23:01] laurencullen commented on #305
Here is the new badge - @rrocchio and @ctmcintyre please let me know if you have any changes. This one was requested by Chris Hoffman at Berkeley for the group of librarians working together. Would you also like to add a group for them?

@joshuaselsky would you like for me to add this to staging, prod or both?

![multicampus](https://cloud.githubusercontent.com/assets/13141571/11383276/fbd2a150-92

[2015-11-24 23:22] joshuaselsky commented on #305
Both and thank you!

[2015-11-25 00:13] laurencullen commented on #306
@rrocchio @joshuaselsky @krozett Here is a proof of this page. I used award as an example but it would be the same for badge - just say badge in the details box instead. Please let me know any revisions. Thanks!

![ucnext badge details comp](https://cloud.githubusercontent.com/assets/13141571/11384632/3d6b5242-92c6-11e5-81b0-2a11f80d5c2e.jpg)

[2015-11-25 00:28] laurencullen commented on #305
This badge is now up on staging and prod: https://ucnext.org/badges/61 Please let me know if you have any changes and if you would like for me to add a group for this one.

[2015-11-25 00:46] laurencullen commented on #298
Yes, 2016 awards are now created and uploaded to the staging server. Please let me know if you need anything else.

[2015-11-25 00:47] #298 closed

[2015-11-28 06:46] krozett commented on #279
We don't really have space for the badge icons on the groups list view, but we will when #193 is implemented. I implemented it on the group details pages, though.

[2015-11-30 19:49] shaun965 commented on #223
For this feature, there will be a "forgotten password" link in the local login area and also a "reset password" link in the user panel. The "forgotten password" will direct the user to a form where they can enter their email and get a link to a form on the site where they can enter a new password. Once they enter the new password, they will be redirected to the login page where they can login with

[2015-12-01 21:05] joshuaselsky opened #310 "update headers on home page"
The "trending" sort order is confusing without a little explanatory UI. Can something like the following be added?

* Rename PROJECTS to TRENDING PROJECTS (with the words on two lines)
* Rename IDEAS to TRENDING IDEAS (with the words on two lines)
* Add the rank on the left-hand side.
* Add a "Votes" header above column that contains the bubbles with number of votes.
* Add alt text over the word "

[2015-12-01 21:12] ctrance commented on #301
fixed

[2015-12-01 21:12] #301 closed

[2015-12-01 21:14] ctrance commented on #299
fixed

[2015-12-01 21:14] #299 closed

[2015-12-01 21:15] ctrance commented on #296
fixed

[2015-12-01 21:15] #296 closed

[2015-12-01 21:20] ctrance commented on #293
fixed

[2015-12-01 21:20] #293 closed

[2015-12-01 21:25] ctrance commented on #262
@joshuaselsky and @krozett - staging.ucnext Badges page (screenshot below) doesn't look like https://github.com/universityofcalifornia/NeXt/issues/262#issuecomment-153822922 Lauren's design.

 ![capture](https://cloud.githubusercontent.com/assets/1034174/11514714/cf146e8c-982e-11e5-8a25-e8134eefa025.PNG)

[2015-12-01 21:29] ctrance commented on #288
@shaun965 and @joshuaselsky - Instead of clearing the whole form when there's error on password, is it possible to only clear the password fields? This way user will not retype other info.

[2015-12-01 21:31] ctrance commented on #288
The password validation is working good. I'll close this ticket and create new issue for https://github.com/universityofcalifornia/NeXt/issues/288#issuecomment-161101302

[2015-12-01 21:31] #288 closed

[2015-12-01 21:32] ctrance opened #311 "Password validation error clears the entire registration form"
Instead of clearing the whole form when there's error on password, is it possible to only clear the password fields? This way user will not retype other info.

[2015-12-01 21:38] joshuaselsky commented on #262
This is occurring because we are migrating to a new Chef process for deploying the app. The badge images are just missing.

[2015-12-01 21:45] ctrance commented on #282
Badges now show for both admin and non-admin users in the Profile page.

[2015-12-01 21:45] #282 closed

[2015-12-01 21:46] ctrance commented on #292
Will close this once #262 is fixed

[2015-12-01 21:47] laurencullen commented on #310
@joshuaselsky The heading on projects and ideas here was previously discussed. On the projects and ideas page we have Top Five Projects/Ideas by Vote. @rrocchio what would you like to do for the wording on the home page?

If we need to add description text for the bubbles, I think that the word "VOTES" in very small print under the number in the bubble would look best. Or, maybe we could do a hove

[2015-12-01 21:50] joshuaselsky commented on #310
Yes, definitely. The heading on the home page came up in the steering committee meeting today. It is potentially confusing because the order is not a straight-forward sort; it actually is trending order.

[2015-12-01 21:58] ctrance commented on #279
@krozett and @joshuaselsky - Lauren and I think that it would be better to make the badge on the left side and make the texts in the Description wrapped on the right instead of stuffing the badge on the right corner. What do you guys think?
![capture](https://cloud.githubusercontent.com/assets/1034174/11515527/48861ece-9833-11e5-8baf-42910d3ac632.PNG)

[2015-12-01 22:04] ctrance commented on #262
@joshuaselsky - On Lauren's design all badges and awards have the same tile size, the current version has different tile sizes. Did the missing badge icon affect that too? If yes, I'll just wait for the Chef process to be done.

[2015-12-01 22:10] ctrance commented on #277
@krozett and @joshuaselsky - Check mark icon shows for hidden badges/awards in the Profile page. The said icon should only show for showcased badges/awards.

[2015-12-01 22:12] ctrance commented on #276
fixed

[2015-12-01 22:12] #276 closed

[2015-12-01 22:13] ctrance commented on #268
fixed

[2015-12-01 22:13] #268 closed

[2015-12-01 22:18] ctrance commented on #265
fixed

[2015-12-01 22:18] #265 closed

[2015-12-01 22:23] ctrance commented on #264
fixed

[2015-12-01 22:25] ctrance opened #312 "Groups search in the Events form doesn't return all groups"
I was creating an event and wanted to add the group I belong to which is Technology Acquisition Support Group (https://staging.ucnext.org/groups/33) but when I search it in the "Groups" field it doesn't come up.

[2015-12-01 22:25] #264 closed

[2015-12-01 22:27] ctrance commented on #207
fixed

[2015-12-01 22:27] #207 closed

[2015-12-01 22:42] ctrance opened #313 "Clicking a name link on People page throws error if user is not logged in"
I wasn't logged in then click a name link on People page, the error message shows.
![capture](https://cloud.githubusercontent.com/assets/1034174/11516657/777b5356-9839-11e5-9c64-3d111722770a.PNG)

[2015-12-01 22:44] pmeads commented on #313
I think that's b/c shibboleth is not set up on the staging server.

On Tue, Dec 1, 2015 at 2:42 PM, ctrance <notifications@github.com> wrote:

--
Philip Meads
Database Administrator
UCSC
831 459 1705
philme@ucsc.edu

[2015-12-01 22:48] ctrance commented on #195
@shaun965 and @joshuaselsky - the Lawrence Berkeley Lab is showing old org icon, please use Lauren's new icon from https://github.com/universityofcalifornia/NeXt/issues/195#issuecomment-158543769. Also, the search tool is still missing.

[2015-12-01 22:53] ctrance commented on #194
fixed

[2015-12-01 22:53] #194 closed

[2015-12-01 23:00] ctrance commented on #182
fixed

[2015-12-01 23:00] #182 closed

[2015-12-01 23:05] ctrance opened #314 "Events date/time format"
Is it possible to change the event's date/time format if happening on different days?

Current format is "9:00 AM Dec 07 - 5:00 PM 11 2015"
New format (if possible) "Dec 07 9:00 AM - Dec 11, 2015 5:00 PM"

![capture](https://cloud.githubusercontent.com/assets/1034174/11517082/373cce98-983c-11e5-9f81-efc9c0ae0d18.PNG)

[2015-12-01 23:07] ctrance commented on #169
Badges are now showcased on user's profile page.

[2015-12-01 23:07] #169 closed

[2015-12-02 00:57] joshuaselsky commented on #195
The new Berkeley icon will be merged in with a new pull request.

For the search feature, I am opening a new issue because there is too much going on in this one.

[2015-12-02 00:58] joshuaselsky opened #315 "add a search people function"
The initial design is here: #195

[2015-12-02 22:48] joshuaselsky commented on #305
Closing, cleaning house and this has been done.

[2015-12-02 22:48] #305 closed

[2015-12-02 22:50] joshuaselsky commented on #262
@ctrance I updated the images on the staging machine and the build process has been updated. The intention is for the tile size to be the same, yes.

[2015-12-02 23:46] joshuaselsky commented on #193
Closing in favor of #152.

[2015-12-02 23:46] #193 closed

[2015-12-02 23:47] joshuaselsky commented on #152
@krozett please see #193 for the groups icons.

[2015-12-02 23:51] joshuaselsky commented on #279
We discussed this and decided to move the badge to the left of the description content.

[2015-12-02 23:55] joshuaselsky commented on #262
@krozett if the header text breaks over three lines, the layout goes off the grid.

[2015-12-03 00:01] joshuaselsky commented on #228
We voted to make the design consistent (yay) and we won't show the tool tip.

[2015-12-03 00:05] joshuaselsky commented on #315
Closing because the existing search already searches people.

[2015-12-03 00:16] joshuaselsky commented on #310
We discussed this in our meeting and updated the comment in the first issue with the actual to-dos.

[2015-12-03 00:19] joshuaselsky opened #316 "home page issues with votes and bubbles"
* Total projects and total ideas should show the number of each, not the votes.
* The layout of the projects and ideas lists need to updated so the text doesn't cause the bubbles to wrap.

[2015-12-03 02:39] shaun965 commented on #254
@joshuaselsky Do we want to create separate tables for these? Are sponsor and managers going to be users?

[2015-12-03 02:42] shaun965 commented on #254
or should I add these in boolean underneath the project_roles table

[2015-12-03 15:58] ctrance commented on #262
@joshuaselsky - Looks much better now, however there are tiles that still larger than others.
![capture](https://cloud.githubusercontent.com/assets/1034174/11565568/63546290-9993-11e5-885b-61f44577ab1b.PNG)

[2015-12-03 22:16] krozett commented on #80
This is now fixed.

[2015-12-03 22:16] #80 closed

[2015-12-03 22:19] krozett commented on #253
This can be re-tested once the email system is fixed. No longer needs me.

[2015-12-03 22:28] ctrance commented on #253
Please let me know once the email system is fixed, so I can re-test.

[2015-12-03 23:47] #258 closed

[2015-12-03 23:48] joshuaselsky commented on #258
@shaun965 you can pull master back into your fork and use this commit to test out confirmation emails.

[2015-12-03 23:52] joshuaselsky commented on #258
@stevenolen ready for Chefization.

[2015-12-05 01:27] krozett commented on #277
I was confused about the requirements of this. Just to make sure, I am only displaying checkmarks when viewing a particular user's badges (could be current user, or a different one). Not on the main badges page that shows all the badges in the system, right?

And I'm showing the checkmark if the relevant user has the badge showcased, correct? For example, if I'm viewing Josh's badges, a checkmark

[2015-12-07 14:44] ctrance commented on #277
@krozett - Yes, you're only going to show the checkmark icon if the badge/award is showcased on the user's profile page. If the badge/award is hidden on the user's profile page then don't show the checkmark icon.

[2015-12-07 20:12] krozett commented on #277
@ctrance - Great! This code has been merged so it should be testable now. :)

[2015-12-07 21:17] ctrance commented on #262
@krozett - badge/award tiles have same size now, however I notice that the columns have been reduced from 3 (Lauren's design) to 2. See below...
![capture](https://cloud.githubusercontent.com/assets/1034174/11639965/da797be0-9ce4-11e5-96c9-38796e3ac380.PNG)

[2015-12-07 21:20] ctrance commented on #279
@krozett - Group details page now shows the badge/award icon on the left side of the description content. However we still need to add the badge/award icon on the Groups listing page.

[2015-12-07 21:23] krozett commented on #279
@ctrance The groups page will change drastically when #193 is implemented. There isn't really space to put them now, because the group rows will get too tall. So I'm just going to wait for #193.

[2015-12-07 21:24] krozett commented on #262
I just put in a quick fix for this, it should be back to 3 columns again!

[2015-12-07 21:24] joshuaselsky commented on #262
@ctrance try it now! We thought we would be able to fix it before you saw it!

[2015-12-07 21:33] ctrance commented on #316
@krozett - On phone view, the bubble for total projects is missing while the bubble for total ideas is cutoff. See below...
![img_9226 1](https://cloud.githubusercontent.com/assets/1034174/11640371/0e2151e6-9ce7-11e5-9ef9-9c2b35d1bd18.PNG)

[2015-12-07 21:36] ctrance commented on #279
@krozett - Cool, if the team decided not to show the badge/award icon on the Groups listing page anymore please feel free to close this ticket. Thanks!

[2015-12-07 21:40] #279 closed

[2015-12-07 21:54] ctrance commented on #262
Looking good now!

[2015-12-07 21:54] #262 closed

[2015-12-07 22:38] ctrance opened #319 "Badges self-removal doesn't delete badge assignment"
@krozett - I went to My Account > Manage Badges/Awards then removed 2015 UCCSC Attendee badge. After clicking the button the badge disappeared but when I go to "Badges" I still see myself as a recipient.

[2015-12-07 22:40] ctrance commented on #306
fixed

[2015-12-07 22:40] #306 closed

[2015-12-07 22:42] ctrance commented on #277
fixed

[2015-12-07 22:42] #277 closed

[2015-12-07 22:43] ctrance commented on #292
fixed

[2015-12-07 22:43] #292 closed

[2015-12-08 22:38] joshuaselsky commented on #223
Here is a list of remaining to-dos for this issue.

* Rename password_resets to password_reset
* If the user successful uses the reset token, delete the value from the column.
* If the user clicks the reset password link and there is no token, redirect the user to the forgot password page.
* If the user tries to create a new reset token but they already have an unexpired token, do not replace the

[2015-12-08 22:49] joshuaselsky commented on #254
* Project sponsor should be a string that will be a persons name. This person will not necessarily be a NeXt user.
* The project manager should be the user name of the logged in user, but the value can be changed (as specified in the initial comment on this issue).

Both of these fields can be added to the `projects` table.

[2015-12-08 23:00] joshuaselsky commented on #118
For projects, this will be a new button that is displayed on the project details page when a user is logged in and has previously selected Good Project.

For ideas, this will be a new button that is displayed on the idea details page when a user is logged in and has previously selected Good Project.

[2015-12-09 04:36] ctmcintyre opened #320 "BUG: timestamps for events"
Event #13 (Intro to Lean) has a start time of 9:09am and an end time of 10:10am, when I selected and submitted 9am to 11am...  I don't see anywhere to update or change the minute, just the hour for the start and end times.

[2015-12-09 16:33] joshuaselsky commented on #320
@ctrance this is already fixed and deployed to the staging environment, correct?

[2015-12-09 16:46] ctrance commented on #320
@joshuaselsky - We've fixed the minute rendering issue but we need to change the time selection to allow minutes to be updated. Perhaps we can change from time list to a time input box so user can just type in the hour and minute instead of selecting from a list?

[2015-12-09 23:42] joshuaselsky commented on #319
@krozett can you try and recreate and close if you can't?

[2015-12-09 23:45] joshuaselsky commented on #118
This has already been implemented for Ideas. For Projects, we will add Withdraw Support and Withdraw Participation buttons exactly how it is done for Ideas.

[2015-12-09 23:50] joshuaselsky commented on #253
Since this is related to errors showing up in the logs, I will re-test.

[2015-12-09 23:53] joshuaselsky opened #321 "email is not sent when joining a group"
An email containing the Group's badge should be sent to the new group member.

[2015-12-10 00:00] joshuaselsky commented on #152
There are two more items to take care of before this issue can be closed.

1. Add the members to the page.
2. Add the group badge to the page.

This will also take care of #297.

[2015-12-10 00:05] joshuaselsky commented on #320
* On mobile, display the native time-picker HTML5-style
* On web, display a plain input box

[2015-12-10 00:11] joshuaselsky commented on #118
On the main Projects page, this functionality should also be added to the +1 lightbox.

The "remove vote" functionality is also missing from the main Ideas page +1 lightbox, so it be added there as well.

[2015-12-14 17:05] joshuaselsky opened #323 "admin feature: transfer founder"
On the edit project page, an admin should be able to transfer a founder to a different NeXt user.

[2015-12-14 17:15] joshuaselsky commented on #152
@krozett I just added this to your queue if you can get to it. If we decide later that there is a graphic design task, we can address it then.

[2015-12-14 17:21] joshuaselsky opened #324 "description of trending linked from the home page"
Since the home page orders projects and ideas via a trending sort against the search index, it would be good to add some explanatory text.

@rrocchio

[2015-12-14 18:29] #307 closed

[2015-12-14 18:34] joshuaselsky opened #325 "add staging banner to staging env"
Assuming it can be done in a minimally disruptive way ...

[2015-12-14 18:36] joshuaselsky opened #326 "add rapporteur"
https://github.com/codeschool/rapporteur/blob/master/README.md

[2015-12-14 18:58] ctrance commented on #254
I can't proceed testing, getting error page when going to Projects page
![capture](https://cloud.githubusercontent.com/assets/1034174/11790614/9371e544-a251-11e5-97b3-03a86acbc119.PNG)

[2015-12-14 19:09] ctrance commented on #228
fixed

[2015-12-14 19:09] #228 closed

[2015-12-14 19:24] ctrance commented on #223
@joshuaselsky - the reset email body has different message from the last comment https://github.com/universityofcalifornia/NeXt/issues/223#issuecomment-163042288

"We received a request to reset your password. Please use the reset password link below.
Reset password link
If you ignore this message, your password will not be changed. After two hours, the link will automatically expire.
Thanks for u

[2015-12-14 19:27] ctrance commented on #223
@joshuaselsky - I also got error page when I click the reset password link from the email, see below:
![capture](https://cloud.githubusercontent.com/assets/1034174/11791381/a51ff156-a255-11e5-8483-846621b1763e.PNG)

[2015-12-14 19:30] ctrance commented on #195
fixed

[2015-12-14 19:30] #195 closed

[2015-12-14 19:31] ctrance commented on #315
@joshuaselsky - I tried searching for my name (using the main search tool) while in People page but it didn't return any result.

[2015-12-14 19:58] ctrance commented on #118
Fixed on Ideas page but I can't test Projects for now since the page throws error when launching.

[2015-12-14 20:05] ctrance opened #327 ""Would Participate" should not trigger "Good Idea""
When I click "Would Participate", "Good Idea" button changed to "Withdraw Support" as if I clicked it too. If I click "Withdraw Participation" button, "Withdraw Support" button lingers. Per @joshuaselsky - "Would Participate" and "Good Idea" should be independent from each other.

[2015-12-14 20:15] krozett commented on #327
I think we should have a discussion about this, because we've always had "would participate" also cover "good idea". In other words, "would participate" means "it's a good idea AND I will participate".

[2015-12-14 20:31] ctrance commented on #327
@krozett - Actually it makes sense, if I participate that means I like the idea. I just want to clarify if that's the expected behavior. The question now is if I withdraw my participation, should the app auto-withdraw the support too?

[2015-12-14 20:56] krozett commented on #327
@ctrance That's a good question. Personally I feel that withdrawing participation should not withdraw support. If you are in the "would participate" state, you see 2 buttons: "withdraw participation" and "withdraw support". Since a user can already withdraw their support completely with the second button, the first button would imply that it would only withdraw participation without withdrawing su

[2015-12-14 20:58] joshuaselsky commented on #315
@ctrance -- if you tried on the staging machine, this occurs because we have not indexed people.

[2015-12-14 21:11] ctrance commented on #327
I guess we can assume that if they don't want to participate anymore doesn't mean they don't want to support the idea/project anymore. Unlike participating automatically means you like the idea, that's why you participated in the first place :). User would just do a second click to withdraw the support. @joshuaselsky - What do you think, should I close this?

[2015-12-14 21:13] ctrance commented on #315
@joshuaselsky - Yes, I tested this on staging machine. It's working on prod, you're right! Closing this :)

[2015-12-14 21:13] #315 closed

[2015-12-14 21:14] joshuaselsky commented on #315
@ctrance in the interim, could you try adding a new account and then searching for it? Or you could try in the production app.

[2015-12-14 21:22] ctrance commented on #315
@joshuaselsky - created new account also appeared when I search for it.

[2015-12-14 21:24] joshuaselsky commented on #327
I agree and I think we partially had this discussion last week. It is nice to offer the flexibility of saying "Even though I can no longer participate, I still like this idea / project."

[2015-12-14 22:41] shaun965 commented on #223
I think Keith helped fix this issue just now by changing the default base URL. I tried just now and its working fine.

[2015-12-14 22:43] shaun965 commented on #254
This page seems to be working on my computer too while signed out, signed in. Is it because maybe you are an admin and there is a bug for admin?

[2015-12-14 22:49] krozett commented on #254
Pull #329 will fix the projects page error.

[2015-12-14 22:51] shaun965 commented on #254
Thanks so much Keith, it appeared I failed to add that file to my commit.

[2015-12-14 22:56] krozett commented on #254
:bowtie:

[2015-12-14 23:46] ctrance opened #330 "Redirect user to login form after successful password reset"
After successful password reset, I have to select "Login" to login with my new password. Can we redirect the user to login form instead?
![capture](https://cloud.githubusercontent.com/assets/1034174/11797680/ae980e0c-a279-11e5-9409-596e0c989d98.PNG)

[2015-12-15 14:46] ctrance commented on #223
Working good now, the only thing to fix is changing the reset password email message that @joshuaselsky mentioned in https://github.com/universityofcalifornia/NeXt/issues/223#issuecomment-163042288

[2015-12-15 15:15] ctrance commented on #254
On create project mode, the "Project Manager" field does not default to logged in user.
![capture](https://cloud.githubusercontent.com/assets/1034174/11814408/700f8156-a2fb-11e5-9b40-218fc65185bb.PNG)

[2015-12-15 15:24] ctrance opened #331 "Top 5 Projects by Vote "+1" display issue on Projects page"
@joshuaselsky and @krozett - Got display issue on Top 5 Projects by Vote, see below...
![capture](https://cloud.githubusercontent.com/assets/1034174/11814648/c1d2297a-a2fc-11e5-9c68-88d460c2960a.PNG)

[2015-12-15 15:25] ctrance commented on #118
Fixed on Projects too.

[2015-12-15 15:25] #118 closed

[2015-12-15 23:34] joshuaselsky commented on #108
Closing in favor of specific issues.

[2015-12-15 23:34] #108 closed

[2015-12-15 23:35] joshuaselsky commented on #106
Closing as this has been implemented.

[2015-12-15 23:35] #106 closed

[2015-12-15 23:49] joshuaselsky opened #332 "notify project founder on "would participate" event"
An email should be sent to the project founder when someone clicks the "Would Participate" button for a project.

[2015-12-15 23:50] joshuaselsky opened #333 "notify idea founder on "would participate" event"
An email should be sent to the idea founder when someone clicks the "Would Participate" button for an idea.

[2015-12-16 00:00] joshuaselsky opened #334 "ideas should have campus-level visibility"
An idea should be able to be marked as visible to only a particular campus and in that case it should only be visible and actionable to logged in users from the particular campus.

[2015-12-16 00:01] joshuaselsky opened #335 "projects should have campus-level visibility"
An project should be able to be marked as visible to only a particular campus and in that case it should only be visible and actionable to logged in users from the particular campus.

[2015-12-16 16:26] joshuaselsky commented on #223
Underneath the message text, we still need to include the reset link!

Here's the full text with a fake link.

We received a request to reset your password. You can ignore this message and your password will not be changed. If you do not change your password within two hours, the link will expire. Thanks for using UC NeXt!

[Please click here to reset your password.](http://www.example.com)

[2015-12-16 18:50] joshuaselsky commented on #326
@ctrance to test this you can navigate to https://staging.ucnext.org/status.json - this new page lists the git commit hash and deployment time for the most recent app deployment.

[2015-12-16 18:55] joshuaselsky opened #336 "redirect to current page after login"
If a user tries to access a page that is blocked by login, they should be redirected to that page after a successful login. There is an existing implementation of this in [application_controller.rb](https://github.com/universityofcalifornia/NeXt/blob/master/app/controllers/application_controller.rb#L16) that appears not to work. The existing redirect method is used by the code fixed as part of #31

[2015-12-16 18:57] joshuaselsky commented on #253
Closing because this error message is no longer occurring on the new staging server!

[2015-12-16 18:57] #253 closed

[2015-12-16 19:32] ctrance commented on #326
@joshuaselsky - recent commit code and time shows but somehow there's a time difference (see below). Maybe it's not set to our timezone? If that's fine, then we can close this :)
![capture](https://cloud.githubusercontent.com/assets/1034174/11851674/b118b5c6-a3e8-11e5-91f2-a90670cd7550.PNG)

[2015-12-16 20:21] joshuaselsky commented on #326
The status.json page shows the time in a very specific format. The format is called ISO 8601 and it is basically the different fields in a date listed from left to right in order of increasing specificity with the timezone abbreviation at the end. The Z timezone is [Zulu](http://www.navy.mil/navydata/questions/zulutime.html) time. (In case you wanted to know random technical info about formatting

[2015-12-16 21:00] ctrance commented on #326
@joshuaselsky - Got it, timezone is zulu that's why the time difference is 9 hrs. I'll close this then, thanks!

[2015-12-16 21:00] #326 closed

[2015-12-16 23:51] joshuaselsky commented on #152
We decided to model the changes in [this comment](https://github.com/universityofcalifornia/NeXt/issues/152#issuecomment-163441480) using the design of the existing [badge details page](https://staging.ucnext.org/badges/2).

[2015-12-17 17:56] ctrance commented on #314
fixed

[2015-12-17 17:56] #314 closed

[2015-12-17 18:00] ctrance commented on #313
Fixed, the app is not throwing error anymore. We still need to redirect to People page after successful login which is covered by #336.

Closing this :)

[2015-12-17 18:00] #313 closed

[2015-12-17 18:14] ctrance commented on #257
@krozett Email looks good but "badges page" and "profile preferences page" links are not working. I'll close this and create new issue for the link error.
![capture](https://cloud.githubusercontent.com/assets/1034174/11877871/dd90f1e0-a4a6-11e5-9325-761273559d0a.PNG)

[2015-12-17 18:14] #257 closed

[2015-12-17 18:17] ctrance opened #337 "Got error page when giving other person award/badge"
I was logged in as (ctrance@ucla.edu - admin), when I give award/badge to other person (ctrance@oit.ucla.edu) the app is throwing error page.

[2015-12-17 18:22] ctrance opened #338 "Fix Award/Badge email broken links"
@krozett - I opened the award/badge email that I received from the app. But when I click the "badges page" link (not logged in) I get error page and also if I click "profile preferences page" I get a blank page.
![capture](https://cloud.githubusercontent.com/assets/1034174/11877988/a9fb61ca-a4a7-11e5-9dd7-ecc87216324e.PNG)

[2015-12-17 18:26] ctrance commented on #254
fixed

[2015-12-17 18:26] #254 closed

[2015-12-17 18:32] joshuaselsky commented on #337
Please see the last comment in #257 for details.

[2015-12-17 18:34] ctrance commented on #223
Fixed

[2015-12-17 18:34] #223 closed

[2015-12-17 21:36] krozett commented on #338
@ctrance could you please paste the URLs here?

[2015-12-17 22:00] krozett commented on #297
We decided to implement a user list that looks like the one on the badge details pages.

[2015-12-18 01:15] krozett commented on #337
There was some bad data in the database that was causing user ctrance@oit.ucla.edu to have invalid badge data. (https://staging.ucnext.org/users/26/badges) It wasn't due to the badge giving itself, but rather the badge giving redirected to this page, which had errors.

I cleaned out the bad data. Then I managed to find one potential cause of the invalid data, but that only explains one of the two

[2015-12-18 01:25] krozett commented on #321
It's working for me now. Please re-test and close if it works. :)

[2015-12-18 01:27] krozett commented on #319
Works on my machine! :+1:

[2015-12-18 01:27] #319 closed

[2015-12-18 01:29] krozett commented on #226
We have been out of the sandbox for awhile and the email system is fully functional.

[2015-12-18 01:29] #226 closed

[2015-12-18 01:31] krozett commented on #211
Aside from two bugs, #316 and #331, this feature is complete.

[2015-12-18 01:31] #211 closed

[2015-12-18 18:21] ctrance commented on #321
@joshuaselsky and @krozett - If a group has a badge, the app is sending email about the award/badge recipient. If a group doesn't have a badge and the user joined it, the app doesn't generate new group member email.

Is that the expected behavior? Or regardless if the group has a badge or not the app should send new group member email?

[2015-12-18 18:25] ctrance opened #339 "Receiving 2004 Golden Sautter Award didn't auto-join group associated with it"
Admin (ctrance@ucla.edu) gave user (ctrance@oit.ucla.edu) 2004 Golden Sautter Award but when the recipient logs in the group "Golden Sautter Award Winners - 2004" doesn't appear on "My Groups" list.

[2015-12-18 19:08] krozett commented on #321
@ctrance There is only an email if the group has a badge. No email goes out if the group has no badge.

[2015-12-18 19:14] krozett commented on #339
When you join a group, it gives you any badges associated with the group. But it doesn't work the opposite way. If you add a badge, it doesn't automatically make you join the group.

[2015-12-19 00:04] krozett commented on #310
Addressed in PR #340

[2015-12-19 01:47] krozett commented on #320
Support for this input type is not very widespread on desktop platforms:

So I decided to only use native controls for mobile devices (I detect this using the Modernizr library, checking for devices that support both touch and the datetime input type). For other devices, I keep the date picker part of the widget, but leave the time alone. The user has to type in the time by hand. I also make the w

[2015-12-21 16:21] #325 closed

[2015-12-21 16:45] loganfranken opened #343 "Project pages are down"
Hey there!

Looks like the project pages are down?
https://ucnext.org/projects/15

[2015-12-21 16:58] joshuaselsky commented on #343
Thanks for the bug report!  You are looking at a brand new migration process and a brand new app. :)

[2015-12-21 17:06] joshuaselsky commented on #343
... and we're back. Can you check it out and let us know if it is working for you?

[2015-12-21 17:19] ctmcintyre commented on #343
Looks good!

--
Charles McIntyre
Manager, Infrastructure & Operations

Application & Project Management
Information Technology Services
University of California Santa Cruz

office: 831/459-5746
mobile: 831/239-5839

[2015-12-21 17:29] #343 closed

[2015-12-21 18:55] loganfranken commented on #343
Looks good to me too! Thanks!

[2015-12-21 22:48] ctrance commented on #338
@krozett and @joshuaselsky - I don't get a blank page when clicking "badges page" link anymore. However if I'm logged out and just click that link I can see my badges, but if I'm logged out and select a person on People list the app is redirecting to login page (see below). Should we do the same? Or it's fine to make people's award/badges public?

![capture](https://cloud.githubusercontent.com/ass

[2015-12-21 22:49] ctrance commented on #331
fixed

[2015-12-21 22:49] #331 closed

[2015-12-21 22:52] ctrance commented on #337
I cannot reproduce this error anymore. I even tried removing a badge and awarding it again but no errors...

[2015-12-21 22:52] #337 closed

[2015-12-21 23:08] ctrance commented on #320
New dateTime input works good.

[2015-12-21 23:08] #320 closed

[2015-12-21 23:11] ctrance commented on #316
fixed

[2015-12-21 23:11] #316 closed

[2015-12-21 23:26] ctrance commented on #310
@krozett - The Rank and Votes header looks off on iphone 6 view, it's indented (see below)
![img_9440 1](https://cloud.githubusercontent.com/assets/1034174/11943943/b94d42d6-a7f6-11e5-9d7a-533206bbe907.PNG)

[2015-12-21 23:47] ctrance commented on #250
Lauren's mock up has gold border around the "login with campus account" button, that's missing...
![capture](https://cloud.githubusercontent.com/assets/1034174/11944238/8462bd00-a7f9-11e5-88f9-e9c8c6fad9bb.PNG)

[2015-12-22 16:58] #327 closed

[2015-12-23 19:32] ctrance commented on #339
@krozett - I think it would make sense to auto-join the group on badge/award assignment. After all the group name says <badge/award> Winners. However this is just my opinion and would follow the agreed requirements on this issue.

[2015-12-23 19:33] ctrance commented on #321
I'm closing this then :)

[2015-12-23 19:33] #321 closed

[2016-01-05 17:16] joshuaselsky opened #344 "update character set and collation sequence in the db to support UTF-8"
If I add a comment with an emoji, comment creation fails at the ActiveRecord layer with the following message.

    Mysql2::Error: Incorrect string value: '\xE2\x98\x95\xEF\xB8\x8F' for column 'body' at row 1: INSERT INTO `comments` (`body`, `commentable_id`, `commentable_type`, `created_at`, `lft`, `rgt`, `updated_at`, `user_id`) VALUES ('☕️', 1, 'Project', '2016-01-05 17:13:22', 33, 34, '2016-01

[2016-01-05 17:25] ctrance commented on #294
@joshuaselsky - I posted my comment at 9:22 am but the box shows 17:22.
![capture](https://cloud.githubusercontent.com/assets/1034174/12122138/1d9f88aa-b38e-11e5-8c62-d282b2e00b82.PNG)

[2016-01-05 18:01] ctrance commented on #294
@joshuaselsky - I think we should make the delete comment message much clearer, maybe "Are you sure you want to delete this comment?"
![capture](https://cloud.githubusercontent.com/assets/1034174/12123013/4d063116-b393-11e5-869c-86e1eb7bcf81.PNG)

[2016-01-05 18:31] pmeads commented on #294
@joshuaselsky the records are inserted in the defined timezone of the app. Rails defaults to UTC. in config/application.rb, we should set the timezone to config.time_zone = 'Pacific Time (US & Canada)'. I'll add this to a pull request with some other bug fixes

[2016-01-05 18:41] ctrance commented on #229
The delete fx is working good, closing this.

[2016-01-05 18:41] #229 closed

[2016-01-05 18:44] ctrance commented on #7
@joshuaselsky - Working good, we just have to correct the comment timestamp and the delete message as mentioned on #294. I'll close this once we made those corrections.

[2016-01-05 19:06] joshuaselsky commented on #294
I would prefer if we stick to UTC in the database because then we can handle other timezones in the view layer. Can you make the fix in the controller or view?

[2016-01-05 21:24] joshuaselsky commented on #323
* Admins will need to be able to edit projects.
* The new founder should receive an email alerting them.
* On the edit projects page, there should be an input box for the new founder's email address.
* The email address of the new founder must match that of an existing next user. If it doesn't, show an error message.

[2016-01-06 19:04] krozett commented on #344
Check string encodings, the last time I checked everything was set to Swedish. :disappointed:

[2016-01-06 19:14] pmeads commented on #344
yeah, there seems to be two issues. there is a bug in the replay in that any errors in the reply disappear with no notice. but also there seems to be a charset issue on at least the staging server. I was able to insert the emoji successfully on my dev box running mysql so wasn't able to reproduce the problem. On my dev box the comment table charset is UTF8.  Is the backend mysql on the staging ser

[2016-01-06 19:27] pmeads commented on #294
b/c we're not storing the timezone for the user in the user table, we'll need to handle it via JS. there's a gem called "local_time" from basecamp that has a Coffeescript asset and a helper that will do what we want: "Local Time is a Rails engine with helpers and JavaScript for displaying times and dates to users in their local time."  Should we try it out or write a custom JS/helper?

https://git

[2016-01-06 19:36] joshuaselsky commented on #344
On both staging and prod, the charset for the database is `latin1` and it looks like the collation for all character-based columns (varchar, text) is `latin1_swedish_ci` (I didn't verify every table).  Easy enough to fix. This must be a relic from the initial Chef deployments. I will make sure that Chef is updated as well even though now it is a bit after the fact. I am glad I tried the emoji!  :z

[2016-01-06 19:40] joshuaselsky commented on #344
Oh, and @pmeads, yep, it is MySQL on both staging and prod.

[2016-01-06 19:50] joshuaselsky commented on #294
IMO the best way to handle this is to use the local TZ in the user's browser in order to render all dates. It is the least invasive way to implement it and avoids storing "view logic" (i.e., the local or even server timezone) with values in the DB which is only a recipe for trouble later.

[2016-01-06 23:58] joshuaselsky commented on #133
For any user profile information such as badges, those items should also respect the visibility settings of the user's profile.

[2016-01-06 23:58] krozett commented on #338
We're going to address this in #133. Badges and profiles will both follow the user's privacy setting.

[2016-01-06 23:58] #338 closed

[2016-01-07 00:06] joshuaselsky commented on #339
We decided to implement this. If users join a group, they will receive all of the badges that group has.

[2016-01-07 00:09] joshuaselsky commented on #312
@ctrance can you retest because we cannot recreate this issue.

[2016-01-07 15:08] ctrance commented on #312
@joshuaselsky - I still get this bug, below are the steps to replicate it:
1. Logged in as "ctrance@ucla.edu" (admin)
2. Join a group
3. Create new event, then search for the newly joined Group
![untitled](https://cloud.githubusercontent.com/assets/1034174/12173729/610c2ee2-b50d-11e5-8758-24c8e33e6a58.png)

[2016-01-07 15:10] ctrance commented on #339
@joshuaselsky - Got it, not the other way around. I'll close this then.

[2016-01-07 15:10] #339 closed

[2016-01-07 15:15] ctrance commented on #333
Working good!

[2016-01-07 15:15] #333 closed

[2016-01-07 15:35] ctrance commented on #332
Working good!

[2016-01-07 15:35] #332 closed

[2016-01-07 15:37] ctrance commented on #330
Working good!

[2016-01-07 15:37] #330 closed

[2016-01-07 15:53] ctrance opened #346 "Projects and Ideas table looks off on iphone 6 view"
@joshuaselsky and @shaun965 - The table for Projects and Ideas looks off on my iphone 6, header and body texts are indented to the right. See below...
![img_9757 1](https://cloud.githubusercontent.com/assets/1034174/12174768/732fe0ea-b513-11e5-92ff-487a3947cb80.PNG)

[2016-01-07 16:05] ctrance opened #347 "Change "My Account" pop up to show right-aligned instead of left-aligned"
@joshuaselsky and @shaun965 - Please change "My Account" pop up to show right-aligned instead of left-aligned. See current look on mobile view:
![screenshot_20160107-075803](https://cloud.githubusercontent.com/assets/1034174/12175065/042fcbea-b515-11e5-8e37-b9efa4cd6120.png)

[2016-01-07 16:12] ctrance commented on #311
Working good!

[2016-01-07 16:12] #311 closed

[2016-01-07 16:18] ctrance commented on #250
@shaun965 - The shibb login button has gold border now, thanks! Can you also fix its position on tablet view, it's not centered. See below...
![screenshot_20160107-081641](https://cloud.githubusercontent.com/assets/1034174/12175451/2de09882-b517-11e5-9df4-c7eb1f6bcc43.png)

[2016-01-07 16:38] joshuaselsky opened #348 "add the ability to edit comments"
Admins and the user who created the comment should be able to edit the content.

Nice to haves:
* Some kind of indication in the UI that the comment was edited.
* An audit trail in the db (e.g., by using the Rails updated_at timestamp column idiom).

[2016-01-07 16:40] joshuaselsky opened #349 "move comments to the bottom of the ideas and projects pages"
The team agreed that this was the better way to display them.

[2016-01-07 18:30] joshuaselsky commented on #344
I am going to change the title of this issue and make a new one for the missing error messages for nested comments.

To support emoji in the db, here's what has to be done. I have NOT TESTED this yet, but I wanted to document the steps for feedback and future use.

1. Backup the database.
2. Stop the app.
3. Drop the database.
4. Set the innodb properties as described [here](https://gist.github.co

[2016-01-07 18:39] joshuaselsky opened #350 "error messages for nested comments"
For nested comments, error messages are not displayed when the comment is invalid or cannot be stored on the server.

[2016-01-07 19:16] pmeads commented on #344
A couple things to consider here:
The article says utf8mb4_unicode_ci was supported in mysql 5.5. I think the production version of MySQL is 5.1

Only the columns that store emoji should be utf8mb4_unicode_ci. So, I wouldn't even make tables utf8mb4_unicode_ci. Only the text column storing the emoji needs to have that charset. The reason behind that is you really want your data as compressed as po

[2016-01-07 19:25] pmeads commented on #344
I think if you only change the text column to utf8mb4_unicode_ci in the comment table, you can skip step 4. We aren't indexing that field in MySQL and aren't likely to.

[2016-01-07 19:51] joshuaselsky commented on #344
Being able to avoid dropping and recreating the DB would be nice. I did try to set the string columns to utf8mb4_unicode_ci in the comments table and I received the key-length warning documented in the blog post. Is the warning simply that the index would only be built off a truncated section of the column? For a giant text blob even that isn't so bad.

[2016-01-07 22:13] pmeads commented on #344
What version of MySQL is the staging db? It should be the exact same as production if possible

[2016-01-07 22:28] pmeads commented on #344
OK, I read your post more closely this time. The only column that needs utf8mb4_unicode_ci is comments.body. If you changed the charset of comments.commentable_type to utf8mb4_unicode_ci you would get the index warning. That column should be latin1 as type will never have a non-western char. It should also be no longer than the length of the name of any objects we want to make commentable.

[2016-01-08 23:44] pmeads commented on #348
@joshuaselsky Are you thinking of keeping a record of the edits of a comment.
for instance a table like
comment_history
* id
* comment_id (id of comment that was edited)
* body (text of the edit)
* created_at (date of the edit)

where each time an edit happens for a comment, it is logged in the comment_history table for that comment?

[2016-01-09 00:00] pmeads commented on #350
I'm not able to reproduce this yet. When I reply to a comment and send only a "𐐒" (4 bytes), I do get the error "Mysql2::Error: Incorrect string value: '\xF0\x90\x90\x92' for column 'body' at row 1: INSERT INTO `comments` (`body`, `commentable_id`, `commentable_type`, `created_at`, `lft`, `parent_id`, `rgt`, `updated_at`, `user_id`) VALUES ('𐐒', 4, 'Idea', '2016-01-08 23:55:15', 45, 72, 46, '2016-

[2016-01-11 16:49] joshuaselsky commented on #348
No, I think that is overkill.  I just meant that we should use the Rails `timestamps` macro on the comments table. It looks like it is [already there](https://github.com/universityofcalifornia/NeXt/blob/master/db/migrate/20150522214804_create_comments.rb#L12), so the `updated_at` timestamp will be updated on edits.

[2016-01-12 21:02] ctmcintyre opened #353 "Integrate Slack with NEXT"
What are our options for integrating the two technologies?
https://api.slack.com/

[2016-01-12 23:24] ctmcintyre opened #354 "UCOP issue with Shib Auth"
Mark Weiss from UCOP put in all the correct metadata, is able to select UCOP from the Campus ACcount list and successfully authenticate, but Next continues to show "Login" instead of "My Account"

[2016-01-13 00:04] joshuaselsky commented on #354
We are looking into this. It looks like our UCSD Shib endpoint has an out-of-date URL for the UCOP IdP.

[2016-01-13 20:59] krozett commented on #312
I was able to reproduce the bug. The search excludes groups that the current user is a member of, for some unknown reason. I took out the filtering and it works now.

[2016-01-13 21:14] ctrance commented on #312
@krozett - Sounds good! I also got a bug where newly created group (not yet a member) doesn't show in "Groups". Once the fixes are deployed to stage site please let me know so I can retest. Thanks!

[2016-01-13 23:00] krozett commented on #152
Index page is done (minus the search feature, which I've been ignoring so far on Ideas and Projects as well). All that remains is group details pages.

[2016-01-13 23:48] joshuaselsky commented on #225
The last remaining items to take care of for Projects and Ideas for this issue are:

* Add the bubbles containing the number of supporters and participants.
* Fix the broken "See More" link by showing a scrolling box (pop-up on mobile) or a separate page containing the people list. This is dependent on effort for the former.

[2016-01-14 00:00] joshuaselsky opened #356 "notify founder on idea or project comments"
* Users should to be able to control whether they receive the emails or not.
* Users should be able to request an activity summary. We can expand this to summaries of participation and support as well.
* Later on we can investigate posting to Slack channels re https://github.com/universityofcalifornia/NeXt/issues/353

[2016-01-14 00:10] joshuaselsky commented on #344
We decided to implement the following:

* For any column that would store emoji, update the charset to `utf8mb4_unicode_ci`.
* For any other column that would accept user data, update the charset to `utf-8`.

[2016-01-14 22:37] ctrance commented on #350
@joshuaselsky - I see error message when submitting a blank or emoticons nested comments. I'm closing this.

[2016-01-14 22:37] #350 closed

[2016-01-15 00:00] joshuaselsky commented on #344
@pmeads do you think we can handle the charset changes using migrations instead of a script like we discussed?

[2016-01-15 16:38] pmeads commented on #344
I'm not sure actually. I think if the test env was also using MySQL then absolutely. These migrations might fail for sqlite. I'll look into it.

[2016-01-19 17:03] ctrance commented on #346
Looks good on iphone now

[2016-01-19 17:03] #346 closed

[2016-01-19 17:20] ctrance commented on #349
fixed

[2016-01-19 17:20] #349 closed

[2016-01-19 17:31] ctrance commented on #348
fixed

[2016-01-19 17:31] #348 closed

[2016-01-19 17:34] ctrance opened #357 "Nested comments overflows on iPhone"
@joshuaselsky and @shaun965 - the nested comments overflows on iPhone, see below.
![img_9918 1](https://cloud.githubusercontent.com/assets/1034174/12426698/d742f164-be8f-11e5-9c02-43b5c66df443.PNG)

[2016-01-19 17:42] ctrance opened #358 "Joining "invite only" groups didn't notify user on Groups page"
@joshuaselsky @krozett @shaun965 - I was on the main Groups page and click "Join" button on Test Group 8 which is an invite-only group. The page just refreshed and didn't notify me, I have to go to the details page to know that it's an invite-only group. I think it would be nice to notify if the group is invite only upon joining.

[2016-01-19 17:47] ctrance commented on #312
fixed

[2016-01-19 17:47] #312 closed

[2016-01-19 17:52] joshuaselsky commented on #358
It seems like the real fix here is to not show the join button if the group is invite-only.

[2016-01-19 17:52] ctrance commented on #310
fixed

[2016-01-19 17:52] #310 closed

[2016-01-19 17:54] ctrance commented on #294
fixed

[2016-01-19 17:54] #294 closed

[2016-01-19 19:33] ctrance commented on #358
@joshuaselsky - You're right, the Join button should be hidden instead.

[2016-01-19 19:39] ctrance commented on #323
fixed

[2016-01-19 19:39] #323 closed

[2016-01-19 20:08] ctrance commented on #152
@joshuaselsky and @krozett - The group tiles look big for me it's that really how we're showing them? Also, I don't see the members on the group details page.
![capture](https://cloud.githubusercontent.com/assets/1034174/12430179/0e44c62a-bea3-11e5-970c-a06c355a01d9.PNG)

[2016-01-19 20:10] ctrance commented on #7
fixed

[2016-01-19 20:10] #7 closed

[2016-01-19 22:39] shaun965 commented on #278
@laurencullen can you help me get an image of the wave in the dimension 80x80 and in the dimension 40x40.

[2016-01-20 01:28] krozett commented on #358
@ctrance Did the system put you in the group? I'm hoping we at least implemented the "stop the user from joining" part on the back end.

[2016-01-20 01:30] krozett commented on #152
It looks like what is going on is that some of the groups have very long descriptions. We need to figure out what to do about this. I agree that it looks bad.

Projects and Ideas use the same layout, and they'll have the same problem with long descriptions, so we should apply the fix everywhere.

[2016-01-20 14:57] ctrance commented on #152
@krozett and @joshuaselsky - Maybe we can limit the appearance of description length just on this page? If description is longer than the limit then we show "..." at the end to indicate there's more.

[2016-01-20 15:00] ctrance commented on #358
@krozett - I was not able to join the group when I click "Join" button on an invite-only group. Instead the page just refreshed with no notification that I cannot join it. I like @joshuaselsky suggestion which is to hide the Join button for groups that have restrictions.

[2016-01-20 17:13] laurencullen commented on #278
@shaun965 here are the icons in 80x80 and 40x40. I included both png and jpg - the png file has a transparent background and the jpg has a white background (I would recommend png unless you need  a background color).

Please let me know if you need anything else.
![waveicon40x40](https://cloud.githubusercontent.com/assets/13141571/12456735/01aad478-bf56-11e5-94ea-5d20f4506872.jpg)
![waveicon80x80]

[2016-01-20 19:55] krozett commented on #152
Let's see how a limit of 400 characters looks...

[2016-01-20 21:22] krozett opened #361 "Trying to edit a project with no founder throws an exception"
https://staging.ucnext.org/projects/7/edit

undefined method 'user' for nil:NilClass
`@founder_email = @project.project_roles.where(admin: true).first.user.email`
app/controllers/projects_controller.rb:61:in 'edit'

This is happening because there was no founder for this project.

[2016-01-20 21:23] krozett commented on #361
I'm doing a quick fix by using the try() function around method calls which might be invoked on nils. I think a better solution would be to find out why we have projects with no founders. Does this make sense? If a project must always have a founder then there needs to be stronger checking in the model's validations.

[2016-01-20 21:31] joshuaselsky commented on #361
It seems to me that for a project to exist, it must also have a founder. Perhaps the founder column was added after the project in question was created in the DB.

[2016-01-20 23:09] pmeads commented on #344
I did create a migration changing all text fields to utf8mb4. When I use the comments feature it isn't working on my laptop. I had to first upgrade my MySQL install to 5.7. However, I don't thing the MySQL OSX binary comes with utf8mb4. At least, it isn't in the share/mysql/charset/Index.xml file where it should be.

[2016-01-20 23:34] #164 closed

[2016-01-21 16:06] ctrance commented on #297
fixed

[2016-01-21 16:06] #297 closed

[2016-01-21 16:09] ctrance commented on #123
Since I can now see the group members, deleting a group reduce points on Engagement Meter.

[2016-01-21 16:22] ctrance opened #364 "Need clarification on "Trending Projects/Ideas" counter value"
@krozett @joshuaselsky @pmeads - Can you please clarify what's the requirement for "Trending Projects/Ideas" counters? Currently the app only counts the "Supporters". I notice that when you participate you will automatically support the Idea/Project. Is that why we're only counting the "Supporters" for "Trending Projects/Ideas"?
It makes sense to me, but I just want to clarify for testing, thanks!

[2016-01-21 16:34] ctrance opened #365 "Trending Projects/Ideas Vote pop up shows the name right-aligned"
@krozett @shaun965 @joshuaselsky - When I open the vote pop up from the Projects/Ideas list the name shows as left-aligned but if I open the vote pop up from Trending Projects/Ideas the name is right-aligned.
![capture](https://cloud.githubusercontent.com/assets/1034174/12486874/6530856a-c019-11e5-94cd-6a6de2526331.PNG)

[2016-01-21 16:45] ctrance commented on #225
@joshuaselsky @krozett - The only issue I have are cosmetics, please see below:
1. Lauren's design has the bubbles in lighter shade of yellow than the current version and the numbers are blue not black.
2. I think we should reduce the indentation for Trending Projects/Ideas, see phone view below.
![img_9927 1](https://cloud.githubusercontent.com/assets/1034174/12487174/ea8ea5d8-c01a-11e5-9980-416d

[2016-01-21 16:49] ctrance commented on #152
Looks better now!

[2016-01-21 16:49] #152 closed

[2016-01-21 18:33] loganfranken opened #366 "E-mails From Staging"
Hey there!

Just wanted to let you know that I received an e-mail telling me that I got a Supporter on my project (https://ucnext.org/projects/14); however, the e-mail directed me to the *staging website*.

If you want to keep using me as a guinea pig, that's totally cool with me!

(Just wasn't sure if you knew that e-mails were getting sent out from staging or not)

[2016-01-21 19:12] joshuaselsky commented on #366
Thank you for being a guinea pig! We cloned the prod db into our staging environment in order to start with some existing projects / ideas so that's a legitimate email from the staging machine.

[2016-01-22 19:04] ctrance opened #367 "Add "Transfer Founder" to Ideas too"
Make the "Transfer Founder" from Projects available for Ideas too.

[2016-01-22 19:06] ctrance opened #368 "Add Admin mass email notification"
Add an Admin "Send Email" function where there will be checkboxes for the following:
- Next Users
- Projects Founders
- Ideas Founders
- Event Creators

The app will send mass email notifications based on the selected boxes.

[2016-01-25 21:45] krozett opened #369 "Update license in README to AGPL"
The license in LICENSE.txt is correct, so the README should match that.

[2016-01-26 19:52] joshuaselsky commented on #334
For ideas that are set to campus-level visibility, we should investigate showing them in a separate table on the main Ideas page. It will also be important to filter campus-level ideas from search results (and the trending ideas table) depending on who is logged-in.

[2016-01-26 19:54] joshuaselsky commented on #335
For projects that are set to campus-level visibility, we should investigate showing them in a separate table on the main Ideas page. It will also be important to filter campus-level proejcts from search results (and the trending ideas table) depending on who is logged-in.

[2016-01-26 19:55] joshuaselsky commented on #354
UCOP has verified that authentication is now working for their campus. The issue was that the UCOP metadata was incorrectly configured in the UCSD SP.

[2016-01-26 19:55] #354 closed

[2016-01-26 20:39] joshuaselsky opened #370 "make local registration available to admins only"
* Remove the link from the local login box.
* Restrict the registration feature to logged-in admins only.

[2016-01-26 21:00] joshuaselsky opened #371 "edit project / idea visibility"
* Users should not be able to downgrade the visibility of an idea or project, but they can always upgrade to more visibility. (The idea is that a downgrade to campus-level visibility would entail a heavy weight audit of votes and supporters)
* However, users should be able to convert back and forth from public to private.

[2016-01-26 21:09] joshuaselsky opened #372 "ideas and projects without founders should have a founder set"
Some ideas and some projects do not have a founder which makes the UI confusing. This is likely occurring because founders were added as an enhancement. The ideas and projects should be audited so they all have founders.

[2016-01-26 21:12] joshuaselsky opened #373 "transferring founder results in an error"
An fatal error occurs when trying to transfer a founder as an admin.

[2016-01-26 22:25] joshuaselsky commented on #373
It looks like this only occurs when there isn't already a founder set.

[2016-01-26 23:00] joshuaselsky opened #374 "fix links on the events page"
Links for events link to the event page itself.

[2016-01-26 23:01] #373 closed

[2016-01-26 23:02] joshuaselsky commented on #373
@shaun965 please add the tests now. Thank you.

[2016-01-27 00:11] joshuaselsky commented on #361
@krozett I fixed this same problem in another issue. https://github.com/universityofcalifornia/NeXt/issues/373 It seems like we have projects that were created before the founder functionality was added to the app.

[2016-01-27 22:52] joshuaselsky opened #375 "update to transfer founder"
In some cases when transferring a founder, it is desirable to remove the old founder from the list of project roles.  Next to the the Transfer Founder input box, a checkbox could be added to remove the founder from the project altogether.

[2016-01-27 23:13] joshuaselsky commented on #375
@shaun965 please also make sure that collaborators cannot remove founders.

[2016-01-27 23:16] joshuaselsky opened #376 "fix form help bubbles on the edit project page"
* The question mark icons wrap and shouldn't.
* The icons could be a different color. @laurencullen
* The text in the help bubbles should be left-justified.

[2016-01-27 23:21] laurencullen commented on #376
@krozett icons could be #606060
Please let me know if you need anything else with this

[2016-01-27 23:21] joshuaselsky commented on #278
Please fix the following issues:

* the current user's profile photo shows up for every user
* fix the margins or padding around the profile photo in the people list

[2016-01-27 23:43] joshuaselsky commented on #335
We decided to include campus-specific projects in the main table and projects that are specific to each campus will have the associated campus logo in the project tile. "Global" projects will have a logo containing UC-Wide.

The idea is that this keeps the UI simple.

[2016-01-27 23:43] joshuaselsky commented on #335
@laurencullen for the UC-Wide logo.

[2016-01-27 23:53] joshuaselsky commented on #335
Please also change the text for Trending Projects to be Trending UC-Wide Projects.

[2016-01-27 23:55] pmeads commented on #344
this is the code for the migration to change a charset for the database, table and column

Database:
execute "ALTER DATABASE next DEFAULT CHARACTER SET utf8 DEFAULT COLLATE utf8_unicode_ci"
Table:
execute("ALTER TABLE comments CHARACTER SET utf8 COLLATE utf8_unicode_ci")
Column:
execute("ALTER TABLE comments MODIFY `body` text CHARACTER SET utf8mb4 COLLATE utf8mb4_bin")

[2016-01-27 23:56] joshuaselsky commented on #334
We decided to include campus-specific ideas in the main table and projects that are specific to each campus will have the associated campus logo in the project tile. "Global" projects will have a logo containing UC-Wide.

The idea is that this keeps the UI simple.

[2016-01-27 23:57] joshuaselsky commented on #334
Please also change the text for Trending Ideas to be Trending UC-Wide Ideas.

[2016-01-28 00:01] joshuaselsky opened #377 "Email filter for staging"
On staging, there should be a filter that only sends emails to a whitelisted group of recipients. This is to avoid the issue described here: #366.

[2016-01-28 00:02] joshuaselsky commented on #356
@laurencullen can we please get your input on the second bullet?

[2016-01-28 15:31] ctrance commented on #253
@joshuaselsky - The event email still not sending email to address listed on the "Invite List". Should I re-open this ticket or just create a new one?

[2016-01-28 15:32] ctrance commented on #336
fixed

[2016-01-28 15:32] #336 closed

[2016-01-28 15:56] ctrance commented on #304
@joshuaselsky @shaun965 - On iPad, there's excessive margin on the left (see screenshot)
![img_0366 1](https://cloud.githubusercontent.com/assets/1034174/12649658/60d660d6-c594-11e5-8b54-25cd44799669.PNG)

[2016-01-28 16:09] ctrance commented on #250
fixed

[2016-01-28 16:09] #250 closed

[2016-01-28 16:49] joshuaselsky commented on #253
Definitely a new issue! Thanks!

[2016-01-28 16:53] ctrance opened #378 "Event does not send email to address listed on the "Invite List""
@joshuaselsky @krozett - I created an event and filled in the "Invite List" field with just 1 email address "ctrance@oit.ucla.edu" but I didn't receive any email from the app.

[2016-01-28 17:13] joshuaselsky commented on #378
Can you check to see if the email was filtered out by the spam filter?

[2016-01-28 17:17] ctrance commented on #378
@joshuaselsky - I checked and no ucnext email got filtered out. I had emails from ucnext app for the badge/project/ideas this morning too that went directly to my inbox.

[2016-01-28 17:54] joshuaselsky opened #379 "@founder_email is set incorrectly in project_controller.rb"
The [`WHERE` clause](https://github.com/universityofcalifornia/NeXt/blob/master/app/controllers/projects_controller.rb#L68) should check for `founder = true` not `admin = true`.

[2016-01-28 18:00] joshuaselsky commented on #366
We will resolve this with #377.

[2016-01-28 18:00] #366 closed

[2016-01-28 18:05] joshuaselsky commented on #372
I completed the audit on ucnext.org. All ideas have founders as do all projects.

[2016-01-28 18:05] #372 closed

[2016-01-30 04:43] shaun965 commented on #375
For now, if the checkbox is ticked, I am deleting the previous founders participation and support in the project.

[2016-02-01 18:00] joshuaselsky commented on #367
When a user neglects to fill in a founder, they are redirected to the view idea page with an error message. The user should stay on the edit idea page.

[2016-02-01 18:03] joshuaselsky commented on #379
For discussion at weekly meeting: do we actually need project admins or are the founder and admin roles equivalent?

[2016-02-01 18:20] joshuaselsky commented on #378
It looks like this feature was only partially. The [code](https://github.com/universityofcalifornia/NeXt/blob/master/app/models/event.rb#L99) refers to an instance variable that does not exist.

[2016-02-01 19:19] ctrance commented on #375
Working good!

[2016-02-01 19:19] #375 closed

[2016-02-01 19:31] ctrance commented on #278
@shaun965 and @joshuaselsky - the only issue to fix is "clean up the row layout to make the profile photos fill the height and still be square". I got the bug on smaller screen mobile view and on MacBook Pro

[2016-02-02 18:09] joshuaselsky opened #383 "remove project_roles.admin column"
Within the app, the value is unused and we have made `founders` de facto admins of their projects.

[2016-02-02 18:11] joshuaselsky commented on #379
Closing in favor of #383.

[2016-02-02 18:11] #379 closed

[2016-02-02 18:29] joshuaselsky commented on #356
* Email the founder when a comment occurs on an idea or project.
* A founder should be able to disable email notifications for comments on their projects and ideas.
* For the summary, it should be weekly and should only be sent if there was activity on their project or idea. It should contain the number of participation votes (if greater than 0), number of support votes (if greater than 0), and nu

[2016-02-02 19:10] laurencullen commented on #356
@joshuaselsky is this the task for the design of the weekly email?

Which data would you like included? Can we show percentage increase/decrease in engagement trend like FB does on their weekly "insights" email? Do we want to show previous week's numbers for comparison like FB does?

Possible ideas for fields could include Total Project/Idea engagement, number of new supporters, and number of new

[2016-02-02 19:22] joshuaselsky commented on #356
We are going to start with a simple email mentioned in the third bullet in the comment just previous to yours and then I think we can expand to the ideas you mentioned. The idea is to get the initial feature in place and then go from there.  Could you do mocks for both the simple version and then an FB-like "insights" version?

[2016-02-02 22:01] laurencullen opened #384 "Clean up design"
Please see details on this google doc:
https://docs.google.com/document/d/1xxbiziGO8dQmVFmN3iVwZUHd47ABMlGCpbT0ZiErQ5M/edit?usp=sharing

More design cleanup will be added as we go.

Thanks!

[2016-02-02 22:22] laurencullen commented on #335
Attached the UC-WIDE logo - there are three color options: the cyan blue isn't accessible but matches UC's brand color, the dark blue is accessible, the dark gray is accessible. Please let me know if you need anything else for this.

![uc wide logo-01](https://cloud.githubusercontent.com/assets/13141571/12766379/6d44b7a0-c9b8-11e5-994d-a029304b1a97.png)
![uc wide logo-02](https://cloud.githubuserc

[2016-02-02 22:33] joshuaselsky commented on #361
* Stronger validation has been added to disallow nil founders for new or edited projects.
* Any project on staging or prod without a founder has been updated to include one.

[2016-02-02 22:33] #361 closed

[2016-02-03 21:03] ctrance commented on #133
@joshuaselsky @krozett - User who sets their profile to "Hidden" don't see their name on "People" list, is that the expected behavior? I thought only they can see their profile if they set it to Hidden.

Also, if the hidden profile name is clicked from Badge, Group, Project, and Idea the app does not show any message I just get thrown to the home page. Maybe we show a pop up message informing the

[2016-02-03 21:29] ctrance opened #386 "Edit Profile page looks off on iPhone 6"
@joshuaselsky @krozett @shaun965 - Edit Profile page looks off on my iPhone6, please see below:
![img_0115 1](https://cloud.githubusercontent.com/assets/1034174/12797716/22a1b320-ca7a-11e5-99e6-2d88ca7905ad.PNG)

[2016-02-03 23:27] joshuaselsky commented on #133
Instead of hiding the user from the people list, we will show only their name and it will not be a hyperlink and anywhere else in the app where the user appears the name will also not be a link.

[2016-02-03 23:42] krozett commented on #133
Just had a brain wave. When we are making users non-hyperlinks because of the privacy setting, I can add hover text to the name explaining why it is hidden. I think this is more useful as some users may be confused as to why some users' names are not clickable.

[2016-02-05 00:16] joshuaselsky commented on #383
Verifying that the column has been removed after deploying to staging.

[2016-02-05 00:16] #383 closed

[2016-02-08 17:02] joshuaselsky commented on #304
@ctrance this issue should go away now that the people page requires users to login and once users are logged in the profile photos will show. I am going to mark this as "ready for testing" again.

[2016-02-08 19:38] ctrance commented on #304
@joshuaselsky - it's fixed now, thanks!
![capture](https://cloud.githubusercontent.com/assets/1034174/12896720/6adfdaea-ce58-11e5-8a29-55d19769d680.PNG)

[2016-02-08 19:38] #304 closed

[2016-02-09 16:25] ctrance commented on #374
fixed

[2016-02-09 16:25] #374 closed

[2016-02-09 16:31] ctrance commented on #367
@joshuaselsky @shaun965 Can we change the current error message "...Please enter in an email for the transfer founder field." to "...Please enter the new founder's email in the Transfer Founder field"?

[2016-02-09 16:42] ctrance commented on #378
@joshuaselsky @shaun965 I still didn't get event's invitation email notification

[2016-02-10 19:10] joshuaselsky commented on #378
@shaun965

There are a few issues that need to be fixed here.
* When the email is sent, the `responded` column is updated. This is incorrect and a new column called `email_sent` should be used.
* The email text needs to be updated. It should say, "You have been invited to the event EVENT_NAME. Please RSVP by clicking Accept or Decline.", where Accept and Decline are links to the appropriate action

[2016-02-10 19:30] joshuaselsky opened #390 "when an event is edited, new invites should be sent"
If a user edits an event and changes the invite list,
* any new user in the list should receive an invite
* any user that was removed should have their invite removed as long as they have not responded

[2016-02-10 19:33] joshuaselsky opened #391 "EventsController assumes that an event exists"
In the `before_action` for edit, update and destroy, the code assumes that `find_event` will always return an event and raises a `NoMethodError` if an event cannot be found.

[2016-02-10 22:09] joshuaselsky commented on #278
@ctrance It seems like this is fixed. Can you retest?

[2016-02-10 22:19] ctrance commented on #278
@joshuaselsky @shaun965 - The mobile view is still not fixed, please see screenshot below:

Nexus 9 tablet view
![screenshot_20160201-112558](https://cloud.githubusercontent.com/assets/1034174/12963748/3a0f4176-d001-11e5-97d5-f060f8bbd392.png)

[2016-02-10 23:18] shaun965 commented on #278
As discussed in the meeting, will center the image for tablet view

[2016-02-10 23:34] joshuaselsky commented on #225
* @laurencullen will provide the updated bubble image and the font info
* @krozett will update the indentation to match the home page
* later on we will revisit with the full-on design review

[2016-02-11 19:44] joshuaselsky commented on #278
@shaun965 in your latest PR you set the image height to 100% which causes the UI to awkward. Can you please vertically center the image?

[2016-02-11 19:49] joshuaselsky opened #396 "broken tests for event notifcations"
@shaun965 please fix the tests that are broken in this build: https://travis-ci.org/universityofcalifornia/NeXt/builds/108622100

[2016-02-16 16:17] ctrance commented on #378
The app is sending event email now but found some issues. I'll create those issues separately and close this.

[2016-02-16 16:17] #378 closed

[2016-02-16 16:33] ctrance opened #398 "Invite List shows the invitees differently"
@joshuaselsky @shaun965 - If I separate the email by comma the invitees are listed one bullet per email but if I separate the email by semi-colon or by white space then app listed all emails in one bullet.
![capture](https://cloud.githubusercontent.com/assets/1034174/13083012/03381228-d488-11e5-8b92-791054e13887.PNG)

[2016-02-16 16:35] ctrance opened #399 "Update event didn't send email"
@joshuaselsky @shaun965 - The event I edited has a blank "Invite List" but after adding email addresses and saving it the app didn't send email.

[2016-02-16 16:40] ctrance opened #400 "Event Accept/Decline button click sends user to the landing page"
@joshuaselsky @shaun965 - When the user clicks the "Accept" or "Decline" button from the event's email they are sent to the front page https://staging.ucnext.org/

Should we take them to the Login page instead?

[2016-02-16 17:14] ctrance opened #401 "No indication which invitees accepted or declined on event's page"
@joshuaselsky @shaun965 - Looking at Event's page, I could not tell who accepted or declined the invite. Should we add that?

[2016-02-16 17:20] ctrance commented on #367
@joshuaselsky @shaun965 - I still see the same message "All ideas now must have a founder! Please enter in an email for the transfer founder field."

Can we change it to "All ideas now must have a founder! Please enter the missing email address for the Transfer Founder field."?

[2016-02-16 17:27] ctrance commented on #365
fixed

[2016-02-16 17:27] #365 closed

[2016-02-16 17:48] ctrance commented on #133
fixed

[2016-02-16 17:48] #133 closed

[2016-02-16 17:50] ctrance opened #402 "Getting email address error when Admin changes Profile Visibility of other accounts"
@joshuaselsky @krozett - When admin (ctrance@ucla.edu) try to change the Profile Visibility of other account (ctrance@oit.ucla.edu), the app throws error "The email you are trying to change to already exists"

[2016-02-16 17:52] ctrance commented on #69
fixed

[2016-02-16 17:52] #69 closed

[2016-02-16 19:24] #396 closed

[2016-02-16 21:56] joshuaselsky commented on #399
I am closing this because this issue is captured in #390.

[2016-02-16 21:56] #399 closed

[2016-02-16 22:14] krozett commented on #402
This actually had nothing to do with profile visibility. If you tried to edit any other user as a super admin, it would check that user's current email against the logged-in user's email, see they were different, and then try to change it (and fail because that email is taken).

[2016-02-17 00:10] shaun965 commented on #398
We decided to only allow comma's to separate the emails. We will have validation that will reject update if it is not correctly formatted

[2016-02-17 16:52] ctrance commented on #402
Fixed.

[2016-02-17 16:52] #402 closed

[2016-02-17 16:54] ctrance commented on #206
Fixed.

[2016-02-17 16:54] #206 closed

[2016-02-19 20:25] ctrance commented on #398
Fixed.

[2016-02-19 20:25] #398 closed

[2016-02-19 20:28] ctrance opened #406 "All fields get cleared on Invite List validation error"
@joshuaselsky @shaun965 - On Events page, I filled in all the fields but have invalid Invite List value (emails were separated by semi-colon). After saving the event I got the email validation error but the whole form got cleared, I have to re-type everything.

I think we should not clear the form whenever there's a validation error. What do you guys think?

[2016-02-19 20:29] ctrance commented on #391
@joshuaselsky and @shaun965 - I'm not sure how to test this one. Can you please help me with some instructions? Thanks!

[2016-02-19 20:35] laurencullen commented on #406
I agree

[2016-02-19 20:40] joshuaselsky commented on #406
Yes, definitely, especially in this case where the user may have typed a long list.

[2016-02-19 20:42] joshuaselsky commented on #391
I will test it out - I should have not given this the Ready for Testing label.

[2016-02-19 21:35] ctrance commented on #390
@shaun965 @joshuaselsky - I got "someting went wrong" page when the deleted email tries to accept the event invitaton.
![capture](https://cloud.githubusercontent.com/assets/1034174/13189684/afd0dd4e-d70d-11e5-8683-8b226b547d97.PNG)

[2016-02-19 21:49] ctrance opened #407 "Please fix the accept invitation message"
@shaun965 - Accepted invitation message says "You have accepted and invite to Test 101”, can you please change that to "You have accepted the invitation for [event name]".

@joshuaselsky @krozett @laurencullen @pmeads - Please feel free to suggest other message.

[2016-02-19 22:22] ctrance commented on #367
fixed

[2016-02-19 22:22] #367 closed

[2016-02-22 22:39] krozett commented on #334
The "Trending UC-Wide Ideas" is going to look bad for now until we go through all the page designs. Please ignore the ugliness for now.

[2016-02-22 22:39] krozett commented on #335
The "Trending UC-Wide Projects" is going to look bad for now until we go through all the page designs. Please ignore the ugliness for now.

[2016-02-24 21:13] shaun965 commented on #390
Hey Catherine, what do you mean by deleted user? So you sent an invite and an email to the person and then deleted the invite afterwards?

[2016-02-24 21:16] ctrance commented on #390
@shaun965 - I meant I deleted the "email address" in the Invite List, then when the user with the deleted email address clicks the accept/decline link on the invitation I got the error page above.

[2016-02-24 22:04] #391 closed

[2016-02-24 22:34] ctrance commented on #371
@joshuaselsky and @krozett - How do I edit the visibility of Ideas/Projects? When I go to the Edit Details page I don't see any buttons about visibility. Can you please help me with some instructions? Thanks!

[2016-02-24 22:50] ctrance commented on #376
fixed

[2016-02-24 22:50] #376 closed

[2016-02-24 23:33] laurencullen commented on #225
@krozett this is what I have for text in yellow bubbles:
  font-family : Open Sans Condensed;
  font-weight : bold;
  font-size : 14px;
  text-transform : uppercase;
  color : #1E4B87;
  text-shadow : 0.77px 0.77px 0px rgba(153, 153, 153, 0.75);

[2016-02-24 23:39] laurencullen commented on #225
@krozett attached are larger bubbles. Please let me know if you need anything else. Thanks!

![bubble](https://cloud.githubusercontent.com/assets/13141571/13304931/b05fc678-db0c-11e5-8543-79d42ab41915.png)
![bubbledown](https://cloud.githubusercontent.com/assets/13141571/13304930/b027d236-db0c-11e5-9d7b-328a6348f11a.png)

[2016-02-24 23:41] joshuaselsky commented on #371
Some fixes:
* Users should not be able to edit their campus affiliation once it is set.
* If the user does not have a campus, their email address should be the campus identifier.
* The user's campus image should show up on their profile.

[2016-02-24 23:50] joshuaselsky commented on #401
Next to each email address we will show:
* a green checkmark if the user accepted
* a red x if the user declined
* nothing if the user has not taken action

[2016-02-24 23:54] joshuaselsky commented on #390
New enhancement:

* If a user has accepted or declined, the user cannot be removed from the invite list.

[2016-02-25 00:11] laurencullen commented on #401
@shaun965 please see attached icons and let me know if you need anything else.

![events icons_accepted](https://cloud.githubusercontent.com/assets/13141571/13305597/3259e04c-db11-11e5-8e12-5d485f86afba.png)
![events icons_declined](https://cloud.githubusercontent.com/assets/13141571/13305598/325d651e-db11-11e5-8e00-096fa6005b13.png)

[2016-02-25 15:29] ctrance commented on #335
@krozett @joshuaselsky - "UC Wide" logo appears though the project is campus specific, please see screenshot below:
![capture](https://cloud.githubusercontent.com/assets/1034174/13324217/83fdef26-db91-11e5-9b7f-1cd587f56291.PNG)

[2016-02-25 15:38] ctrance commented on #335
Working good

[2016-02-25 15:38] #335 closed

[2016-02-25 16:07] ctrance opened #410 "Campus Specific dropdown list shows all campus for Non-Admin"
@joshuaselsky @krozett - For Non-Admin users, should we hide other campuses that they are not associated with and just show their campus in the "Campus Specific" dropdown?

[2016-02-25 16:50] ctrance commented on #334
Working good.

[2016-02-25 16:50] #334 closed

[2016-02-25 16:52] ctrance commented on #303
"Campus Specific" and "Global" visibility status are working good.

[2016-02-25 16:52] #303 closed

[2016-02-25 16:52] ctrance commented on #302
"Campus Specific" and "Global" visibility status are working good.

[2016-02-25 16:52] #302 closed

[2016-02-29 17:59] ctrance commented on #278
@shaun965 @joshuaselsky - The image didn't center vertically on iPad (ios 9.2.1), please see below. On iPhone, and Samsung/Nexus tablet the image is centered vertically though.

![img_0367 1](https://cloud.githubusercontent.com/assets/1034174/13403683/0daa51c4-decb-11e5-8587-bef4d9544dc3.PNG)

[2016-02-29 18:11] joshuaselsky commented on #278
The iPad screenshot looks pretty good though! I think we should just go with it.

[2016-02-29 18:15] ctrance commented on #278
@joshuaselsky - I'll close this then :)

[2016-02-29 18:15] #278 closed

[2016-03-01 19:20] joshuaselsky commented on #400
We decided to send the user back to the login page and once they login, the will be redirected to the page for the event.

[2016-03-01 20:10] laurencullen commented on #356
@joshuaselsky please see attached first draft of weekly summary email notification and let me know any changes.
![email notification](https://cloud.githubusercontent.com/assets/13141571/13440388/a19a9106-dfa6-11e5-9e03-627451992754.jpg)

[2016-03-01 21:23] krozett commented on #358
Rather than remove the button entirely, I just made it non-clickable text that says "invite only". I think that's more informative, as a user might wonder why there is no "join" button and think it's a bug. I did the same thing on the group details page, in place of the join button.

[2016-03-01 21:34] krozett commented on #225
@laurencullen could you also attach a newer version of the larger bubble with the arrow on the left side? We use this image in the total projects/ideas bubbles on the index page.

[2016-03-02 00:10] laurencullen commented on #225
@krozett please see attached bubble at a larger size. if you need anything else please let me know.

![projects_left bubble lg](https://cloud.githubusercontent.com/assets/13141571/13446392/14114434-dfc8-11e5-9526-233cbeb65d93.png)

[2016-03-02 00:12] krozett commented on #225
@laurencullen actually what I am looking for is this wide bubble:
https://ucnext.org/images/bubbles/right_big.png

[2016-03-02 00:17] laurencullen commented on #225
@krozett what size do you need?

[2016-03-02 00:25] laurencullen commented on #225
@krozett here it is at 143px wide, let me know if you need something else.

![leftbubblelong](https://cloud.githubusercontent.com/assets/13141571/13446664/30e2420a-dfca-11e5-9706-2b9547e5c8a7.png)

[2016-03-02 16:41] joshuaselsky commented on #410
Yes, because they wouldn't be able to see any of the projects / ideas anyway.

[2016-03-02 18:41] krozett commented on #225
@laurencullen thanks!

[2016-03-02 21:18] krozett commented on #117
Button style audit should still happen. On some pages (group details page as admin) I think it looks bad having several wide buttons stacked horizontally.

I also modified the drop-shadow to be consistent with the text in yellow bubbles:
`0.77px 0.77px 0px rgba(153, 153, 153, 0.75);`

[2016-03-02 23:17] joshuaselsky commented on #410
In our meeting, we discussed the fact that @krozett had already implemented multi-campus projects and ideas behind the scenes. We decided to just implement multi-select in the UI because it will allow for more flexibility even if users decide to only select one campus. It also avoids having custom mappings for the case where Berkeley has its associated Labs.

[2016-03-02 23:19] joshuaselsky commented on #371
@krozett can you make a separate issue that documents the additional work necessary to properly implement the previous comment?

[2016-03-02 23:21] joshuaselsky commented on #371
Here's the [info about eduPersonPrincipalName](https://www.incommon.org/federation/attributesummary.html#eduPersonPrincipal).

[2016-03-02 23:41] joshuaselsky opened #414 "email redesign"
Our existing set of emails needs some serious design input.

The emails should use a template with a standard UC Next header and footer.

Here are the current emails sent by the system:
* weekly activity summary
* user has been invited to an event
* user has been made a founder of an idea (transfer founder)
* user has been made a founder of a project (transfer founder)
* user has received a badge

[2016-03-02 23:47] joshuaselsky commented on #117
@krozett please fix the +1 button in the projects and ideas tables.

[2016-03-04 19:53] laurencullen commented on #356
@shaun965 fonts, colors, and buttons match website. Here is a list of styles:

Name:
font-family: Open Sans;
font-style: bold;
color : #121212;

paragraph text:
font-family: Open Sans;
font-style: normal;
color : #121212;

Week of heading text:
font-family: Open Sans;
font-style: bold;
color : #121212;

Headings on tables:
font-family: Open Sans Condensed;
font-style: bold;
text-transform: upperca

[2016-03-04 20:34] ctrance commented on #407
fixed

[2016-03-04 20:34] #407 closed

[2016-03-04 20:46] laurencullen commented on #414
@joshuaselsky @shaun965 Please let me know if this is the kind of thing you were thinking of...

Also, in terms of the footer text, it should be the same on all emails. We could do a message about unsubscribing or this proof includes a simplified version with subscription preferences | unsubscribe. Please let me know any preferences on the text.

![email template-01](https://cloud.githubuserconten

[2016-03-04 21:33] ctrance commented on #406
@shaun965 @joshuaselsky - The uploaded image disappears, all other fields did not clear though.

[2016-03-04 21:41] ctrance commented on #401
fixed

[2016-03-04 21:41] #401 closed

[2016-03-04 21:52] ctrance commented on #358
fixed

[2016-03-04 21:52] #358 closed

[2016-03-04 22:01] ctrance commented on #225
fixed

[2016-03-04 22:01] #225 closed

[2016-03-04 22:23] ctrance commented on #117
@krozett @joshuaselsky - The "Would Participate" button is not showing the new colors, if the user has supported the idea already. Please see below.
![img_0740 1](https://cloud.githubusercontent.com/assets/1034174/13541972/8a830398-e214-11e5-875f-7b02453b34f8.PNG)

[2016-03-04 22:33] ctrance commented on #117
@joshuaselsky @krozett - Where can I see "I think this is a good idea" button? I don't see it on Ideas list or details page?

[2016-03-07 16:37] ctrance commented on #117
@krozett @joshuaselsky - "Delete" button on Events and People don't have the new color yet, see below:
![capture](https://cloud.githubusercontent.com/assets/1034174/13575857/d0c77b9a-e43f-11e5-9198-76b1f51ee49a.PNG)

[2016-03-07 18:29] krozett commented on #117
@ctrance The 3 buttons you referred to have had their text changed. They are now these buttons: https://github.com/universityofcalifornia/NeXt/issues/117#issuecomment-126394985

[2016-03-07 18:55] ctrance commented on #117
@krozett - Thanks for clarifying! I only have these issues  >> https://github.com/universityofcalifornia/NeXt/issues/117#issuecomment-192497606 and https://github.com/universityofcalifornia/NeXt/issues/117#issuecomment-193336377

[2016-03-07 18:55] krozett opened #415 "Campus affiliation should come from Shibboleth only"
This was originally a comment from #371, but it's large enough that it needs its own issue.

These things need to happen:
- Users should not be able to change their campus (though they can change their position)
- Users should only have one campus (right now it's a many-to-many relationship)
- When creating an account, match the Shibboleth [eduPersonPrincipalName](https://www.incommon.org/federati

[2016-03-07 19:00] krozett commented on #371
New issue #415 was created to address the campus issue, so the feature is ready for testing again.

[2016-03-07 19:26] ctrance commented on #371
Ideas and Projects Visibility are working good now.

[2016-03-07 19:26] #371 closed

[2016-03-08 17:03] ctrance commented on #117
@krozett - I still see a green "Would Participate" button, instead of a the new color (light yellow). To replicate select "Good Idea" button first then open the vote pop up again and you'll see a green "Would Participate" button

[2016-03-08 19:21] krozett commented on #117
@ctrance You may need to clear your cache. I checked it on staging and it appears to be working fine.

[2016-03-09 20:57] krozett commented on #415
The one thing I didn't finish on this task is allowing the user to set/change their position. I ripped out the whole section on the edit user form. I want to make sure the campus logic works first (as all the Shib stuff was coded blind), then I'll add that stuff back in.

[2016-03-12 01:02] shaun965 commented on #356
hi @laurencullen  so we will have that row showing the new events under every single table for projects and ideas? Would it be a better idea to separate event from project/idea table

[2016-03-14 16:48] ctrance commented on #415
@krozett @joshuaselsky - Campus logo now appears on the profile and Shibb login is working on stage site.

However, I was not able to test the following since the campus selection does not show when I edit the profile and I cannot create campus accounts just local accounts:
- Users should not be able to change their campus (though they can change their position)
- Users should only have one campus

[2016-03-14 17:40] ctrance commented on #410
@joshuaselsky @krozett - I'm able to assign multi-campus for projects and ides and the privacy is working good too. However, if it's multi-campus, the UI only show 1 campus logo on the projects/ideas list
![capture](https://cloud.githubusercontent.com/assets/1034174/13753678/290f4c1a-e9d1-11e5-8530-01294158019a.PNG)

[2016-03-14 21:36] laurencullen commented on #356
@shaun965 are the events connected to a project or idea? I think that it would only make sense to list an event here if it is connected to project/idea somehow.

@joshuaselsky what do you think? where would you like to see events?

[2016-03-14 21:41] shaun965 commented on #356
they are not connected. I was thinking either a separate table just for a new events this week or we just leave it out

[2016-03-14 21:47] laurencullen commented on #356
@shaun965 maybe leave it out and we can add a separate table later if it's needed. @joshuaselsky please confirm that this works for you.

[2016-03-14 22:40] joshuaselsky commented on #356
I agree that we should leave events out for now and maybe add event summary info to this email later. I would want to know the number of RSVPs for example, but the events page shows that already.  It is also simpler to test this feature when it has a more constrained feature set.

[2016-03-15 14:50] ctrance commented on #400
@joshuaselsky @shaun965 - The accept/decline email link now opens the Login page, but after logging in I was not redirected to the event page but on the home page.

[2016-03-15 15:28] ctrance commented on #390
@shaun965 @joshuaselsky - Everything works good now, but can we show a message when trying to delete accepted/declined person from the Invite List? At first the person got deleted after saving but going back to the Event still show the person.

[2016-03-15 17:19] joshuaselsky commented on #410
@laurencullen could you create a "multi-campus" image similar the UC-Wide one? This would be shown in the case where a project or idea was restricted to two or more campuses.

[2016-03-15 18:49] laurencullen commented on #410
@joshuaselsky here are three color versions of the image to choose from. I would choose UCNext blue one but the UC blue one matches the UC-WIDE logo.

![multi-campus_black](https://cloud.githubusercontent.com/assets/13141571/13789991/9ee71256-eaa3-11e5-9e8b-37c89f7764b3.png)
![multi-campus_ucblue](https://cloud.githubusercontent.com/assets/13141571/13789990/9ee4d2a2-eaa3-11e5-8704-20f0a61761be.png

[2016-03-15 18:53] joshuaselsky commented on #410
@krozett can you drop this in for the multi-campus case?

[2016-03-15 21:08] joshuaselsky commented on #344
@pmeads Your PR is now on staging.ucnext.org. Did you leave the name columns on the different relations out for a reason?

[2016-03-15 22:19] ctrance commented on #370
fixed

[2016-03-15 22:19] #370 closed

[2016-03-15 22:21] pmeads commented on #344
I only included fields that contain descriptions, summaries, comments, etc. where I thought someone might use an emoiji.

[2016-03-15 22:31] ctrance commented on #347
fixed

[2016-03-15 22:31] #347 closed

[2016-03-16 16:32] joshuaselsky commented on #344
I would like to add the capability for 4-byte UTF-8 characters to the name fields too. It's incongruent with the rest of the fields that allow this new capability and also I think in names people might want to use emoji or e.g., Chinese glyphs. Are you up for the change? If not, I can take care of it.

[2016-03-16 19:18] krozett commented on #415
@ctrance Here's how to verify that the features were done correctly:

- Users should not be able to change their campus (though they can change their position)
 - **Test that users with a campus can edit their position on their profile page, while users without a campus set (like new local users) don't have that option. Also just verify that there isn't any way in the "position" section of the edi

[2016-03-17 15:57] #369 closed

[2016-03-17 15:59] #283 closed

[2016-03-17 17:48] ctrance commented on #117
@krozett - I made sure I cleared my cache this time :).
- "Would Participate" button is now fixed on the vote pop up but not on the Idea details page, after supporting (click Good Idea) open the details of the Idea and you'll see green "Would Participate" button.
- "Edit" button on People > Profile page still shows green.

[2016-03-17 17:52] ctrance commented on #410
fixed

[2016-03-17 17:52] #410 closed

[2016-03-17 18:03] ctrance commented on #415
@krozett - I was able to test all cases you mentioned above except for "Users should only have one campus (right now it's a many-to-many relationship)
Unfortunately there's no way to test this other than manually adding entries in the database."

Closing this.

[2016-03-17 18:03] #415 closed

[2016-03-18 19:25] krozett commented on #117
@ctrance can you please test these things again?

[2016-03-22 06:33] shaun965 commented on #356
The email is complete. But because at the moment, most of the users aren't getting a lot of activities on their projects/ideas, there isn't much point in sending an email with all 0s. I think we need to implement something to check if the user got any votes at all and if not, maybe customize the email so that we don't send stats of their own projects/ideas but rather links to other people's ideas/

[2016-03-22 15:40] joshuaselsky commented on #377
@ctrance the way to test this is that on staging only the users in this [file](https://github.com/universityofcalifornia/NeXt/blob/master/config/whitelist_email.yml) should receive emails.

[2016-03-22 17:32] ctrance commented on #117
fixed

[2016-03-22 17:32] #117 closed

[2016-03-22 18:49] ctrance commented on #377
@joshuaselsky - I voted on Logan Franken's project for participation but I did not receive email. Is that because I'm not the creator of the project? Then the only way to verify is to check the email record if it's sent to Logan Franken. I don't have access to the main email record, can you please check?

[2016-03-22 20:02] joshuaselsky commented on #377
@ctrance This [project](https://staging.ucnext.org/projects/19) belongs to my non-OIT work email which isn't in the list.  If you vote on it, I will verify that I did not receive an email. How is that?

[2016-03-22 21:15] joshuaselsky opened #425 "require logged-in user to view project and idea details pages"
Similar to other restricted parts of the app, the project details and idea details pages should require a logged-in user.

[2016-03-23 22:03] ctrance commented on #377
@joshuaselsky - I just voted on your project that belongs to your non-OIT work email. Can you please check? Thanks!

[2016-03-24 19:43] joshuaselsky commented on #377
Checked and I didn't receive an email.

[2016-03-24 19:59] ctrance commented on #377
Thanks @joshuaselsky - I'll close this :)

[2016-03-24 19:59] #377 closed

[2016-03-28 16:36] joshuaselsky commented on #356
Quick meeting notes:

* If there was no activity on any of a user's projects or ideas, the email will not be sent.
* If there is new activity, the trend can say "New" as opposed to an artificial % from 0 to n.
* We will not show other user's project or idea information in this email yet.

[2016-03-28 16:51] shaun965 commented on #414
@laurencullen  looks nice! can you upload the assets in this and I will try to fit them in?

[2016-03-28 22:01] laurencullen commented on #414
@shaun965 here are the images. provided both the wave with text and without so that you can decide which works better. the rest would be styles. colors all match ones in website: #121212, #9C5500, and #0455A4.

Please let me know if you need anything else.

![logo](https://cloud.githubusercontent.com/assets/13141571/14091566/d3a67962-f4f5-11e5-994f-518ec11865e2.png)
![wave](https://cloud.githubuse

[2016-03-29 18:39] joshuaselsky commented on #356
One more note:
* The summary email is sent every Monday at noon PT.

[2016-03-30 15:21] ctrance opened #428 "Getting error page when voting on Ideas"
Account "ctrance.ct@ucla.edu" clicked "Would Participate" on 3-30-2016 idea created by "ctrance@oit.ucla.edu" but got an error page.
![capture](https://cloud.githubusercontent.com/assets/1034174/14147454/6cd3d8d6-f650-11e5-91c8-517fe74c31bb.PNG)

[2016-03-30 15:51] ctrance commented on #425
fixed

[2016-03-30 15:51] #425 closed

[2016-03-30 16:12] ctrance opened #429 "Transferring idea founder throws error"
I got the error page below, when I do Idea 'transfer founder'.
![capture](https://cloud.githubusercontent.com/assets/1034174/14149118/76a61de0-f657-11e5-9639-097223c89b68.PNG)

[2016-03-30 16:16] ctrance opened #430 "Awarding a badge throws error"
I got an error page when I tried to award "2015 UCCSC Attendee" to "ctrance@g.ucla.edu"
![capture](https://cloud.githubusercontent.com/assets/1034174/14149224/fb515c44-f657-11e5-874b-983869a04e1e.PNG)

[2016-03-30 16:19] ctrance opened #431 "Forgot Password throws error"
I got the error below after entering "ctrance@g.ucla.edu" email address on "Forgot Password" page.
![capture](https://cloud.githubusercontent.com/assets/1034174/14149321/73f31dc2-f658-11e5-8ad0-a86fde8d650b.PNG)

[2016-03-30 16:39] ctrance commented on #414
@shaun965 @joshuaselsky - Cannot fully test this, staging did not submit email and some events below throw error:
1. Transfer idea founder
2. Receiving badge
3. Password reset
4. Participate in an idea

Also, when does "weekly activity summary" email get sent?

[2016-03-30 16:41] ctrance commented on #400
@joshuaselsky @shaun965 - staging site does not send email, cannot test this right now.

[2016-03-30 16:43] ctrance commented on #390
Will test this once staging sends email notification.

[2016-03-30 16:56] ctrance commented on #356
Will test this once sending email is fixed on staging site.

[2016-03-30 17:01] joshuaselsky commented on #400
Remember that on staging we have an email whitelist. Only users in the list in [this file](https://github.com/universityofcalifornia/NeXt/blob/master/config/whitelist_email.yml) will receive emails.

[2016-03-30 17:26] ctrance commented on #400
@joshuaselsky Thanks for reminding me, I totally forgot about the whitelist!

The issue has been fixed, I'm now redirected to the event's details page after successfully logging in upon accepting/declining the event. Closing this.

[2016-03-30 17:26] #400 closed

[2016-03-30 17:28] ctrance commented on #356
Email is working on staging site, I was using email that is not whitelisted. I would have to test this on Friday/Monday for the weekly activity summary.

[2016-03-31 16:51] ctrance commented on #390
fixed

[2016-03-31 16:51] #390 closed

[2016-03-31 16:54] ctrance commented on #429
fixed

[2016-03-31 16:54] #429 closed

[2016-03-31 16:55] ctrance commented on #431
fixed

[2016-03-31 16:55] #431 closed

[2016-03-31 17:04] ctrance commented on #430
fixed

[2016-03-31 17:04] #430 closed

[2016-04-01 17:52] ctrance commented on #356
Submitted idea/project votes and comments, I'll check the weekly activity summary on Monday 12noon.

[2016-04-01 17:53] ctrance commented on #428
fixed

[2016-04-01 17:53] #428 closed

[2016-04-01 18:03] ctrance commented on #414
@joshuaselsky @shaun965 - The badge email does not have the footer, see below.
![capture](https://cloud.githubusercontent.com/assets/1034174/14215682/4e74cecc-f7f9-11e5-8165-6b997d156ff1.PNG)

[2016-04-04 20:14] joshuaselsky opened #432 "local login with shibboleth credentials fails"
If a user attempts to use local login with an email address associated with a Shibboleth-based account, the app throws a 500. A user-friendly error message should be returned instead.  Something like, "Local account not found. Please use the "Login with Campus Account" option."

[2016-04-04 21:48] ctrance commented on #356
@shaun965 @joshuaselsky - The weekly activity summary email is missing the "See Project" / "See Idea" button, see screenshot of the actual email below:
![capture](https://cloud.githubusercontent.com/assets/1034174/14264266/f90b73dc-fa73-11e5-99cf-2967cbdbfa71.PNG)

[2016-04-04 21:48] ctrance commented on #414
@shaun965 @joshuaselsky - The weekly activity summary is missing the header/footer, see below:
![capture](https://cloud.githubusercontent.com/assets/1034174/14264336/54e50e52-fa74-11e5-90ee-9fdddd9372d1.PNG)

[2016-04-05 17:25] ctrance opened #434 "App still sends email even if user opted not to receive any UC Next email"
@joshuaselsky @shaun965 - User "ctrance@oit.ucla.edu" checked "don't want to receive emails from UC Next" box but app still sent event invitation. Is event invitation email excluded? If yes, what are the only emails we don't send if user opted to to receive email?

[2016-04-05 18:08] joshuaselsky commented on #434
I think this feature should allow users to opt-out of all emails except for reset password which is always sent. It is not implemented that way currently.

@shaun965 can you add the opt-out to the event and activity summary emails?

[2016-04-05 19:43] ctrance commented on #432
fixed

[2016-04-05 19:43] #432 closed

[2016-04-05 19:50] ctrance commented on #414
@shaun965 @joshuaselsky - Badge email has footer now. Please fix weekly activity summary too.

[2016-04-05 19:52] ctrance opened #435 "Badge link on email should take the user to the login page"
I clicked the badge link on the email I received from the app when I was awarded a badge/award but it took me to the home page with error message "This user's profile is private".
![capture](https://cloud.githubusercontent.com/assets/1034174/14296038/22236766-fb2d-11e5-8395-ace899294aa5.PNG)

[2016-04-05 19:57] ctrance commented on #356
Will have to wait till Monday to check the email :)

[2016-04-05 20:33] joshuaselsky commented on #435
Is it possible that you clicked the link in the email while you were logged into the app as a different user?

[2016-04-05 20:50] ctrance commented on #435
@joshuaselsky - I logged out (login button was showing) before clicking the email link, unless the app is not fully logging out users.

[2016-04-05 20:50] ctrance commented on #435
@joshuaselsky - I logged out (login button was showing) before clicking the email link, unless the app is not fully logging out users.

[2016-04-11 19:29] ctrance commented on #356
@shaun965 - The weekly activity summary email still does not show the buttons, see below:
![capture](https://cloud.githubusercontent.com/assets/1034174/14439636/f7d51992-ffe0-11e5-92b9-ffe037f51fdc.PNG)

[2016-04-11 19:57] ctrance commented on #414
Weekly activity summary email now shows UC Next header and footer.

[2016-04-11 19:57] #414 closed

[2016-04-11 20:10] shaun965 commented on #356
![screen shot 2016-04-11 at 1 07 58 pm](https://cloud.githubusercontent.com/assets/9622332/14440847/b828333c-ffe6-11e5-8a12-e03ae5a7ed68.png)

[2016-04-11 20:10] shaun965 commented on #356
This is the email i got, not sure if its something to do with the browser

[2016-04-11 21:22] ctrance commented on #356
@shaun965 - I opened my email on Outlook 2013. How about you?

[2016-04-11 21:31] shaun965 commented on #356
i used the gmail in my browser. Can you maybe try a web portal to see if it works there so we can narrow down the problem?

[2016-04-11 21:39] ctrance commented on #356
@shaun965 - If I view my ucla email on web outlook (firefox) then I see the buttons
![capture](https://cloud.githubusercontent.com/assets/1034174/14443284/22b50fe8-fff3-11e5-9e2f-3cc7ec9c411b.PNG)

[2016-04-12 20:46] joshuaselsky commented on #384
@ctrance We are marking work that has been done on this task by highlighting the text in green.

[2016-04-18 16:45] joshuaselsky opened #437 "require login status when user tries to view group or badge details"
This will harmonize the functionality with the other "view details" features.

[2016-04-19 17:17] #356 closed

[2016-04-25 16:57] #368 closed

[2016-04-25 16:57] #353 closed

[2016-04-25 16:58] #224 closed

[2016-04-25 16:58] #132 closed

[2016-04-25 16:58] #120 closed

[2016-04-25 16:58] #114 closed

[2016-04-25 16:59] #107 closed

[2016-04-25 16:59] #97 closed

[2016-04-25 16:59] #68 closed

[2016-04-25 17:01] #119 closed

[2016-04-25 17:01] #135 closed

[2016-04-25 17:02] #145 closed

[2016-04-28 14:15] ctrance commented on #437
fixed

[2016-04-28 14:15] #437 closed

[2016-04-28 14:19] ctrance commented on #435
fixed

[2016-04-28 14:19] #435 closed

[2016-04-28 14:30] ctrance commented on #384
@joshuaselsky - I see highlighted texts but in "orange" not "green", does that mean I should test highlighted texts in orange? Or that highlight color means still "in progress"? Please confirm.

[2016-04-28 14:35] ctrance commented on #434
fixed

[2016-04-28 14:35] #434 closed

[2016-04-28 16:42] joshuaselsky commented on #384
We switched to highlighting in orange for the items that should be tested.

[2016-04-28 17:45] ctrance commented on #384
@joshuaselsky - Can I have "edit" permission to the doc so I can mark which once are fixed?

[2016-04-28 17:55] ctrance opened #439 "Where is the comps for decreased width of Home page?"
@laurencullen @joshuaselsky #384 - "Please decrease the width of the two columns because it needs a little more space (as seen in comps)." - I don't see the comps to compare with, please provide so I can test.

[2016-04-28 18:13] laurencullen commented on #439
@ctrance Here is a comp of the homepage. Since this one from Oct, I believe we made the buttons in all caps to be consistent throughout, but I think that the rest is up-to-date.
Please let me know if you need anything else or have any questions :)
![ucnext_homepage](https://cloud.githubusercontent.com/assets/13141571/14896360/3548b640-0d32-11e6-85f9-54c0880674eb.png)

[2016-04-28 18:30] ctrance commented on #439
Thanks @laurencullen!

[2016-04-28 18:30] #439 closed

[2016-04-28 20:11] ctrance commented on #384
@joshuaselsky - I'm done testing the ones that were highlighted as completed on google doc. I also added "Fixed" for those that are fixed and comments in red texts to mark those that still need fixing. I'll remove "ready for testing" label for now, please tag back if fixes are ready to test.Thanks!

[2016-05-03 15:33] ctrance commented on #386
@shaun965 @joshuaselsky - After reverting my iphone's display view back to "standard" (previously "zoomed") the issue went away. I'm closing this.
![img_1596 1](https://cloud.githubusercontent.com/assets/1034174/14988644/b470c838-1109-11e6-9d1c-38896342ad45.PNG)

[2016-05-03 15:33] #386 closed

[2016-05-03 15:38] ctrance commented on #357
@joshuaselsky @shaun965 - after reverting my phone's display view from "zoomed" to "standard" the issue went away. I'm closing this.
![img_1597 1](https://cloud.githubusercontent.com/assets/1034174/14988801/5fe3ed26-110a-11e6-856f-c291bd579fde.PNG)

[2016-05-03 15:38] #357 closed

[2016-05-04 20:48] joshuaselsky opened #440 "fix ImageTragick vulnerability"
https://imagetragick.com/

Validate incoming image headers and restrict uploads to PNG and JPG.

[2016-05-05 16:48] joshuaselsky commented on #440
Part one of this fix is [here](https://github.com/universityofcalifornia/chef-ucnext/commit/d86bbb03eb5ae2d92c1ea822e8097ce6b2914ebe) and deployed.

[2016-05-09 16:50] joshuaselsky opened #441 "update dependencies"
Please update the library dependencies to their latest versions. The idea is to turn everything that is yellow or red [here](https://gemnasium.com/universityofcalifornia/NeXt) to green. We can omit updating Rails for now.  Any dependency that is not used should be removed.

[2016-05-09 16:56] joshuaselsky opened #442 "increase test coverage"
A short goal for the next few weeks is to increase test coverage from 66% to 80%. It would be best to include functional tests for the controllers.

[2016-05-31 18:38] #440 closed

[2016-05-31 18:40] #344 closed

[2016-05-31 18:41] #441 closed

[2016-05-31 22:01] laurencullen opened #445 "2016 badges"
Sautter badges for 2016 and 2017
UCCSC 2016 presenter and attendee
Please let meknow if you need anything else with these

![sautter badges_hm2017](https://cloud.githubusercontent.com/assets/13141571/15691960/8e502a02-2740-11e6-9258-f9e7827800b5.png)
![sautter badges_silver2017](https://cloud.githubusercontent.com/assets/13141571/15691956/8e4b401e-2740-11e6-8a00-a906de88af23.png)
![sautter badges_

[2016-05-31 22:02] laurencullen commented on #445
@joshuaselsky not sure who to assign. Please let me know if you need anything else with these.

[2016-05-31 22:13] joshuaselsky commented on #445
Someone with an admin account just needs to upload these to staging and production.

[2016-06-01 22:10] ctmcintyre commented on #445
Beautiful1

--
Charles McIntyre
Manager, Infrastructure & Operations

Application & Project Management
Information Technology Services
University of California Santa Cruz

office: 831/459-5746
mobile: 831/239-5839

[2016-06-01 22:14] laurencullen commented on #445
@ctmcintyre thanks!
@rrocchio @joshuaselsky the badges are now up on staging and production. Please let me know if anything else is needed with these.

[2016-06-01 22:14] #445 closed

[2016-06-03 16:56] #442 closed

[2016-11-18 17:46] rrocchio opened #446 "Check into Elastic Search - looks like the VOTES indexes might be broken"
Check into Elastic Search - looks like the VOTES indexes might be broken

[2016-11-19 01:11] krozett commented on #446
The issue was a broken elasticsearch index. For reference, you can rebuild the indexes by doing:
`RAILS_ENV=production RELOAD_INDICES=1 bin/rails server` from the app directory. We'll have to do this regularly until the underlying problem is fixed.

[2016-11-19 01:11] #446 closed

[2016-11-19 01:17] krozett opened #448 "Trending ideas/projects are pulling the wrong objects back"
Elasticsearch is used to get the trending ideas/projects but there is a problem with these queries. They both do a search for all ideas *AND* projects and *assume* that what they get back is a list of IDs for only ideas *OR* projects, whichever page you are coming from. This is not the case. The list of IDs includes both ideas and projects, but the whole bunch is assumed to be all ideas (if you're

[2016-11-19 01:27] krozett opened #449 "Fix votes index on elasticsearch"
It's not being updated. Create a new idea/project but the votes will stay 0 forever unless you do an index rebuild.

[2017-01-04 23:53] krozett opened #450 "Accessibility check"
One big ticket for all accessibility issues. All issues caught by WAVE will either be fixed or explained below why they should not be fixed.

http://wave.webaim.org/extension/

[2017-01-06 21:38] ctrance commented on #450
@krozett - Do you want me to enumerate all issues from Wave on this big ticket or create separate tickets for each?

[2017-01-06 23:13] krozett commented on #450
@ctrance I think listing them all here is fine

[2017-01-09 15:30] ctrance commented on #450
@krozett - On Ideas page there's 1 alert for a redundant link (screenshot below).
![capture](https://cloud.githubusercontent.com/assets/1034174/21771752/82d504fc-d63d-11e6-93a4-2d0a94effcf3.PNG)

[2017-01-09 19:10] krozett commented on #450
@ctrance I think that is a false positive. The "2" and "Next" links both go to page 2. There isn't really a problem there.

[2017-07-24 23:26] krozett opened #452 "Initial migrations fail on recent MySQL versions"
There was a compatibility-breaking MySQL version update some time ago. I don't know the exact version change, but it results in this error when setting up your dev environment for the first time:

I think we need to update our mysql gem. But as a workaround, you can create a file called

[2019-08-20 16:02] Trott opened #462 "archive this repository?"
It seems to be very inactive?

[2020-02-25 13:39] Trott commented on #462
It seems like the website that this is for (https://ucnext.org/) doesn't exist anymore, and that this repository is entirely unmaintained other than dependabot updates. The last time anything happened here that wasn't a dependency update was September 2018. I'm going to archive the repository. It can always be unarchived.

[2020-02-25 13:39] #462 closed