[2014-12-16 16:58] ebollens opened #1 "Idea Resource"
Ideas include:
  * Founder :bowtie:
  * Description (with Markdown support)
  * Two levels of supporters [see #6]:
    * :star: would participate if it became a project
    * :+1: is in favor of someone doing this
  * Comments with support for replies (cyclical association) [see #7]
    * Can be deleted by admins, but not by founder
  * Status - forming, storming, norming, performing - where if st

[2014-12-16 17:02] ebollens opened #2 "Idea Search"
Search for ideas by:
  * Competency
  * Campus
  * Mission Category
  * String where weighted search across all fields using Elasticsearch

[2014-12-16 17:02] ebollens opened #3 "Organization Resource"
- One of the [parts of the UC](http://www.universityofcalifornia.edu/uc-system/parts-of-uc), including the campuses and those parts not otherwise affiliated with a particular campus:
  - UCB, UCD, UCI, UCLA, UCM, UCR, UCSD, UCSF, UCSB, UCSC, UCOP, LBL, LNL, LANL, ANR, UCH (and maybe CDL, UCL, UCDC, UCMC, etc.)

[2014-12-16 17:03] ebollens opened #4 "Project Resource"
Project details
  * Founder(s) :bowtie: (vanity title - otherwise no different than coordinator)
  * Coordinators(s) :shipit:
  * Contributor(s) :star:
    * One-liner they control about their role on the project
  * Supporter(s) :+1:
  * Incepting idea(s)
  * Description (with Markdown support)
  * Competencies sought
  * Links to website, GitHub, BitBucket, Gitter, Slack, etc. (**TO GROUP: any m

[2014-12-16 17:03] ebollens opened #5 "Project Quests"
From the [roadmap](https://github.com/universityofcalifornia/NeXt/wiki/Planning%3A-Roadmap):
- Project founders and admins should be able to create a project quest
- A project quest should have a description, an estimate of resources needed and a description on how to contribute
- Users should be able to volunteer for a project quest

---

FORMERLY, this issue was:
- Target date(s) for the task
-

[2014-12-16 17:19] ebollens opened #6 "IdeaSupport and IdeaSupportType Resources"
This relates to #1, namely that it makes it possible for a user to designate their support for an idea.

[2014-12-16 17:19] ebollens opened #7 "Idea Comments"
This relates to #1

  * Comments with support for replies (cyclical association)
    * Can be deleted by admins, but not by founder

[2014-12-16 17:20] ebollens opened #8 "IdeaStatus Resource"

[2014-12-16 17:21] ebollens opened #9 "Competencies Resource"
Associations to users, projects and ideas

[2014-12-16 17:21] ebollens opened #10 "Tags Resource"
Associations to users, projects and ideas

[2014-12-16 17:23] ebollens opened #11 "Users Resource"
- Profiles for each person including (and editing ability for the person themselves):
  - Name, email, phone, title, department and bio (with Markdown support)
  - GitHub, LinkedIn and Twitter accounts
  - Competencies list, where new competencies can be added into the system by any user, but when selecting skills, prompted to pick from a list of ones that have already been defined [see #9]
- Asso

[2014-12-16 17:47] ebollens opened #12 "Position Resource"
Many-to-many association between users and organizations

[2014-12-17 00:09] ebollens opened #13 "Edit User Resource"

[2014-12-17 00:09] ebollens opened #14 "User Competencies"

[2014-12-17 00:10] ebollens opened #15 "User - Position - Organization Management UI"

[2014-12-17 00:24] #11 closed, assigned to ebollens

[2014-12-17 00:24] #12 closed, assigned to ebollens

[2014-12-17 00:26] ebollens opened #16 "Organization Resource UI"
This isn't important right now, since we can just seed in all the organizations that are parts of the UC, but it might make sense eventually to have a UI for managing the organizations (such as if some other university system or whatnot chooses to use). Making an issue for this as such for the future just in case.

[2014-12-17 00:26] #3 closed, assigned to ebollens

[2014-12-17 03:28] ebollens opened #17 "IdeaStatus Resource UI"
At some point, we'll want to make it possible to add additional IdeaStatus types instead of just through a seeder. Definitely not a priority though.

[2014-12-17 03:29] #8 closed, assigned to ebollens

[2014-12-17 17:14] ebollens opened #18 "IdeaRoles Association"

[2014-12-17 17:19] #18 closed, assigned to ebollens

[2014-12-17 23:13] ebollens opened #19 "IdeaVotes in UI"
Right now, although the UI reflects people that have voted to support an idea, it does not allow you to actually vote for one (rather only inherits from the seeder). Obviously, need to add functionality to UI to make it possible to actually vote :tongue:

[2014-12-17 23:13] #6 closed, assigned to ebollens

[2014-12-19 18:59] ebollens opened #20 "Vote for Top Collaborators"
Let's have some sort of a leaderboard, maybe all-time and over some shorter duration like the last month, related to promoting individuals who are collaborating heavily.

This was raised on the NeXT call.

[2014-12-19 19:00] ebollens opened #21 "Leaderboard for Projects"
For projects on GitHub, BitBucket, etc., it is likely possible to monitor actual activity and list the projects that are most active over certain periods of time to promote them.

This was raised on the NeXT call.

[2014-12-19 19:08] rrocchio opened #22 "Cool Visualization, that shows the ideas as colorful dots at each of our campuses"
Cool Visualization, that shows the ideas as colorful dots at each of our campuses - this will inspire folks from each of the campuses to participate

[2014-12-19 19:24] ebollens opened #23 "[server] Shibboleth IdP Setups (Overview)"
* Get permissions from IdPs on all campuses to release `eduPersonPrincipalName`, `givenName`, `cn` and `mail`
* Configure shibboleth2.xml in [chef-NeXt](https://github.com/universityofcalifornia/chef-NeXt) for federated Shibboleth

[2014-12-19 19:24] ebollens opened #24 "Domain Name"

[2015-01-08 16:49] #19 closed

[2015-01-09 18:44] #1 closed

[2015-01-09 18:44] ebollens opened #25 "Assign Roles to Idea"

[2015-01-12 23:49] #9 closed

[2015-01-12 23:49] #13 closed

[2015-01-24 04:16] ebollens opened #26 "Infrastructure"
See https://github.com/universityofcalifornia/chef-NeXt for more details. Will close when this is complete.

[2015-01-24 05:45] ebollens commented on #26
universityofcalifornia/chef-NeXt@043770b58ff887b9a4a3297a4d10194b2f20073e added the foundational provisioning for user accounts, packages, etc., and universityofcalifornia/chef-NeXt@3439be26eab40a02f076a2db5dd58eb0bbf296f1 adds the app and database configuration. The former has been tested deployed onto EC2, while the latter is confirmed working through Vagrant. Later tonight, I'll be blowing away

[2015-01-28 02:50] #14 closed

[2015-01-28 02:53] ebollens commented on #26
The authentication proxy for http://next.eb.io is now deployed. Essentially, when you hit Login (or go to a user profile or other place that requires login), the app forwards you to the auth proxy, where it binds you to a fake eppn, and then sends you back to the app. All you'll see for now is a quick blink of a page with a button reading "Continue" before it sends you back. In the future, once we

[2015-01-28 02:53] #26 closed

[2015-01-30 22:37] ebollens opened #27 "Pre-populated Ideas"
Everyone, please post ideas that we can pre-populate into the "Ideas" section for the ITLC demo.

[2015-01-30 22:39] ebollens opened #28 "Pre-populated Projects"
Everyone, please post projects that we can pre-populate into the "Project" section for the ITLC demo.

[2015-02-07 01:44] #4 closed

[2015-02-13 18:15] ebollens commented on #27
From today's meeting:

* UC “quora” system
* systemwide tech talks

[2015-02-13 18:59] ctmcintyre commented on #27
Adding "Live Feed" to the platform for project milestones, questions, collaboration, networking

[2015-02-13 19:19] ebollens opened #29 "User Experience Improvements"

[2015-02-13 21:45] ebollens commented on #2
When new data is imported into MySQL via a dump, do the following on the server to get the new data initialized into Elasticsearch:

1. Change config.ru `RELOAD_INDICES` to `true`
2. Kill the thin process
3. Run `chef-client -E preview`
4. Change config.ru `RELOAD_INDICES` back to `false`

It ain't pretty but no reason to spend more effort on making something more streamline there, since the whole

[2015-02-13 21:46] ebollens commented on #2
Now that we're indexing, the next step is to connect Elasticsearch up with the search box. That's going to be the most "interesting" bit of this.

[2015-02-13 21:50] ebollens opened #30 "Fix CI Tests (when no ES index exists)"
Travis started failing as soon as the Elasticsearch stuff was added, because Travis isn't running Elasticsearch on the node. Should look at how to either add Elasticsearch to Travis or how to fail gracefully in regards to not having an Elasticsearch indexer.

[2015-02-23 18:13] indifferent66 commented on #27
Systemwide employee feedback and appraisal system. This system could help to standardize rating systems, foster cross-campus growth, and provide much needed data on the health of the organization at all levels. Further, it could allow for peer reviewing and continuous feedback channels.

[2015-02-23 18:16] indifferent66 commented on #27
Technical and administrative cross-training opportunities. Such opportunities could allow for such personnel to shop for courses and certifications that could help individuals move to a function that best fits their interests. Often individuals join the university at a convenient time and may find themselves 'stuck' in a role that matches their skills, but not their desired goals. For instance, em

[2015-02-23 21:10] rrocchio commented on #27
Make the Shared Time Reporting System Mobile Enabled

[2015-02-23 21:11] ctmcintyre commented on #27
Adapt best of private industry organizational cultural design and management to higher ed culture

[2015-02-23 21:17] ctmcintyre commented on #27
Heavily incentivize implementation of IT operational efficiencies. Example: Spend $100k to gain $1M in operational savings; get $200k added one-time to budget.

[2015-02-23 21:20] rrocchio commented on #27
IDEA:  Modernize the UC Recruit application

When do people search for jobs?  When they are in line at the coffee shop, while sitting in the airport etc..  What kind of device do they use in these places?  Their phones.  With the UC's best attempts to attract a diverse faculty and staff we should be considering how to make our shared applications Responsive and Mobile - Friendly.  It seems  to be

[2015-02-23 21:24] ctmcintyre commented on #27
Like zappos.com HR model, at performance review time, offer all employees $10k if they want to leave UC.

[2015-02-23 21:27] ctmcintyre commented on #27
Job rotation between IT staffers in administrative and academic/research areas.  Give traditionally admin IT staff ability to work on curing cancer or finding alien life; and give traditionally research IT staff the ability to make sure entire campus can authenticate and students get into the classes they want.

[2015-02-23 21:28] ctmcintyre commented on #27
Offer all UC Staffers paid time to work on UC's "public service" projects

[2015-02-27 01:22] #27 closed

[2015-02-27 01:22] #28 closed

[2015-02-27 01:23] #2 closed

[2015-02-27 01:24] ebollens commented on #2
Who wants to be a n00b and only search for ideas and only by lame restricted options? The Elasticsearch indexer stuff is now committed such that you can search project, ideas, people or all three at once. It's handling weighting, relations, etc.

[2015-03-07 01:30] #30 closed

[2015-03-07 01:30] #29 closed

[2015-03-07 01:31] ebollens commented on #25
From the [roadmap](https://github.com/universityofcalifornia/NeXt/wiki/Planning:-Roadmap):

* Should be possible to assign founders for an idea
* Should be possible to assign founders and admins to a project

[2015-03-07 01:31] #24 closed

[2015-03-07 01:32] ebollens commented on #24
The domain name ucnext.org was acquired by Jake for three years.

[2015-03-07 01:34] #15 closed

[2015-03-07 01:35] ebollens commented on #10
I'm going to close this issue, as competencies seem the right way to go, and we've got those implemented.

[2015-03-07 01:35] #10 closed

[2015-03-07 01:35] ebollens commented on #7
This is on the roadmap as something that we want to have for the initial release. Assigning it to milestone 1.0.

[2015-03-07 01:38] ebollens opened #31 "Improve Search to Consider Popularity/Newness"
Currently, search simply returns the best match. This should be improved so that it returns not just based on best match, but also factors in popularity for ideas (the number of "likes") and new-ness for projects and ideas.

[2015-03-07 01:39] ebollens opened #32 "Dashboard Suggested Projects and Ideas"
Right now, we just present a smattering of projects and ideas. We should update the dashboard so that ideas and projects are suggested that relate to the user's competencies (and if there aren't enough, then start suggesting just random ones based on newness/popularity such as described in #31).

[2015-03-07 01:40] ebollens opened #33 "Idea & Project Creation Dates"
Right now, when you create an idea or project, the creation date is defined at that time; however, this doesn't capture those that are already in progress. As such, we should allow an idea/project admin to be able to change the creation date.

[2015-03-07 01:41] ebollens opened #34 ""I Like" and "Would Support" Improvements"
Two items from the [roadmap](https://github.com/universityofcalifornia/NeXt/wiki/Planning%3A-Roadmap):

* Should be possible to change your "I Like" and "Would Support" preferences
* When "Would Support" is picked, should be possible to say "With Funding" or "With Time", and an amount

[2015-03-07 01:41] ebollens opened #35 ""Request to Join" a Project"
From the [roadmap](https://github.com/universityofcalifornia/NeXt/wiki/Planning%3A-Roadmap):

* Should be possible for a person to request to join a project (including a statement about why they'd like to join, how they'd like to contribute and how much they can contribute)
* Project admins should be able to manage join requests and add people to a project from them

[2015-03-07 01:48] ebollens opened #36 "People Listing Interface"
Improve people interface to be more useful for browsing (such as filtering by organization or competency)

[2015-03-07 01:49] ebollens opened #37 "Event Calendar"
* Should be possible to post an event that you're hosting
* Should be possible to post co-organizers for the event
* Should be possible to RSVP for an event (and for event organizers to view the RSVPs)
* Should be possible to see what events a user RSVP'd for

[2015-03-07 01:49] ebollens opened #38 "Idea -> Project Workflow"
* When an idea is ready to become a project, should be possible to press a button to spawn a project from it

[2015-03-07 01:50] ebollens opened #39 "[design] Define User Interface Tasks"
Right now, the [roadmap](https://github.com/universityofcalifornia/NeXt/wiki/Planning:-Roadmap) states:

* Define and implement a look-and-feel for the site including masthead, content region and footer
* Define common user interfaces such as typography, buttons, panels, forms and user-friendly selection boxes

This task is a meta task where someone needs to define the tasks that are required for

[2015-03-07 01:50] ebollens opened #40 "Software Badging"
Provide badges from Travis CI, Code Climate, Gemnasium, Coveralls, RubyGems, NPM, PyPI, Bower, Scrutinizr and Semaphore for projects that utilize these services

[2015-03-07 01:50] ebollens opened #41 "Project Commendations"
Should be possible for a project coordinator (or maybe any member of a project) to commend someone on a project

[2015-03-07 01:51] ebollens opened #42 "Event Commendations"
Should be possible for an RSVP'd person to commend an event

[2015-03-07 01:51] ebollens opened #43 "Person Recommendations"
Should be possible to post a recommendation for someone on their profile (approved by that person)

[2015-03-07 01:51] ebollens opened #44 "[badges] Badging for Event/Project Commendations"
People should receive badges when they're commended for projects/events

This relies on #41 and #42

[2015-03-07 01:51] ebollens opened #45 "[leaderboards] Idea Leaderboard"
Add a leaderboard for ideas with the most interest over the past X days

[2015-03-07 01:52] ebollens opened #46 "[leaderboards] People Leaderboards"
Add leaderboards for people that have received commendations for projects and/or events

[2015-03-07 01:52] ebollens opened #47 "Define Analytics Platform Should Capture"
Determine strategy and implement analytics to study trends in ideation, idea -> project workflow, etc.

This task is a meta-task that should then spawn additional issues for implementing individual analytics outputs.

[2015-03-07 01:52] ebollens opened #48 "[tests] Achieve 90% Test Coverage"
We've slowly had our test coverage creep down given the pace of development. For quality assurance, we need to get that back up. 90% seems like a good point to shoot for in the nearterm.

[2015-03-07 01:54] ebollens opened #49 "[tests] Improve Code Quality Score on CodeClimate"
Similar to #48, we should work on improving our code quality so that it scores AT LEAST a 3.5 on CodeClimate

[2015-04-24 16:16] jurowski commented on #37
The last 2 days I've been testing out a [jquery/rails calendar solution](https://github.com/vinsol/fullcalendar_rails) ... [demo of that solution here](http://vinsol.com/fullcalendar-demo) ... which I'm currently working on merging into my local NeXt app. Once it is successfully merged and functional in single-user mode storing the events, my plan is to add multi-user support to the event creation

[2015-05-01 07:31] rrocchio opened #50 "[design] Manage the Design Contest for a logo for UC NeXt"
Come up with a series of UC NeXt logo options and let the team vote on the one that they like the best - by setting up a poll

[2015-05-01 07:33] rrocchio commented on #45
@ebollens  - Is this a new logged in view, and is it different than the "Popular" ideas on the front page of UC Next?

[2015-05-01 07:38] rrocchio opened #51 "[design] MANAGE the Design Contest for the UC NeXt site"
This task is about sourcing designs for the UC Next website.  The thought is to use the websiite - http://www.designcrowd.com to get this done.

This way we will get options and then we can vote on them...

[2015-05-01 07:40] rrocchio opened #52 "Add Google Analytics to the site"
Add Google Analytics to the site

[2015-05-01 07:43] rrocchio commented on #40
@ebollens  - are we talking about integrating Openbadges?  I think we should integrate with http://openbadges.org/   - so that lots of skills including could be collected and verified badges could be displayed?

OR - are we talking about providing an INTERNAL to the UC badging set?

[2015-05-01 07:48] rrocchio opened #53 "[badges] Badging for Skill Competency - courses taken, certificates earned etc..."
This is for people to put these badges on their digital profiles - so that they can show off their accomplishments

[2015-05-01 07:49] rrocchio commented on #43
Such a recommendation, should go on their UC Next PROFILE

[2015-05-01 08:02] rrocchio opened #54 "[people] Include the detailed profile fields into the People "profile" that you get under the Nav"
When users go in and edit their PROFILEs - many of the fields don't show up on the view that comes up off of the person's name link under the People Nav

[2015-05-01 08:07] rrocchio commented on #37
I think that this will be a COOL tie-in with UCCSC... since we could talk to them in advance about getting their feedback surveys done immediately on the UC NeXt site - also, it will drive ALOT of Awareness about UC Next into the UC IT community !

[2015-05-01 08:09] rrocchio commented on #37
QUESTION for ALL - should we limit EVENTs listed on UC NeXt - to those that are HOSTED by one of the 10 campuses... OR should we let others post events that they are going to more locally, like Meetups or even national events like Educause?

[2015-05-01 08:13] rrocchio commented on #39
Since this is related to Design, I think we should divide up these tasks after we select a design

[2015-05-01 08:24] rrocchio commented on #54
Users will get upset - if they work on Adding all sorts of details - such as included in the 'EDIT PROFILE' screen and then no one can FIND those Details....

[2015-05-01 08:40] rrocchio commented on #20
I believe that this is a duplicate of People Leader Boards...

[2015-05-01 08:40] rrocchio opened #55 "[ideas] on the IDEAS board NeXters should be able to change their VOTES"
NeXters should be able to change their VOTES on ideas

[2015-05-01 08:43] rrocchio commented on #35
- We also need to add a way for NeXters, to "Like" a Project, so they can say that they think its a great project, they can ask to Join, they can say that they want to explore using it at their campus.... etc...

[2015-05-01 08:44] rrocchio commented on #42
I think that this should be milestone 1.0 - to encourage the UCCSC - to promote UC NeXt

[2015-05-01 15:11] jurowski commented on #51
I've got a subscription to this site, there might be some good infograph ideas that we could implement to help w/ marketing and the homepage: http://piktochart.com/v2/

[2015-05-01 15:18] jurowski commented on #23
!!! do also build in the ability to have local database authentication ... for devs especially but will also be useful for external users to create industry events

[2015-05-01 15:19] jurowski commented on #23
(don't actually let external users create accounts except through a back-door URL0

[2015-05-01 15:20] ebollens opened #56 "Add Local Login"
Should be possible to login locally - for developers on their local environments - so they don't need the shib/oauth bridge.

[2015-05-01 15:26] rrocchio commented on #37
Requirements:  - Who can post EVENTS - ONLY UC employees
Events - something that has a date?  Otherwise ideas for events - go into Ideas....
- HOW do we tie EVENTS into Ideas and OR Projects...

[2015-05-01 15:27] rrocchio commented on #37
Thinking ABOUT - how do we do this with Tags... possibly

[2015-05-01 15:27] jurowski commented on #37
--we decided for now, events should only be added by UC users
--associate events to projects and ideas (UI will need to be decided on how to connect them ... tags, etc.)

[2015-05-01 15:33] jurowski commented on #37
"people in the UC can ‘sponsor’ an external entity" --Eric

--get this task broken into several sub-tasks

[2015-05-08 03:51] ebollens commented on #56
In 008ed82d4673939054f4df1f1b6c43f193783daf, I've added support for local accounts.

Details for local login (including how to enable/disable local authorization) can be found in the README under [Setup > Authorization > Local Users](https://github.com/universityofcalifornia/NeXt#local-users).

[2015-05-08 03:51] #56 closed

[2015-05-08 13:22] rrocchio commented on #50
The design request has been put into Designcrowd.com
![screen shot 2015-05-08 at 6 19 10 am](https://cloud.githubusercontent.com/assets/718820/7537063/96b19bc8-f54a-11e4-83a6-ab718cc42335.png)

[2015-05-08 13:28] rrocchio commented on #50
One of the cool things, is that we can vote the results.
This is the cost is:
![screen shot 2015-05-08 at 6 24 02 am](https://cloud.githubusercontent.com/assets/718820/7537168/73597fc8-f54b-11e4-843f-74ae4fb53dba.png)

[2015-05-08 13:41] jurowski commented on #42
Moved it to 1.0 as per Rose's suggestion.
Assigned to UCSD. We got this.

[2015-05-08 13:47] jurowski opened #57 "[events] build event MVC"

[2015-05-08 14:01] jurowski commented on #57
Assumptions
-----------------
events are public by default
events can be set to be visible to one or more NeXt groups
events are one-time (develop recurring events later)
    (for now, you can copy in details from a previous event you own)

Event Attributes
---------------------
name
description
start date
stop date
start time
stop time
location
promo_image
event url
map url
number_going
number_in

[2015-05-08 14:07] jurowski opened #58 "[groups] Groups Discussion Ticket (overview)"
If we want people to feel involved, we should give them "groups" to join on NeXt.

A group has a particular shared interest. The shared interest could be to discuss a project or idea or set of projects/ideas.

Similar to an email discussion group, but with many more features because it's linked to the other NeXt  attributes.

You subscribe/unsubscribe.
You can get notices when someone posts someth

[2015-05-08 14:11] rrocchio commented on #51
Ok - so I have saved a DRAFT of the Creative Brief - will discuss today, before I pull the trigger

![screen shot 2015-05-08 at 7 10 40 am](https://cloud.githubusercontent.com/assets/718820/7537960/7bc5d5f2-f551-11e4-824b-dd3a3910a663.png)

[2015-05-08 14:13] rrocchio commented on #51
OK - so for 20 designs and it is $340 and if we want CSS code that adds $150 more... discuss usefulness of the CSS code
![screen shot 2015-05-08 at 7 12 52 am](https://cloud.githubusercontent.com/assets/718820/7537998/c5c9a1c4-f551-11e4-8b70-9c8bf0b7c731.png)

[2015-05-08 14:15] jurowski opened #59 "[discuss] should we combine the back-end on the ideas and projects? (structure is very similar)"
Chris H. had asked me yesterday after looking @ the models for Idea and Project whether they should be combined into one model, with a boolean flag to indicate if it was an idea or project.

Thoughts on that?

[2015-05-08 14:17] jurowski commented on #51
CSS cost: worth it. CSS can be tedious to get just right when trying to replicate a look/feel, so I'd say go for it.

[2015-05-08 14:23] jurowski opened #60 "[events] send invites with response links"

[2015-05-08 14:24] jurowski opened #61 "[events] RSVP to an event"

[2015-05-08 14:24] jurowski opened #62 "[events] view My Upcoming Events"
for events you have RSVPed to

[2015-05-08 14:26] jurowski opened #63 "[events] view events in month/week/day calendar format"
toggle events by groups you are a part of
potentially toggle by suggested groups (ones that share the same group tags?)

[2015-05-08 15:13] rrocchio commented on #50
Meeting Discussion notes:  Focus on Ideas  - Projects - Collaboration - Rockets? trajectories...

https://www.google.com/search?q=rocket+logo+vector&espv=2&biw=1445&bih=645&source=lnms&tbm=isch&sa=X&ei=I9JMVZCFMtLUoASWw4GACQ&ved=0CAYQ_AUoAQ

[2015-05-08 15:21] rrocchio commented on #51
Meeting notes: ...- lightblub...-> blue print --> paper airplane ( teamwork - collaboration... - assembly) -> rocket ( new service )

[2015-05-08 15:30] rrocchio commented on #58
Groups or Teams ?

[2015-05-08 15:32] rrocchio commented on #58
Dev Channels - for teams - IRC, Slack ...

[2015-05-08 15:34] rrocchio commented on #58
We NEED to think about ways to encourage "Mentoring" and "Coaching" - GENIUS bar - having people "manning" the Genius bar concept....

[2015-05-08 15:44] rrocchio commented on #58
Project teams are linked to projects, but projects could be linked to groups

[2015-05-08 15:53] jurowski commented on #51
For the "lightbulb" stage... when someone is putting an idea together, it might be cool to show a campfire w/ people sitting around it, discussing... perhaps w/ stars/moon above (dreaming of what could be)

[2015-05-08 16:17] ctmcintyre commented on #59
Since our current idea is that projects would be jettisoned from the
platform (we won't be providing project support), having a boolean for
idea/project seems fine.  I look at it as stages of an idea, caterpillar
to butterfly style (hairbrain idea->gaining traction->resourced->becomes
a project->fails or delivers).

--
Charles McIntyre
Manager, Infrastructure & Operations

Application & Project Ma

[2015-05-08 20:05] pmeads opened #64 "[Ideas] You shouldn't be able to vote for abandoned ideas"
Ideas with a status of 'abandoned' shouldn't receive votes and maybe shouldn't even show up on the ideas/index (list) page. Or, if they do show up, they should appear at the end and grayed out.

[2015-05-08 20:20] pmeads opened #65 "[ideas] If you support an idea, ideas list page should tell you and how you support it"
Instead of "Supported by 3 (2 would participate)," small text should read something like "Supported by you and 2 others (you and 1 other would participate)"

[2015-05-08 20:42] pmeads commented on #55
Based on whether you are a supporter or a participator, you should have buttons available on the top right of the idea detail page. Supporters of an idea might have "I wish to participate" and also "I no longer support this idea." Participators might have "I support this idea but can not participate" and maybe "I no longer support this idea" to bow out altogether.

[2015-05-12 16:35] chabgood commented on #57
Maybe have a clone button next to events that you own?

[2015-05-13 20:44] pmeads commented on #54
I was only able to find 2 fields on the people profile detail (user/show.erb) view that were missing from the people edit  (user/_form.erb): the user.name_suffix and position.description. I added these fields in a branch off my fork and created a pull request for you to review.

[2015-05-15 15:12] rrocchio commented on #50
Design Project has been kicked off on DesignCrowd.com

[2015-05-15 15:23] ebollens opened #67 "Shibboleth Recipes on Server"
Use the ECTG ones, but tweak them to fit the UC Next use case.

[2015-05-16 13:36] jurowski opened #68 "[activity feed] Display an activity feed: people creating events or ideas, joining a group or a project"

[2015-05-16 13:49] jurowski commented on #68
Rose also brought up this site as a potential method of showing recent activity (in this case it is used to show the latest social media items): https://social.chapman.edu/

[2015-05-22 14:57] jurowski commented on #57
Chis is developing the events features in the branch "event_build_mvc_57"

[2015-05-22 21:05] rrocchio commented on #51
OK - here are the progressions of logos from one of the designers:
![logo 1](https://cloud.githubusercontent.com/assets/718820/7779715/a70c7c12-008b-11e5-871c-9ed43721c31b.JPG)
![Uploading logo 2.JPG…]()
![logo3](https://cloud.githubusercontent.com/assets/718820/7779714/a70c6e52-008b-11e5-84c5-b831eb953c33.JPG)

[2015-05-22 21:53] jurowski commented on #51
If you do end up keeping both the lightbulb and the rocket and lose the
face, you could pipe that blue line on the bottom of the X over to the
bottom of the dots on the idea, as if the idea was being pushed through a
pipeline until it was ready to become rocketfuel.

Yes, it is Friday.

On Fri, May 22, 2015 at 2:05 PM, RoseRocchio <notifications@github.com>
wrote:

[2015-05-26 04:37] ebollens commented on #67
See pull request universityofcalifornia/chef-NeXt#1 for the resolution to this.

[2015-05-26 04:37] #67 closed

[2015-05-26 19:10] jurowski commented on #58
Some examples of "groups":
--financial applications developers
--java developers
--java spring security
--mysql developers
--database developers
--informatica
--identity management
--network security

[2015-05-26 19:12] jurowski commented on #57
Relationships between event and group:
 1)  ownership: an event belongs to a group (optional)
  1) related, as in a "tag" or "potentially interested":
      events:groups many-to-many

Some examples of "groups":
--financial applications developers
--java developers
--java spring security
--mysql developers
--database developers
--informatica
--identity management
--network security

[2015-05-29 15:13] rrocchio opened #69 "[Projects] Enhance the Project details"
This task is about enhancing the project specific details:

1) Add the ability to upload documents  ( maybe the limit is 2-3)
2) Add a status field for what stage the project is in - proposal, analysis, prototype, development, rollout, production
3) Add information for resources needed  by the project
4) Add voting similar to the Ideas voting

[2015-05-29 15:20] rrocchio commented on #59
Charles, we actually disagree, and feel that they should be kept separate.
We discussed this at the last meeting, and today as well, we don't agree that they should share a backend since they can have a many to many or an one to many relationship...
Ideas - are different in nature, and as far as supporting project collaboration - I think that the platform should do this

[2015-05-29 15:50] rrocchio commented on #63
@chabgood - when you put "ready" label on this... does that mean its done?  I have a QA person, that I will assign to help us on this project, but you are going to need to package up your code into a pull request, so she can test it.

[2015-05-29 15:51] rrocchio commented on #63
@jurowski  - are you going to go over @chabgood's code... - Also, do you want to size the tasks that he is going to do, or is he going to do it?

[2015-05-29 15:51] rrocchio commented on #61
@jurowski  or @chabgood  - can one of you guys either Size this task, or break it down into smaller tasks

[2015-05-29 16:15] rrocchio commented on #68
@jurowski  - not sure that this is in our current DEV plan, but I think it would be nice in the future

[2015-05-29 16:18] rrocchio commented on #54
@ebollens  - I don't see this pull request - do you see it?

[2015-05-29 16:19] rrocchio commented on #54
@pmeads  - it seems like you finished this, once its done we can submit it to QA, I am adding a QA resource to the project soon!

[2015-05-29 17:43] pmeads commented on #54
@rrocchio - there was a merge request that Eric merged 2 weeks ago. check #66

[2015-06-01 21:07] jurowski commented on #60
Sizing @ 8 since no email functionality built into the app yet

[2015-06-01 21:10] jurowski commented on #58
Estimating 24 hours for remaining groups functionality. Will break into 3 or more tasks.

[2015-06-01 21:11] jurowski commented on #63
Estimating 16 hours for now, will break into 2+ parts

[2015-06-01 21:13] jurowski commented on #23
SJ: going to break into multiple tasks

[2015-06-01 21:46] ctmcintyre commented on #59
I concur with you Rose.  I didn't think of the many to many relationships.  I'm OK with having separate backends for ideas and projects.

[2015-06-02 17:15] #57 closed

[2015-06-03 19:54] krozett commented on #69
2) It turns out projects already have statuses, and these 3 are the available ones: forming, active, abandoned. Is this a different status field or the same one? If the same, do we need to keep any of the old statuses around?

[2015-06-03 23:20] pmeads commented on #54
pull request merged. closing

[2015-06-03 23:20] #54 closed

[2015-06-05 14:55] jurowski commented on #58
making this an "overview" discussion ticket; creating 3 others.

[2015-06-05 14:58] jurowski opened #74 "[server] get shib installed on server"
Once this is installed, I'll work with our IDM team to get it registered w/ UCNext

[2015-06-08 18:23] krozett commented on #69
3) Should these resources be free-formed or is it more like picking from a list like the competencies are?

[2015-06-08 18:34] rrocchio commented on #69
@krozett  -

Lets do a combo - so Resources needed should fall into 3 categories:

1) Infrastructure Resources (Physical or Virtual):  HW, VMs for DEV/TEST/PROD, Storage, Networking, Devices for testing...
2) Expertise Resources Needed:  A DBA, an HPC expert, A UX Designer  ( The competency list may work here)
3) Business Partner Collaborators Needed:  HR Specialist, Marketing Specialist etc...

[2015-06-08 18:40] rrocchio opened #76 "[Projects] Add a new field for "Problem Statement" to the top of the Project form"
Add another field to the Project form, called "Problem Statement" to the top of the "Create Project" form.  The field should be a Blob in the database, and not limit the project creator.

[2015-06-08 19:01] rrocchio opened #77 "[Projects] - Changes to the Project Form ( Limits, Help and validation)"
We need to add and communicate the limits of each field to the users, so that it is easy to know from the project creator's perspective how much detail to go into before filling out the form.

1) For example the field "Pitch" should be limited to either 500 words or 2000 characters
I think that we should put these limits on the bottom lower right hand side of each input field.

2) We should find a

[2015-06-08 19:04] ctmcintyre commented on #77
Agreed on 1).  Let's also keep field lengths shorter than longer (less is more).

[2015-06-08 19:07] rrocchio commented on #69
@krozett  - it turns out that Eric already had a "status field on the form", but it only had these values in tint:
"forming" "active" or "abandoned"....
I think that we take his original status field and change it to "phase"  and for use these values:
(1) forming  -  recruiting resources
(2) Active -  fully resourced
(3) Successfully completed
(4) Deployed
(5) Abandoned

[2015-06-08 19:08] rrocchio opened #78 "[Projects] - Change current "status field" to "Phase" field & add values"
@krozett - it turns out that Eric already had a "status field on the form", but it only had these values in tint:
"forming" "active" or "abandoned"....
I think that we take his original status field and change it to "phase" and for use these values:

(1) forming - recruiting resources
(2) Active - fully resourced
(3) Successfully completed
(4) Deployed
(5) Abandoned

[2015-06-08 21:18] krozett opened #80 "Flashes are not working correctly"
There's two issues here:
1. Flashes are losing their styling and any HTML that went into them. (For example, go to a project page you haven't voted on yet, vote for it, and look at the alerts. You'll see escaped HTML rather than actual tags.) Somewhere down the pipeline we are escaping HTML that should not be escaped.
2. Flashes don't display at all when a return_to is specified in params. I suspe

[2015-06-08 21:54] krozett commented on #69
@rose - okay, I updated the text to say "phase" and added the new phases.
You will need to run `bundle exec rake db:seed RAILS_ENV=development` to update the list.

I only changed the user-facing text but kept the internal name as "project_status". It doesn't seem worthwhile to change it everywhere internally unless we are really being strict about this.

[2015-06-08 22:04] krozett commented on #69
@rose - it seems like both "Expertise Resources Needed" and "Business Partner Collaborators Needed" fall under "competencies". What do you think about putting them both under the heading of "Staff Resources Needed", and it will pull from the list of competencies? And change "Infrastructure Resources Needed" to "Technical Resources Needed"?

[2015-06-11 22:24] pmeads commented on #7
Pull request merged in #71

[2015-06-11 23:12] jurowski opened #82 "[server] register prod server with UCTrust"

[2015-06-11 23:13] jurowski opened #83 "[server] UCSD - register to share IDP info with NeXt@UCTrust"

[2015-06-11 23:14] jurowski opened #84 "[server] UCLA - register to share IDP info with NeXt@UCTrust"
(pending ... will occur after app is registered)

[2015-06-11 23:14] jurowski commented on #83
(pending ... will occur after app is registered)

[2015-06-12 15:38] rrocchio opened #85 "[server] Need the smtp server address to use for sending email from the UC Next App"
Since we are going to be sending email from the UC Next App, we need the smtp server address that it will go out thru.

We will use UCSC's and Charles will create a Team account on that server, that the email will come ffrom

[2015-06-12 16:01] pmeads commented on #55
"withdraw support" or "withdraw participation"

[2015-06-12 16:01] rrocchio commented on #55
I think that the appropriate action is to just "Withdraw Support", "Withdraw Participation"

[2015-06-12 16:02] rrocchio commented on #55
Future - might break this into:  Support, Interest, Commitment

[2015-06-16 00:10] ctmcintyre commented on #85
I'm not sure of the entire spec here, so please let me know if I'm
missing something.

I can request a functional account on the UCSC Google email server.
This will allow IMAP and SMTP so we can receive and send email.

Our domain is "@ucsc.edu", so I'm thinking "ucnext@ucsc.edu" would be
best.  I've already reserved that name as a google group, so if everyone
likes the name I can have it changed

[2015-06-19 15:32] rrocchio commented on #80
Some issues with flashes on the messaging... - Sandon suggests chabgood@gmail.com

[2015-06-19 16:02] #60 closed

[2015-06-19 16:57] krozett commented on #53
See https://www.khanacademy.org/badges for some good ideas. @rrocchio and I talked about having different categories of badges based on rarity, prestige, how they are earned, etc. Would also be good to have a place for users to showcase certain badges (within a certain limit) and from there have a link to the page with all their badges.

[2015-06-19 17:00] krozett commented on #80
This problem doesn't exist on ucnext.org, waiting for an up-to-date deploy to see if this is still an issue. It may be something to do with my local server.

[2015-06-19 17:20] chabgood commented on #68
since we are running node we can do websockets and have the feed show up as they are created or updated.

[2015-06-19 17:21] chabgood opened #92 "Add Date and Time to Event"

[2015-06-22 21:02] chabgood opened #94 "Groups(Add/join)"

[2015-06-22 23:42] krozett commented on #77
I think input placeholders are the quickest way to convey example information, but I also did the help bubbles too for explanations of the fields.

[2015-06-23 13:48] rrocchio commented on #78
@krozett  - has this code been merged?

[2015-06-23 14:00] rrocchio opened #96 "[Badges] We will do a second kind of Badges for Awards"
Thinking we will need 3 tables - one for the Awards themselves, and then one to record the people who gave them and a third to store who can edit the awards

One that stores the Award Badges infos

THE TABLE ABOUT THE AWARDS should have these fields:

TABLE NAME:  TBL_AWARD_BADGES

Award_Badge_id
Name of Award Badge
Description of Award Badge
Date Awarded
Website
Type of Award
Badge Image
Badge Im

[2015-06-23 14:08] rrocchio commented on #96
@krozett  - there is a specific Award to be given
called the Larry Sautter award   - check out this website - http://cnc.ucr.edu/sautter/ - it will give you a good idea of this type of award and we can figure out what else we might want to store regarding these awards!

[2015-06-23 14:08] rrocchio commented on #96
@ctmcintyre  - do you have anything to add here?

[2015-06-23 14:17] rrocchio opened #97 "[Badges] - Research Mozilla Open Badges and make sure we are leveraging it"
Also - check into what IMS Global is doing to make Open Badges a standard

[2015-06-23 17:52] krozett commented on #78
@rrocchio - yes, but we'll need to re-seed the data in order to see the new values in production.

[2015-06-23 18:20] pmeads opened #98 "[ideas] [comments] Comment form should only appear for authenticated users"

[2015-06-26 19:26] pmeads commented on #64
Should abandoned ideas even be displayed in the list of ideas?

[2015-06-26 19:36] #92 closed

[2015-06-26 20:22] ctmcintyre commented on #64
For now, if they're sorted towards the bottom, probably OK.

--
Charles McIntyre
Manager, Infrastructure & Operations

Application & Project Management
Information Technology Services
University of California Santa Cruz

office: 831/459-5746
mobile: 831/239-5839

[2015-06-26 22:10] pmeads commented on #35
What is the difference between "joining" a project and "contributing" to the project? Users can already indicate that they would like to contribute to the project.

[2015-06-26 22:12] pmeads commented on #59
Closing. Ideas and Projects will remain separate.

[2015-06-26 22:12] #59 closed

[2015-06-30 19:24] krozett commented on #96
@rrocchio - a few questions:
1. What is UC_Loc_id?
2. EPPN is a Shibboleth thing, right? Do we need to record this? It seems to me that NeXt user ids should suffice for both award editors and recipients.
3. What is "group or individual" in the first table?

I think we should resist the temptation to put as much info as possible in the tables, because a lot of it is going to be dependent on the awa

[2015-06-30 19:28] krozett commented on #96
@rrocchio - further thoughts... do we even need to separate badges and awards this much? I think that from the point of view of NeXt, they are images attached to some extra information. We don't have a system in place to grant badges yet. Giving a competency-based badge and an award badge are pretty much the same thing, aren't they?

[2015-07-02 15:35] rrocchio opened #102 "Come up with our plan for a first version gamified Leaderboard - add a contest element to it"
This will be something that we launch at UCCSC - to get the site launched....

[2015-07-06 16:57] ctmcintyre commented on #85
OK.  I've got a google email account for "ucnext@ucsc.edu" that supports IMAP and SMTP.  Who wants it?

[2015-07-06 16:57] #85 closed

[2015-07-06 22:36] pmeads commented on #98
fixed in pull request #100

[2015-07-10 15:26] ebollens opened #106 "[Email] Foundational Abstraction"
We need to implement a basic email abstraction that:

1. Takes sender name/email, receiver name/email, subject and content
1. Accepts a view for the contents of the message
1. Passes data to that view

Once this is done, then we can start adding emails to the system.

This came out of today's SCRUM.

[2015-07-10 15:27] ebollens opened #107 "[Email] Scope out what emails should be sent"
This is a non-development issue that is to go through UCNext and figure out what actions should trigger emails to be sent.

[2015-07-10 15:28] ebollens opened #108 "[Email] Add Email Sends Throughout Site"
Once #106 (foundation for sending emails) and #107 (scoping what should trigger emails) are done, then we need to go about actually laying the emails into the system in these places.

[2015-07-13 17:47] krozett commented on #80
This is still an issue. It wasn't showing up on ucnext.org at the time because that code was not up to date.

[2015-07-17 05:51] krozett commented on #96
After going over the fields closely again, I realized that most of these fields can actually be derived in other places. For example, 'date awarded' would simply be the created_at time in the UserBadge model. Number of awards given could be calculated by doing simple SQL counts. The only field I had to add was website URL. I ended up going with STI (single table inheritance) so that Awards have th

[2015-07-17 05:54] krozett commented on #53
Badges are now fully functional! I'm sure we'll have some tweaks to make but you can now create badges, assign people to be badge editors/givers, edit them, give them to users. If you're a user you can choose to showcase certain badges of yours on your profile. All non-showcased badges appear on a separate page which is linked from your profile.

[2015-07-17 14:37] rrocchio commented on #51
closing this out - now that Lauren is on board

[2015-07-17 14:37] #51 closed

[2015-07-17 14:39] rrocchio commented on #50
We will go with the logo that the contest ended up with for now

[2015-07-17 14:39] #50 closed

[2015-07-17 14:41] rrocchio opened #110 "Design the Landing Page for UC Next"
[UCNext mockup 7.16.pdf](https://github.com/universityofcalifornia/NeXt/files/752/UCNext.mockup.7.16.pdf)

[2015-07-17 14:43] rrocchio commented on #110
![home page design](https://cloud.githubusercontent.com/assets/718820/8749610/8d9a2ade-2c57-11e5-9b49-93d6c175d778.png)

[2015-07-17 15:34] rrocchio opened #111 "Add deletes across the system on all the items"
We need to be able to delete the test data across the system

[2015-07-24 15:14] rrocchio opened #112 "Define THE ENGAGEMENT METER F(X)"
3)  INTRODUCTION of GAMIFIED Collaboration

The Collaboration Engagement METER formula

     a)  Setting up a Profile = 2 points for you and your campus
     b)  Inputting a New Idea = 5 points for you and your campus
     c)  Inputting a New Project = 5 points for you and your campus
     d)  Liking a project or an idea = 1 point each for you and your campus
     e) Volunteer to participate on a

[2015-07-24 16:03] rrocchio commented on #110
[UCNext mockup 7.23 logos.pdf](https://github.com/universityofcalifornia/NeXt/files/883/UCNext.mockup.7.23.logos.pdf)

[2015-07-24 16:04] rrocchio commented on #110
[UCNext mockup 7.23 photos.pdf](https://github.com/universityofcalifornia/NeXt/files/884/UCNext.mockup.7.23.photos.pdf)

[2015-07-24 16:07] rrocchio commented on #110
![screen shot 2015-07-24 at 9 06 44 am](https://cloud.githubusercontent.com/assets/718820/8879006/68bddbe8-31e3-11e5-806b-9f285edd945a.png)

[2015-07-24 16:08] ctmcintyre commented on #112
Good stuff and a great start!

The Sautter awards should be more points, perhaps 150 for gold and 100 for silver.  They shouldn't be the same as saying you want to volunteer on two projects.  ;-)

[2015-07-24 16:16] rrocchio commented on #110
Meeting Comments for Lauren - EVERYone likes it! - A few tweaks:
1)  Switch UCLA with UC Santa Cruz
2)  Make the surf board just a little bit bigger
3)  Add some skinny lines around the logos - to make them look like stickers
4) Add some text above the surf board that says:  "Catch the Wave"
5) Change "Legal" to "Privacy"
6) Rose will work on getting images of UCCSC - from years past... either UCS

[2015-07-24 16:20] rrocchio commented on #39
@laurencullen  - does this make sense?  If we do it this way, then future development can make use of these objects....  - some of the pages will have unique items, but designing these components will be useful to the developers and will let us expand and grow with the UI design

[2015-07-24 16:21] rrocchio commented on #39
@laurencullen  - actually - I will separate these into different tasks - sorry for the confusion

[2015-07-24 16:24] rrocchio opened #113 "Create the Final version of the Design for the Header/Mast Head"
Create the Final version of the Design for the Header/Mast Head - Add the images needed to put into the Header Design into this ticket.

[2015-07-24 16:25] ctmcintyre opened #114 "anti-clustering"
New innovation research shows digital brainstorming platforms can suffer from groupthink if all ideas as transparent.  Basically, people offer better ideas in more of a vacuum.  This is something we might want to consider.

Reference: https://hbr.org/2015/07/people-offer-better-ideas-when-they-cant-see-what-others-suggest

[2015-07-24 16:26] ctmcintyre commented on #110
Oh PLEASE!  ;-)

I really don't care about #1.  No need to change it!

--
Charles McIntyre
Manager, Infrastructure & Operations

Application & Project Management
Information Technology Services
University of California Santa Cruz

office: 831/459-5746
mobile: 831/239-5839

[2015-07-24 16:27] rrocchio opened #115 "Create the final version of the Footer for UC Next"
Create the final version of the Footer for UC Next - Add all of the components needed to create this

[2015-07-24 16:29] rrocchio opened #116 "Finalize the selection of fonts for the Typography for the site"
Select a set of fonts for the Typography

Go with a casual or Modern feel - but warm - not corporate....

Give guidance for H1, H2, H3 and regular font

[2015-07-24 16:33] rrocchio opened #117 "Create the design for buttons on the site"
Create the design for buttons on the site
This will help the site feel uniform and consistent
The buttons are for voting
Do not worry about the ADMIN interface  - the regular user is the most important one at this point

[2015-07-24 16:34] rrocchio commented on #117
![screen shot 2015-07-24 at 9 34 09 am](https://cloud.githubusercontent.com/assets/718820/8879588/3ac2c2b8-31e7-11e5-8064-48c1c56cd201.png)

[2015-07-24 16:36] rrocchio opened #118 "Create a "Remove Vote" option on Ideas and Projects"
Create a "Remove Vote" option on Ideas and Projects

* Only works on your own vote  - but an Admin should also be able to remove votes...

[2015-07-24 16:40] rrocchio opened #119 "Design a standard look for forms - start with the Profile screen"
Design a standard look for forms - start with the Profile screen

In other words - you don't have to design up the whole form, just layout an attractive way of presenting a form - such as the Profile form, and then Keith can lay that in.... - consider things like spacing, indentation, fonts, and the styles of some of the various fields:

1) Open text boxes
2) Drop down list selections
3) Radio but

[2015-07-24 16:41] rrocchio commented on #119
@laurencullen  - keep in mind that the site has to be RESPONSIVE  - so the forms have to have a way of collapsing attractively!

[2015-07-24 16:43] rrocchio opened #120 "Design a look for the panels or body of the site...."
@ebollens  -not sure what Lauren is defining here - if the background of the site is white...  Can you add some guidance?  Thanks!

[2015-07-24 16:44] rrocchio commented on #39
I have carved these tasks up into their own tasks - so closing this one!

[2015-07-24 16:44] #39 closed

[2015-07-24 16:48] rrocchio commented on #117
@laurencullen  - one thing to note - is that the voting panel comes up when you look at the detail of an idea or a project:
![screen shot 2015-07-24 at 9 47 57 am](https://cloud.githubusercontent.com/assets/718820/8879840/1e5681da-31e9-11e5-9ca9-49db627569e0.png)

[2015-07-24 16:57] rrocchio opened #121 "Create a Groups Module Interface for Users"
Users can do the following:

1) See a list of existing Groups
2) Search the list of existing Groups (should we use elastic search - @ebollens ?)
3) Click on a Group and see a "Group Detail view"
4) The Group Detail view should have these elements:

     a) Group Name
     b) Group Founder
     c) Group Purpose
     d) Group email list
     e) Group collaboration website
     f) Group Profile this

[2015-07-24 16:59] rrocchio opened #122 "Add a way for People to login without Shibb - must be UC Domain...."
@ebollens  - Can we do this - is there enough time?

[2015-07-24 20:12] pmeads commented on #98
This has been merged. closing.

[2015-07-24 20:12] #98 closed

[2015-07-24 21:25] rrocchio commented on #112
@ctmcintyre  - how about 25 and 50 ?  One thing is if the Sautter awards give too much of a lead the other campuses won't have any chance of catching up....

[2015-07-24 21:29] rrocchio opened #123 "Implement the Engagement Meter"
To do this,

The first step is to add a field to the Person table - called Engagement_Points (- I think it should probably be Numeric...)

Then the second step is to to add a table for the Org Aggregate Engagement Meter:

Org_id (numeric)
Org_Name (varchar (40))
Total_Engagement_Points ( Numeric)
Update_date - datetime
Updated_by - varchar(30)

The third step is to add the inserts of points to all

[2015-07-24 23:03] laurencullen commented on #110
![ucnext 7 24](https://cloud.githubusercontent.com/assets/13141571/8886350/85993566-321d-11e5-97da-5f5b891dc8e6.jpg)
Here is a new proof. Please let me know any revisions.

[2015-07-24 23:20] laurencullen commented on #116
Here are ideas, please let me know any feedback on this and if you need more details (sizing, etc.):

h1: Source Sans Pro Semibold
h2: Open Sans Semibold
h3: Open Sans Condensed Bold
p: Open Sans

[2015-07-24 23:22] laurencullen commented on #110
I just made font changes (removing Proxima Nova because it is available with Typekit but not on Google Fonts). Here is a new version:
![ucnext 7 24](https://cloud.githubusercontent.com/assets/13141571/8886499/26b21588-3220-11e5-993b-0abd06a55219.jpg)

[2015-07-24 23:26] laurencullen commented on #110
@rrocchio, please let me know if I need to submit the design to Chris and Lloyd for accessibility check before posting the header and footer images in here. Thanks!

[2015-07-27 16:22] ctmcintyre commented on #112
It depends on how prestigious we want the Sautter award to rank.  To me,
it's more than 4 people stating they'll volunteer for a project...

--
Charles McIntyre
Manager, Infrastructure & Operations

Application & Project Management
Information Technology Services
University of California Santa Cruz

office: 831/459-5746
mobile: 831/239-5839

[2015-07-27 17:03] ctmcintyre opened #125 "Fix CSS"
There are some CSS and formatting issues.
Example 1: Groups header has no style
Example 2: When selecting "Good Project", the following text shows up raw: "Your support of <strong>NeXt Ideation Platform</strong> is appreciated!"

[2015-07-27 20:57] laurencullen commented on #117
Here are some png buttons. Please let me know if you need any changes or anything else.
![ucnext buttons-01](https://cloud.githubusercontent.com/assets/13141571/8917535/66f5be9e-3467-11e5-8859-ec6b643b384d.png)
![ucnext buttons-02](https://cloud.githubusercontent.com/assets/13141571/8917536/6708ec6c-3467-11e5-928b-8b734ead4b05.png)
![ucnext buttons-03](https://cloud.githubusercontent.com/assets/13

[2015-07-27 21:58] pmeads commented on #117
Hi Lauren,

There are a couple more buttons we'll need:
Withdraw Participation
Withdraw Support

Thanks!

[2015-07-27 21:59] pmeads commented on #117
Also, the buttons should be highlighted on rollover - so we need rollover images as well

[2015-07-27 22:03] pmeads commented on #125
The "raw" message has to do with rails flash not working properly. this was reported in issue #80

[2015-07-27 23:00] laurencullen commented on #117
Here are the buttons including rollover ones (colors made to be accessible). The size changed, so posting all of them. Please let me know any revisions or if you need anything else.

![edit](https://cloud.githubusercontent.com/assets/13141571/8919883/10da037e-3478-11e5-870f-d8b4cd2092ed.png)
![i-think-this-is-a-good-idea](https://cloud.githubusercontent.com/assets/13141571/8919882/10d84d36-3478-11

[2015-07-28 00:51] krozett opened #126 "Reevaluate how we handle our paranoid object deletion"
It's a nice idea, a gem that allows a simple undelete. However, we should reevaluate which objects we are using it on. Anything that uses `acts_as_paranoid` should offer an undelete function, otherwise why bother keeping it in the database?

For some objects like votes there is no compelling reason to keep those deleted objects around... IMO they should be deleted immediately. The gem allows us to

[2015-07-28 01:08] krozett commented on #94
It looks like Chris got this done.

[2015-07-28 18:03] ctmcintyre commented on #117
I like the lighter colors in general.

The green, blue, brown feel a bit like summer camp colors.  Not that
they are bad, it's just where I go when I see those colors together.
Perhaps we could go lighter and more "surf" colors to coordinate with
the wave motif.  The seafoam, sky blue and sunlight colors of the
rollover buttons fit well.

IMO, it would be great if those were the default colors.

C

[2015-07-28 19:05] krozett commented on #117
I don't have any strong feelings about the colors, but... just to throw my 2 cents in, we should be using CSS-styled text rather than images. There are 3 reasons:
1) for SEO and accessibility: crawlers and screen readers can't read text embedded into images.
2) if our colors or design ever changes, we can make a simple CSS change rather than upload a whole new set of images.
3) better user experie

[2015-07-28 21:15] laurencullen commented on #117
Yes, the buttons could be implemented in CSS - just specifying border-radius, border color, color, drop-shadow, etc. I can provide any details once these proofs are finalized.

Here are new options for colors. The default state is now the lighter version. I'm also working with color accessibility (for example yellow/orange and white text can't be used together, so I made the hover deeper towards r

[2015-07-28 21:22] ctmcintyre commented on #117
Me likey!!!

--
Charles McIntyre
Manager, Infrastructure & Operations

Application & Project Management
Information Technology Services
University of California Santa Cruz

office: 831/459-5746
mobile: 831/239-5839

[2015-07-28 22:32] laurencullen commented on #119
Here is a rough draft of the edit profile page (I'll post the profile page soon). How does the upload profile picture functionality work? For the bio, will all of the options be available that are on the current site for styling? Please let me know any feedback and revisions.
Thanks!
[UCNext edit profile.pdf](https://github.com/universityofcalifornia/NeXt/files/952/UCNext.edit.profile.pdf)

[2015-07-28 23:19] ctmcintyre commented on #119
I would like to see the badges on the upper right

--
Charles McIntyre
Manager, Infrastructure & Operations

Application & Project Management
Information Technology Services
University of California Santa Cruz

office: 831/459-5746
mobile: 831/239-5839

[2015-07-28 23:29] laurencullen commented on #119
Proof with badges on upper right:
[UCNext edit profile.pdf](https://github.com/universityofcalifornia/NeXt/files/954/UCNext.edit.profile.pdf)

[2015-07-28 23:51] ctmcintyre commented on #119
Looks good.

--
Charles McIntyre
Manager, Infrastructure & Operations

Application & Project Management
Information Technology Services
University of California Santa Cruz

office: 831/459-5746
mobile: 831/239-5839

[2015-07-29 20:45] laurencullen commented on #119
Here is a rough draft of the profile page. Please let me know any changes.

Also, I'm not able to login or see profiles today... maybe there are updates being done on the site? If I left any info off of the profile page, please let me know because I'm going by memory.

Thanks!
[UCNext profile.pdf](https://github.com/universityofcalifornia/NeXt/files/983/UCNext.profile.pdf)

[2015-07-29 23:30] krozett commented on #119
For the badges, I actually implemented a feature that allows users to "showcase" a limited number of badges on their profile. There is only enough space to show 4 or 5 on their profile page, and there is a separate page to see all of a user's badges.

It would be useful to have checkboxes (or another kind of toggle control) for the badges on the Edit Profile page only, which will control whether t

[2015-07-29 23:35] krozett commented on #117
@laurencullen - okay, glad we're on the same page about the CSS. :+1:

We also will need 'delete' buttons at some point. That's an admin interface thing, though, and not as urgent.

Also I was wondering why some of the buttons are ALL CAPS and others are mixed case? I think it would be better to be consistent. Another alternative would be to shorten the long buttons so they could be all caps too,

[2015-07-30 16:33] laurencullen commented on #117
@krozett - yes, sounds good about consistency. I think shortening the long buttons so that they are all caps too works good. If you prefer the long buttons and everything mixed case, please let me know because I will do that instead.

Here are the new shorter buttons and the delete button (default states are the lighter ones with blue text and hover states are the darker ones with white text):
![d

[2015-07-30 17:04] laurencullen commented on #119
Attached is a revised version. Please let me know any changes.
Thanks!
[UCNext profile new.pdf](https://github.com/universityofcalifornia/NeXt/files/1010/UCNext.profile.new.pdf)

[2015-07-30 17:26] laurencullen commented on #119
Here are new versions of the edit profile page and profile page including the changes to the badges. Please let me know any revisions. Thanks!
[UCNext edit profile new.pdf](https://github.com/universityofcalifornia/NeXt/files/1013/UCNext.edit.profile.new.pdf)
[UCNext profile new.pdf](https://github.com/universityofcalifornia/NeXt/files/1014/UCNext.profile.new.pdf)

[2015-07-30 23:46] laurencullen commented on #119
Attached are new edit profile and profile pages. I worked on some feedback as well as on accessible colors and links. Edit profile 1 has the bio as one column whereas edit profile 2 has the bio as two columns. Please let me know any revisions. Thanks!
[UCNext profile.pdf](https://github.com/universityofcalifornia/NeXt/files/1052/UCNext.profile.pdf)
[UCNext edit profile 2.pdf](https://github.com/un

[2015-07-30 23:47] laurencullen commented on #110
Posting the new version - worked on accessibility with colors and links as well as added updated wave graphic. Please let me know any feedback. Thanks!
[UCNext mockup 7.30.pdf](https://github.com/universityofcalifornia/NeXt/files/1055/UCNext.mockup.7.30.pdf)

[2015-07-30 23:59] laurencullen commented on #119
Attached are new edit profile and profile pages. I worked on some feedback as well as on accessible colors and links. Edit profile 1 has the bio as one column whereas edit profile 2 has the bio as two columns. Please let me know any revisions. Thanks!
[UCNext profile.pdf](https://github.com/universityofcalifornia/NeXt/files/1058/UCNext.profile.pdf)
[UCNext edit profile 1.pdf](https://github.com/un

[2015-07-31 06:20] rrocchio opened #127 "The Shib work is currently preventing logon"
@ebollens   - The Shib work is currently preventing logon... - can you help Steve remedy this... we really need to be able to login for testing asap !

[2015-07-31 19:01] laurencullen commented on #120
Yes, I think the background of the site would be good is white. Then the box around certain areas be very light blue (#e0ebf4) with blue border (#0054a6) as seen in the proof.

Please let me know any feedback and if you are looking for something else here.

Example of page with blue panels:
[UCNext edit profile 1.pdf](https://github.com/universityofcalifornia/NeXt/files/1084/UCNext.edit.profile.1.

[2015-07-31 19:20] laurencullen commented on #116
Here are some samples from the proofs of these fonts:

[UC Next Fonts.pdf](https://github.com/universityofcalifornia/NeXt/files/1085/UC.Next.Fonts.pdf)

Please let me know any feedback or revisions. Thanks!

[2015-07-31 20:18] laurencullen commented on #110
Here are the pngs of all assets at 300 dpi as we discussed on the call:
![about](https://cloud.githubusercontent.com/assets/13141571/9016508/9444c99a-3786-11e5-9c38-8bde4fb8610f.png)
![engagementmeter](https://cloud.githubusercontent.com/assets/13141571/9016509/94480240-3786-11e5-8172-76a238aeebb9.png)
![events](https://cloud.githubusercontent.com/assets/13141571/9016510/944c67f4-3786-11e5-859d-95

[2015-07-31 20:21] laurencullen commented on #110
Also, the white assets with transparent background are previewing above as blank spaces, but the files are attached here. This includes Facebook, Twitter, UC seal, and projects.

[2015-07-31 20:34] laurencullen commented on #110
Here are the pngs for the badges:

![silver](https://cloud.githubusercontent.com/assets/13141571/9016815/d6c22838-3788-11e5-9652-a5a0af43ec0d.png)
![golden](https://cloud.githubusercontent.com/assets/13141571/9016816/d6c86144-3788-11e5-8f33-cd2ac6b13636.png)

[2015-08-04 18:38] rrocchio opened #128 "TEST UC next f(x) for bugs"
Give this a go - and see what you come up with

[2015-08-04 18:39] rrocchio opened #129 "TEST UC next f(x) for bugs"
Give this a go - and see what you come up with

[2015-08-04 18:42] rrocchio opened #130 "Create these new badges for UC Next"
Lets create these new badges for UC Next:

a.	UCCSC 2015 Attendee - use the UCCSC 2015 logo - https://uccsc.ucr.edu/
b.	UCCSC 2015 Presenter
c.	UC Next – First 100 Idea Generator
d.	UC Next - First 100 Project Collaborator
e.	UC Next Corp – Anyone who creates a project or volunteers to participate on a project
f.      UC Next Developer

[2015-08-04 19:37] ctrance opened #131 ""About" header link doesn't take me anywhere"
Clicking "About" on the header doesn't take me anywhere.
![capture](https://cloud.githubusercontent.com/assets/1034174/9070590/6537b776-3aa5-11e5-8586-0ff4360c54da.PNG)

[2015-08-04 19:39] #128 closed

[2015-08-04 19:39] #131 closed

[2015-08-04 19:59] rrocchio opened #132 "Design an About page for UC Next"
Please design up an about page for UC Next  ( It will be the same Logged in and Not Logged in)

It should have the following content:

What "is" UC Next?

UC Next is an IT crowd sourced movement to bring about more UC System collaboration, more innovative ideation and IT community camaraderie towards our shared UC Mission of excellence in Education, Research and Service.  It is a project that was

[2015-08-04 20:13] rrocchio opened #133 "The UC Next Profile Page - should allow the USER To choose their Security Setting"
The Not logged in version of the People page - should just say "Please login" as a pop-up....

We need to add a field to the Logged in version of the UC Next Profile Page that lets the user select how public to make their Profile:

So the values should be:

1) HIDDEN ( which means no one but the USER can see their Profile - and it should say "Hidden" across the top)

2) PUBLISH TO UC NEXT users (

[2015-08-04 20:36] rrocchio opened #134 "Should not be able to Vote on an IDEA without being logged in"
I'm not sure why, but it seems like non-logged in users can vote on ideas - that should not be the case... so we need to fix this.  Also, Not logged in users should not see all of the ideas, it should only show the top five that come up on the home page.

[2015-08-04 20:48] rrocchio opened #135 "Need to Design the sub page for Ideas - logged in and not logged in"
The NON-Logged in page for Ideas, should show the 5 Top Trending Ideas, but not any more, also, it needs to ask the User to LOGIN - if they click on those ideas to see the details

Use this content:
--------------------------
Ideas are the currency of the 21st Century, so collecting them, sharing them, and valuing them is the first step in creating a culture of innovation in the IT community at th

[2015-08-04 21:02] laurencullen commented on #110
@rrocchio here is the jpg of the most recent proof posted above as a pdf before logged in and logged out versions. This proof includes work with color/link accessibility. Please let me know any feedback.
![ucnext mockup 7 30](https://cloud.githubusercontent.com/assets/13141571/9072674/76203390-3ab1-11e5-929b-1ee099e67881.jpg)

[2015-08-04 21:04] laurencullen commented on #110
Here is a png of the UC Next logo. Hoping to obtain a larger version soon.
![ucnextlogo](https://cloud.githubusercontent.com/assets/13141571/9072724/b26be696-3ab1-11e5-8273-4091e209d65c.png)

[2015-08-04 21:10] laurencullen commented on #113
All images are listed in landing page design. Here are the ones just for header and nav:
![ucnextlogo](https://cloud.githubusercontent.com/assets/13141571/9072831/5f7ec5e2-3ab2-11e5-8947-d9caebdb8b0c.png)
![login](https://cloud.githubusercontent.com/assets/13141571/9072842/6aadcb52-3ab2-11e5-9e6c-569cc6620737.png)
![search](https://cloud.githubusercontent.com/assets/13141571/9072845/71de3c86-3ab2-

[2015-08-04 21:12] laurencullen commented on #115
All images were listed in landing page thread. Attached are the images just for the footer (incl the surfboard/wave):
![surfboardwave](https://cloud.githubusercontent.com/assets/13141571/9072909/cd51d56e-3ab2-11e5-9b36-4e41ae51312c.png)
![ucseal](https://cloud.githubusercontent.com/assets/13141571/9072912/d132eb00-3ab2-11e5-97c5-0ad2656e7894.png)
![facebook](https://cloud.githubusercontent.com/ass

[2015-08-04 21:17] laurencullen commented on #116
Here are the fonts in jpg format so that you can see it here:
![uc next fonts](https://cloud.githubusercontent.com/assets/13141571/9073026/9041016c-3ab3-11e5-9fc9-6f86dcf960f3.jpg)

[2015-08-04 21:51] laurencullen commented on #119
Please see attached proofs. Revises for accessibility. Please let me know if you have any changes.
![ucnext form-01](https://cloud.githubusercontent.com/assets/13141571/9073726/51fc4632-3ab8-11e5-9f54-d411aa9e90d1.jpg)
![ucnext form-02](https://cloud.githubusercontent.com/assets/13141571/9073728/51fe1f3e-3ab8-11e5-8ef2-ad1c325dee35.jpg)
![ucnext form-03](https://cloud.githubusercontent.com/assets/

[2015-08-04 21:53] rrocchio commented on #135
@ctmcintyre  - have a look at this content - tell me what you think - tweak as you like....

[2015-08-04 22:02] rrocchio opened #136 "The Projects Sub Page...."
For Projects - Lets use the same Design that we come up with for IDEAS - only with a little bit different "heading" on the grid boxes...

For projects lets add this prose:
------------------------------------------------------------------------------------------
Projects are how we work together and actually coordinate our collaboration!  UC Next is a place to find out who is looking for partners,

[2015-08-04 22:04] rrocchio opened #137 "Design for the Events sub page for UC Next"
This can be the same for logged in and not logged in users

Lets just pretty this up  - and it should probably start like a list, but we may go to a monthly grid once we have more events in it... -

[2015-08-04 22:06] rrocchio opened #138 "On the home page of UC Next - changes when the User has logged in"
On the homepage of UC Next - lets add the following changes once the user has logged in:

1) The Login area, should go away and there should be a "Welcome "username" and a Logout Link"

[2015-08-04 22:07] rrocchio opened #139 "Lay in the Final Design for the UC Next Landing page"
[UCNext.mockup.7.30 - FINAL mockup.pdf](https://github.com/universityofcalifornia/NeXt/files/1153/UCNext.mockup.7.30.-.FINAL.mockup.pdf)

[2015-08-04 22:10] rrocchio commented on #139
@laurencullen  - We are going to want the photo montage to reduce down in size - by those blocks using Media Query... Lauren can you create about 5 different sizes of the images - so that Keith can make the home page use the smaller images as the size of the window reduces down....

** I have requested UCSF to send me images from the last UCCSC conference - but if you create the images now, we can

[2015-08-04 22:11] rrocchio opened #140 "Create 5 or so different images - for the home page - to use of a reduced width montage"
We are going to want the photo montage to reduce down in size - by those blocks using Media Query... Lauren can you create about 5 different sizes of the images - so that Keith can make the home page use the smaller images as the size of the window reduces down....

** I have requested UCSF to send me images from the last UCCSC conference - but if you create the images now, we can swap out the the

[2015-08-04 22:19] rrocchio opened #141 "Can you add a screen shot of the current Groups page"
@krozett   - can you add a screen shot of the current Groups page - we need to see what this looks like so Lauren can redesign it - we can't get in to test until @ebollens  - adds a local login - or our Shibb connection works....

[2015-08-04 23:53] ctmcintyre commented on #136
remove "stodgy"

--
Charles McIntyre
Manager, Infrastructure & Operations

Application & Project Management
Information Technology Services
University of California Santa Cruz

office: 831/459-5746
mobile: 831/239-5839

[2015-08-04 23:53] ctmcintyre commented on #135
Agreed

--
Charles McIntyre
Manager, Infrastructure & Operations

Application & Project Management
Information Technology Services
University of California Santa Cruz

office: 831/459-5746
mobile: 831/239-5839

[2015-08-04 23:57] ctmcintyre commented on #132
"What is the UC Next Platform" should be one bullet/definition:

I prefer: "UC NeXt is a community for UC IT staff to work on new ideas
together."

--
Charles McIntyre
Manager, Infrastructure & Operations

Application & Project Management
Information Technology Services
University of California Santa Cruz

office: 831/459-5746
mobile: 831/239-5839

[2015-08-05 00:15] laurencullen commented on #130
Here are the rough drafts of these badges. There are two versions of UCCSC - one with the logo in the official logo color and one where the logo color is changed to white so that we can change the background color and still be accessible. Please let me know any changes.
![uccsc attendee 1](https://cloud.githubusercontent.com/assets/13141571/9075662/5449bc80-3acc-11e5-8d60-74bc17ee97d5.jpg)
![uccsc

[2015-08-05 00:17] ctmcintyre commented on #130
How about "UC Next - Dev Corps"

--
Charles McIntyre
Manager, Infrastructure & Operations

Application & Project Management
Information Technology Services
University of California Santa Cruz

office: 831/459-5746
mobile: 831/239-5839

[2015-08-05 16:23] laurencullen commented on #130
@ctmcintyre would Dev Corps be an edit to an existing badge or a new one? If a new badge, please let me know the description of what it would be awarding (this way I have context for the design). Thanks!

[2015-08-05 17:02] laurencullen commented on #117
Here is the CSS for all of the buttons. Please let me know if you need anything else. Thanks!

.button {
	border: 1px solid;
	border-radius: 5px;
	width: 210px;
	height: 40px;
	color: #1d4a86;
	text-shadow: 1px 1px 0px #999999;
}

a:hover {
	color: #ffffff;
	text-shadow: 1px 1px 0px #999999;
}

.goodProject {
	background: #c6e7c6;
	border: #5cb85c;
}

a:hover .goodProject {
	background: #5cb85c;

[2015-08-05 17:27] ctmcintyre commented on #130
"Dev Corps" replaces "Corp"

I don't think "Corp" is a word.

--
Charles McIntyre
Manager, Infrastructure & Operations

Application & Project Management
Information Technology Services
University of California Santa Cruz

office: 831/459-5746
mobile: 831/239-5839

[2015-08-05 18:35] laurencullen commented on #130
@ctmcintyre Here is the badge for Dev Corps
Please let me know if there is anything else.
![devcorps](https://cloud.githubusercontent.com/assets/13141571/9094346/1c5ab578-3b66-11e5-95af-434952f17f3f.jpg)

[2015-08-05 19:46] laurencullen commented on #132
Attached is a rough draft proof of this page. @ctmcintyre please let me know if I made the text revises to what you are looking for.

Please let me know any feedback.

![about](https://cloud.githubusercontent.com/assets/13141571/9096107/06955dc4-3b70-11e5-93ab-11596a95bf26.jpg)

[2015-08-05 21:05] ctmcintyre commented on #130
beautiful!

--
Charles McIntyre
Manager, Infrastructure & Operations

Application & Project Management
Information Technology Services
University of California Santa Cruz

office: 831/459-5746
mobile: 831/239-5839

[2015-08-05 21:42] ctmcintyre commented on #132
Love it!

--
Charles McIntyre
Manager, Infrastructure & Operations

Application & Project Management
Information Technology Services
University of California Santa Cruz

office: 831/459-5746
mobile: 831/239-5839

[2015-08-05 23:44] laurencullen commented on #110
Here is a new engagement meter graphic because the yellow was just too light before. Thanks!
![new-engagement-meter](https://cloud.githubusercontent.com/assets/13141571/9100563/48b52b1e-3b91-11e5-81ca-7dcabaa51837.png)

[2015-08-05 23:56] laurencullen commented on #135
Here is a rough draft of the NOT logged in state. I included one option with the engagement meter in new coloring to distinguish it from the project engagement meter and another version with the same coloring as the project engagement meter. Please let me know any feedback. Thanks!

![ideas2](https://cloud.githubusercontent.com/assets/13141571/9100702/ce364fc4-3b92-11e5-9f83-979568761657.jpg)
![id

[2015-08-06 00:46] krozett commented on #141
Main groups page with no groups
![screenshot 2015-08-05 at 17 43 29](https://cloud.githubusercontent.com/assets/1661295/9101290/cc94db8e-3b99-11e5-8771-4f6329ac9f57.png)

[2015-08-06 00:46] krozett commented on #141
Popup which appears when you start typing
![screenshot 2015-08-05 at 17 43 46](https://cloud.githubusercontent.com/assets/1661295/9101294/de1a87be-3b99-11e5-9ed0-7fddfc4fffd9.png)

[2015-08-06 00:46] krozett commented on #141
Popup for creating a new group
![screenshot 2015-08-05 at 17 44 10](https://cloud.githubusercontent.com/assets/1661295/9101297/ec3b5800-3b99-11e5-880d-8f0888f14ab7.png)

[2015-08-06 00:47] krozett commented on #141
Groups page after joining some groups
![screenshot 2015-08-05 at 17 44 51](https://cloud.githubusercontent.com/assets/1661295/9101301/f968e1c8-3b99-11e5-9689-9831c39a91e9.png)

[2015-08-06 02:07] ctmcintyre commented on #141
Let's put some language here that says something like, "Please consider
joining an existing group before creating a new group"

--
Charles McIntyre
Manager, Infrastructure & Operations

Application & Project Management
Information Technology Services
University of California Santa Cruz

office: 831/459-5746
mobile: 831/239-5839

[2015-08-06 02:25] ctmcintyre commented on #135
The copy is a bit dense.  It took me a couple reads to ready understand
it.  We should thin it out or put some paragraph breaks in between the
sentences.

--
Charles McIntyre
Manager, Infrastructure & Operations

Application & Project Management
Information Technology Services
University of California Santa Cruz

office: 831/459-5746
mobile: 831/239-5839

[2015-08-06 16:49] laurencullen commented on #135
@ctmcintyre attached is a version with more paragraphs. Please let me know if you would like to edit the text or do something different.

Also, do you like the blue idea engagement meter or the idea engagement meter that is in the same colors as the project engagement meter?

![ideas 8 6](https://cloud.githubusercontent.com/assets/13141571/9117609/4b70921e-3c20-11e5-92b3-d45ea6e4c861.jpg)

[2015-08-06 16:55] ctmcintyre commented on #135
Can you add another paragraph break between "them." and "Think"?

I liked the yellow-orange meter since they're warmer colors.  The blue
is nice b/c it's congruent with the rest of the color scheme but it's a
bit "cold".

--
Charles McIntyre
Manager, Infrastructure & Operations

Application & Project Management
Information Technology Services
University of California Santa Cruz

office: 831/459-57

[2015-08-06 17:28] laurencullen commented on #135
@ctmcintyre I agree that the yellow-orange meter looks better because it is warmer. Is it ok that the idea engagement meter and project engagement meter are not visually distinguishable?

Here is a new proof:
![ideas-01](https://cloud.githubusercontent.com/assets/13141571/9118533/d070c290-3c25-11e5-92ac-07aab54f03c8.jpg)

[2015-08-06 17:32] rrocchio opened #145 "Design for the UC Next input screen"
@laurencullen  - this can be the same styling as the profile input screen

[2015-08-06 18:00] ctrance opened #146 "Successful account creation message shows html code"
I just created an account on FF 39.0 Windows 7 and see html code in the message, see below:
![capture](https://cloud.githubusercontent.com/assets/1034174/9119172/2d9e942a-3c2a-11e5-98e2-6a8021182811.PNG)

[2015-08-06 19:17] laurencullen commented on #135
Here is a rough draft proof of the ideas page logged in. Please let me know any changes.

![ideasloggedin](https://cloud.githubusercontent.com/assets/13141571/9121090/05b83cf8-3c35-11e5-92ce-f98f1a677341.jpg)

[2015-08-06 21:18] ctmcintyre commented on #135
Looks great!

--
Charles McIntyre
Manager, Infrastructure & Operations

Application & Project Management
Information Technology Services
University of California Santa Cruz

office: 831/459-5746
mobile: 831/239-5839

[2015-08-06 21:18] ctmcintyre commented on #135
For now I'm OK with same color.  Perhaps make Ideas and Projects more
distinguishable?

--
Charles McIntyre
Manager, Infrastructure & Operations

Application & Project Management
Information Technology Services
University of California Santa Cruz

office: 831/459-5746
mobile: 831/239-5839

[2015-08-06 22:15] laurencullen commented on #137
Attached is the events sub page rough draft. Is it possible for the event listing to be an accordion? This proof shows the first event opened. If not, I can make one page for listings and a second page for details, so please let me know.

![events-01](https://cloud.githubusercontent.com/assets/13141571/9124684/f9f05f18-3c4d-11e5-9595-6022b92dcacb.jpg)

[2015-08-06 22:32] laurencullen commented on #135
I tried making the word more distinguishable... if you like this, I will also do this on non logged in state and on homepage for projects. Please let me know what you think.

![ideasloggedinnew-01](https://cloud.githubusercontent.com/assets/13141571/9124935/577f809e-3c50-11e5-8416-66ec290741d7.jpg)

[2015-08-06 23:03] laurencullen commented on #145
Here is a proof of the event input page:
![ucnext event input-01](https://cloud.githubusercontent.com/assets/13141571/9125340/b1485494-3c54-11e5-8c47-4847c0a3a47d.jpg)

[2015-08-06 23:05] laurencullen commented on #145
Image size to upload: 700x230px

[2015-08-06 23:53] laurencullen commented on #140
Here is the photomontage at the 1024 size. More sizes to come. Please let me know any feedback.

![ucnext_images1024](https://cloud.githubusercontent.com/assets/13141571/9125952/622d1af0-3c5b-11e5-8372-6e12291c8571.jpg)

[2015-08-06 23:59] ctmcintyre commented on #137
That's gorgeous!  Wow!

--

Charles McIntyre
Manager, Infrastructure & Operations

Applications & Project Management
Information Technology Services
University of California, Santa Cruz

831/459-5746 phone
831/239-5839 mobile

[2015-08-07 00:02] ctmcintyre commented on #135
I love the idea cards below. I didn't see those before.

Not sure about the bulb-IDEAS-bulb. Kind of busy. Perhaps we don't need to say ideas again since it's the ideas page? The word "ideas" is already a title 4x on the page. Perhaps we just say "Engagement Meter".

--

Charles McIntyre
Manager, Infrastructure & Operations

Applications & Project Management
Information Technology Services
Univers

[2015-08-07 00:07] krozett commented on #116
@laurencullen could we get the font sizes as well as line heights for these? In pixels for all would be easiest, but I can also do in percentages if you tell me what the pixel size for the base font is.

[2015-08-07 02:26] rrocchio opened #147 "Editing Event Description doesn't work"
I created an event with just the Name,

That worked, then I went back in to edit the description, but the update button is disabled...

[2015-08-07 02:29] rrocchio opened #148 "Events Bug: End date does not open up the calendar picker"
Events Bug:  End date does not open up the calendar picker

[2015-08-07 02:43] rrocchio opened #149 "EVENTS bug: I think the issues is the description field - can't save an event with one.... also All words are assumed to be misspelled"
Every word you type in the Description field has a red line under it - is it expecting a different language?

[2015-08-07 02:56] krozett commented on #146
It's caused by issue #80

[2015-08-07 03:02] rrocchio opened #150 "Add a "Create Groups" feature"
We need to implement a way to "Create Groups"

Give the group these fields:

1) Group Name
2) Group Description
3) Group Founder
4) Group Contact
5) Group list serve
6) Group Meeting Times
7) Group Membership type:  Open to UC, open to Public, invite only

ACTIONS:

1) Join Group
2) Leave Group

[2015-08-07 03:16] rrocchio opened #151 "Create a page for a User to Manage their Groups"
Create a page to "Manage your Groups"

On this page, the users will:

1) See a list of the Groups they have "joined"
2) Search for Groups
3) Click on them to see details about them
4) Join them
5) Click on a Group they have joined and have the option to "Leave group"

[2015-08-07 03:18] rrocchio opened #152 "Create a Design for the Groups page"
@laurencullen  - please create a design for this page... here is what users will do on this page:

1)  See a list of the Groups they have "joined"
2) Search for Groups
3) Click on them to see details about them
4) Join them
5) Click on a Group they have joined and have the option to "Leave group"

[2015-08-07 04:22] ebollens commented on #149
That's browser-specific, and I have no idea why. There's nothing specific about this field.

[2015-08-07 05:53] krozett commented on #117
Thanks Lauren!

To devs: use `btn` classes for different button colors now. We have these:
* `btn-edit`
* `btn-delete`
* `btn-support`
* `btn-participate`
* `btn-learn-more`
* `btn-withdraw-support`
* `btn-withdraw-participation`
* `btn-manage-documents`

Please use these or `btn-primary`, but you should refrain from using the others unless they show up in Lauren's design.

It's very easy to creat

[2015-08-07 05:59] krozett commented on #120
Devs: These are just plain old Bootstrap panels, as we've already been doing throughout the site.
http://getbootstrap.com/components/#panels

Just make sure you use `panel-default` and not `panel-info` or any other variants. We only use the default colors.

[2015-08-07 06:02] krozett commented on #139
See my notes in individual issues for how to use the new styles:

Buttons - https://github.com/universityofcalifornia/NeXt/issues/117#issuecomment-128606499
Panels - https://github.com/universityofcalifornia/NeXt/issues/120#issuecomment-128607099

To get the alternating color effect, use the list-group Bootstrap component:
http://getbootstrap.com/components/#list-group

If you want yellow instead

[2015-08-07 06:10] krozett commented on #119
The forms should be very easy. I changed the panel and form CSS so you can just take groups of the input-group divs and put them in panels. Everything should just work.

One thing I did not get to was the dropdowns. Those will require extra work to style, because browsers don't really let you control the look. You have to do a "fake" dropdown, which I have to look into.

[2015-08-07 06:14] krozett commented on #139
Question for @laurencullen - I feel a bit silly asking, maybe it's already been mentioned, but is this design fixed width for the content? I assume the header/footer take up the full width, but it's hard to tell with the body.

[2015-08-07 15:56] laurencullen commented on #139
@krozett Yes, the header/footer take up the full width and the body should scale. What would be best for you from a development perspective?

[2015-08-07 16:08] laurencullen commented on #119
Not looking to create more work right now... for drop downs, I think default ones should work. We can always add style here later.

[2015-08-07 16:09] laurencullen commented on #119
@krozett Not looking to create more work right now... for drop downs, I think default ones should work. We can always add style here later.

[2015-08-07 16:14] laurencullen commented on #139
Here is the final design. It is a PDF that can be opened and edited in Adobe Illustrator.

[UCNext mockup 8.7.pdf](https://github.com/universityofcalifornia/NeXt/files/1244/UCNext.mockup.8.7.pdf)

[2015-08-07 16:19] krozett commented on #139
@laurencullen okay, great! That's what we are already doing anyway :laughing:

BTW, it looks like the only change in the latest mockup is the yellow in the engagement meter bars and "speedometer" image. Is that right?

[2015-08-07 16:23] laurencullen commented on #135
Changed it to engagement meter. Please let me know if you have any revisions.
The idea cards only appear in logged in state. (Logged out page is the same but without the idea cards as seen in proof above.)

![ideasloggedin-01](https://cloud.githubusercontent.com/assets/13141571/9140394/ccf41e9e-3ce5-11e5-8512-fc4cfd99020b.jpg)

[2015-08-07 16:27] laurencullen commented on #139
@krozett Yes, looks the same except for the yellow was brightened. Please let me know if you need anything else with it :)

[2015-08-07 17:04] #147 closed

[2015-08-07 17:04] #148 closed

[2015-08-07 17:05] #127 closed

[2015-08-07 19:05] ctmcintyre commented on #135
Great!

--
Charles McIntyre
Manager, Infrastructure & Operations

Application & Project Management
Information Technology Services
University of California Santa Cruz

office: 831/459-5746
mobile: 831/239-5839

[2015-08-07 20:31] laurencullen commented on #140
Here are more sizes. Please let me know if you need any more sizes or adjustments. (The sizes on titles are for the size of the image, not the breakpoint - the image isn't designed to be fully across the page.)

![ucnext_images384](https://cloud.githubusercontent.com/assets/13141571/9145377/a422b4ee-3d08-11e5-888c-18d371a05721.jpg)
![ucnext_images512](https://cloud.githubusercontent.com/assets/131

[2015-08-07 20:33] laurencullen commented on #140
sizes: all 128px high
width: 384, 512, 640, 768, 896, 1024

[2015-08-07 21:29] laurencullen commented on #116
Here are the details. I think that this will make more sense than the way I assigned it before. Sorry about it not being clear before and please let me know if you need anything else/ have any questions.

![uc next fonts-03](https://cloud.githubusercontent.com/assets/13141571/9146323/ac81bde4-3d10-11e5-9468-620c8927b07f.jpg)

[2015-08-07 21:34] laurencullen commented on #116
Here are the details. I think that this will make more sense than the way I assigned it before. Sorry about it not being clear before and please let me know if you need anything else/ have any questions.

![uc next fonts-03](https://cloud.githubusercontent.com/assets/13141571/9146408/5e209250-3d11-11e5-8317-58c30ba853ac.jpg)

[2015-08-07 21:52] laurencullen commented on #137
Here are proofs of the events put into a list page and a details page. Please let me know any changes.

![events-1](https://cloud.githubusercontent.com/assets/13141571/9146698/b77d4260-3d13-11e5-8952-dd6539f23bf2.jpg)

![events-2](https://cloud.githubusercontent.com/assets/13141571/9146703/c3b141a8-3d13-11e5-80e8-5303e07378c0.jpg)

[2015-08-07 21:53] laurencullen commented on #137
@ctmcintyre Thanks :)

[2015-08-07 22:51] laurencullen commented on #136
Here are rough draft proofs of not logged in and logged in. Please let me know any changes. Also, would you like to add more text so that it is more similar to ideas page?

![projects](https://cloud.githubusercontent.com/assets/13141571/9147441/fc33009a-3d1b-11e5-9a00-6a8579e04475.jpg)
![projectsloggedin](https://cloud.githubusercontent.com/assets/13141571/9147443/07accadc-3d1c-11e5-9414-a3d7247d4

[2015-08-07 23:02] rrocchio commented on #111
@krozett  - is there a way to delete a user - for a super admin user?

[2015-08-07 23:02] ctmcintyre commented on #136
They look great!

For the top trending ideas and projects, we should put metrics (how many up votes, etc)

C

--

Charles McIntyre
Manager, Infrastructure & Operations

Applications & Project Management
Information Technology Services
University of California, Santa Cruz

831/459-5746 phone
831/239-5839 mobile

[2015-08-07 23:07] rrocchio opened #157 "Find a way to delete the old test accounts - since they are not local"
@ebollens  - Find a way to delete the old test accounts - since they are not local - should we just flush these?  Or should we "disable" them under an Admin account?

[2015-08-07 23:08] rrocchio opened #158 "Super Admin should have the ability to delete or archive an event"
Super Admin should have the ability to delete or archive an event

[2015-08-07 23:09] rrocchio opened #159 "Super Admin should have the ability to disable or delete a group"
Super Admin should have the ability to disable or delete a group  - if it is inappropriate

[2015-08-08 00:05] krozett commented on #111
@rose we don't have a way to delete users yet. I can add that, though. I believe local and shibbed users are treated the same, the only difference is a few fields and how they are created. Do I have that right, @ebollens ?

[2015-08-08 00:29] laurencullen commented on #136
Sounds good! Do you mean something like where Facebook lists a number of likes in a little box coming off of the like button? We could also put the +1 sign next to the box for the logged in state so that users could quickly take action...

Proofs attached, please let me know what you think.

![projects](https://cloud.githubusercontent.com/assets/13141571/9148229/c930d01a-3d29-11e5-833b-a55c75e14fb

[2015-08-08 00:32] laurencullen commented on #135
For the top five, would you like metrics added to match project page?

[2015-08-08 01:17] krozett commented on #140
Thanks @laurencullen . Although you don't have to worry about resizing them, since it's essentially just a crop and I can do that with CSS.

When we have the new images, individual images are best, rather than a strip of them together. It doesn't matter that much right now, since they are just placeholders. But for the future...

[2015-08-08 01:50] rrocchio commented on #140
@lcullen - Lauren- These are great!  Keith - interesting that you can just crop with CSS - I did not know you could do that!

[2015-08-08 01:51] rrocchio commented on #137
@laurencullen - yes!  I love it!!!!

[2015-08-08 01:53] rrocchio commented on #132
@laurencullen - Love it!

[2015-08-08 01:58] rrocchio commented on #135
@laurencullen - Let's change the text under the meter and call it "Idea Points"

[2015-08-08 01:59] rrocchio commented on #135
Let's call it the "Idea Engagement Meter"

[2015-08-08 01:59] rrocchio commented on #135
@laurencullen - otherwise Love it!!!

[2015-08-08 02:00] rrocchio commented on #135
@laurenc

[2015-08-08 02:01] rrocchio commented on #135
Keep closing by accident

[2015-08-08 02:30] rrocchio commented on #136
@laurencullen - LOVE this idea!!!!

[2015-08-08 02:30] rrocchio commented on #136
@ctmcintyre - Awesome idea!!!

[2015-08-08 06:49] rrocchio opened #161 "Design the UC Next App Icon - for Saving the URL to a mobile dashboard"
@laurencullen  - Please design the App Icon for UC Next - this is so when we are on a mobile device, we can save it as a an app, for example on UCLA Mobile.

[2015-08-08 06:51] rrocchio opened #162 "Hook up the UC Next app button to the site, so when the users "saves to homescreen" a bookmark gets created"
Hook up the UC Next app button ( this is coming, so you may need to use a place holder button for the time being...) to the site, so when the users "saves to homescreen" a bookmark gets created

[2015-08-08 06:54] rrocchio opened #163 "Lay in the final design for the Ideas page"
Lay in the final design for the Ideas page - please see #135

[2015-08-08 06:56] rrocchio opened #164 "Lay in the final design for the projects page - see #136"
Lay in the final design for the projects page - see #136

[2015-08-08 06:59] rrocchio opened #165 "Lay in the final design for the about page see #132"
Lay in the final design for the about page see #132

[2015-08-08 06:59] rrocchio commented on #165
@krozett  - if you can't get to this - please reassign to Eric - Thanks!

[2015-08-08 07:01] rrocchio opened #166 "lay in the final design for the events page #137"
lay in the final design for the events page #137

[2015-08-08 07:04] rrocchio opened #167 "Lay in a Design for the People Sub-page"
@ebollens  - I never got a chance to ask @laurencullen  - to design the "People" Sub page, that lists everyone... Can you infer a design... Do you think it should have a "Leader board" on it?  Not sure...

[2015-08-08 07:05] rrocchio opened #168 "Lay in the Design for the Profile Details page - see #119"
Lay in the Design for the Profile Details page - see #119

[2015-08-08 07:09] rrocchio opened #169 "Create a page to showcase UC Next's badges"
Create a page to showcase UC Next's badges - link to it from the People sub page..

The link could be something simple like "See all the UC Next Badges"

@krozett  - can you infer a design for this using the profile detail page on #119?  If you don't get to this, please reassign to EB

[2015-08-08 19:50] ebollens opened #170 "Events without Start or End Time Fail"
[code]

[2015-08-08 19:52] ebollens commented on #158
My test shows they can.

[2015-08-08 19:52] #158 closed

[2015-08-08 21:25] #149 closed

[2015-08-08 21:40] #150 closed

[2015-08-08 21:40] #151 closed

[2015-08-08 21:40] #159 closed

[2015-08-08 21:40] #170 closed

[2015-08-08 21:42] ebollens commented on #162
You can always save a webpage to home screen. Provide me with an icon, and I'll set it up so that you get that icon to show. Assigning to @laurencullen for the icon. Should use the standard iOS size for appicon.

[2015-08-08 21:42] ebollens commented on #122
Yes.

[2015-08-08 22:01] #74 closed

[2015-08-08 22:01] #157 closed

[2015-08-08 22:01] #122 closed

[2015-08-08 23:51] krozett opened #175 "Social Feed"
There's a section of the landing page devoted to this but no specifications anywhere. We should figure this out or drop it from the landing page.

[2015-08-09 01:07] ctmcintyre commented on #175
We didn't talk much about this but something about a simple live feed that folks could post and respond to questions, and it could auto-announce new ideas and badges and when ideas are resources, etc. not sure if there's some gem out there that could just be roughed in for now...

--

Charles McIntyre
Manager, Infrastructure & Operations

Applications & Project Management
Information Technology Se

[2015-08-09 17:18] ebollens commented on #119
Agree, so I'm not going to make setting badge visibility through the edit page (it's got its own page right now).

[2015-08-09 18:29] ebollens commented on #168
Most of this was done in pull request #177. Two bits were not:

1. The edit form (sizing issues on medium-size viewports).
1. The social icons (instead, it just provides links).

If you'd like to tackle these two, I recommend creating additional issues for them.

[2015-08-09 18:29] #168 closed

[2015-08-09 18:31] ebollens commented on #167
I think for now, let's go ahead and just leave it as a list of people. But in the future, yes, a leaderboard or something like that would make a lot of sense.

[2015-08-09 23:52] #137 closed

[2015-08-09 23:52] #166 closed

[2015-08-10 04:02] krozett commented on #146
Should be fixed now.

[2015-08-10 14:23] ctrance commented on #146
@krozett Can you also fix the "Login with campus account" button? The button is too small for the text, see below.
![capture](https://cloud.githubusercontent.com/assets/1034174/9173694/9654de08-3f30-11e5-8fb4-6658a1ef0ccb.jpg)

[2015-08-10 15:27] ctrance opened #179 "Fix "browse" button on FF 39.0.3"
The browse button is off on FF 39.0.3 (Windows 7) when I'm creating new event.
![capture](https://cloud.githubusercontent.com/assets/1034174/9175239/6f8941fc-3f39-11e5-8ad1-12b526477eec.PNG)

[2015-08-10 16:55] rrocchio commented on #167
@ebollens  - Lauren will work on a non-logged in view - with a little more style, but we can keep the list - for now... then she will add some features to the logged in view, like the profile image and recent badges....

[2015-08-10 16:56] rrocchio commented on #167
@ebollens  - we are going to see what it looks like to see the UC Logo instead of the text of the location....

[2015-08-10 17:20] laurencullen commented on #162
Attached are five options for icons at 180x180px for you to choose from. I based size on what was listed here: https://developer.apple.com/library/ios/documentation/UserExperience/Conceptual/MobileHIG/IconMatrix.html. Please let me know if you have any changes or need the icons in a different size.

![ucnexticon-01](https://cloud.githubusercontent.com/assets/13141571/9177954/615a404e-3f49-11e5-82d

[2015-08-10 17:35] laurencullen commented on #135
Attached is a proof with the engagement meter text revisions. Please let me know if you need anything else.

![ideasloggedin-01](https://cloud.githubusercontent.com/assets/13141571/9178334/82efa166-3f4b-11e5-8fe9-b6fe01b1ba0f.jpg)

[2015-08-10 17:37] laurencullen commented on #135
Here is logged out state:
![ideas-01](https://cloud.githubusercontent.com/assets/13141571/9178357/b791fb94-3f4b-11e5-9482-2dd3ed68c263.jpg)

[2015-08-10 17:40] ctmcintyre commented on #162
I vote for the 2nd from the top (light blue background, the wave and UC
NEXT at the top)

C

--
Charles McIntyre
Manager, Infrastructure & Operations

Application & Project Management
Information Technology Services
University of California Santa Cruz

office: 831/459-5746
mobile: 831/239-5839

[2015-08-10 17:41] laurencullen commented on #140
@krozett Yes, I can provide individual images - please let me know when you need them. Also, please note that I moved some images around in the small size, so it's not just a crop from the center...

[2015-08-10 17:51] laurencullen commented on #161
please see thread #162 https://github.com/universityofcalifornia/NeXt/issues/162

these design options were posted there:
![ucnexticon-01](https://cloud.githubusercontent.com/assets/13141571/9178864/cb31bde0-3f4d-11e5-9355-497a8c73f870.png)
![ucnexticon-02](https://cloud.githubusercontent.com/assets/13141571/9178866/cb33dc92-3f4d-11e5-8fa9-f23bcb136039.png)
![ucnexticon-03](https://cloud.githubuse

[2015-08-10 18:24] ctrance opened #180 "Infrastructure Resources Needed list is blank in New Project form"
I was creating a new project but the field Infrastructure Resources Needed list is blank. Please see below:
![capture](https://cloud.githubusercontent.com/assets/1034174/9179538/30057794-3f52-11e5-875f-e64112149fc6.jpg)

[2015-08-10 18:31] ctrance commented on #179
Please fix the browse button on manage documents page and on other pages too.
![capture](https://cloud.githubusercontent.com/assets/1034174/9179715/4882aea8-3f53-11e5-9ef5-c29e968adafa.jpg)

[2015-08-10 19:15] ctmcintyre opened #181 "Update "About" link in footer"
The about link in footer currently points to https://ucnext.org/#; needs to point to https://ucnext.org/about

[2015-08-10 19:16] ctmcintyre commented on #181
"Contact" and "Legal" also need pages

[2015-08-10 19:23] ctrance opened #182 "Fix the date/time on Events page"
I created a new event for Sept 24 9am - Sept 26, 2015 5pm but the time showing is 9:09 am and 5:05 pm. Also the date heading shows Sep 24 - 26 2015, please put comma in between the year and day.
![capture](https://cloud.githubusercontent.com/assets/1034174/9181546/67663eaa-3f5a-11e5-87d6-6d35f77affb3.PNG)

[2015-08-10 19:27] ctrance opened #183 "Group search is slow in the Events creation form"
There's a search fx in the group box but when I type 'in' the box just show 'searching....'
![capture](https://cloud.githubusercontent.com/assets/1034174/9181667/05a720a2-3f5b-11e5-8bb5-f5c011ee62f9.jpg)

[2015-08-10 19:32] ctrance opened #184 "Got error when deleting a created event"
I just created a future event then deleted it but I got the error below:
![capture](https://cloud.githubusercontent.com/assets/1034174/9181809/edc9e7ac-3f5b-11e5-9d70-06d0908461a8.PNG)

[2015-08-10 19:42] ctrance opened #185 "Github link returns page not found"
The app redirects to "https://github.com/https://github.com/ctrance" when GH link was clicked from the people's list. I put "https://github.com/ctrance", i changed it to "ctrance" only and it worked. If we're attaching the github http link already it would be helpful to show it in the ui as well, so the user know not to put http anymore...

[2015-08-10 19:49] laurencullen commented on #167
Here is a proof of non-logged in state:

![people-01](https://cloud.githubusercontent.com/assets/13141571/9182176/2a198f08-3f5e-11e5-9082-1c5cae2fe19d.jpg)

[2015-08-10 19:54] ctrance opened #186 "Search fx excludes events and groups"
On the header's search box I tried to search by events and groups but the app didn't return result though there's a match

[2015-08-10 19:56] laurencullen commented on #167
Here is the logged in page with profile images added on left:
![peopleimg-02](https://cloud.githubusercontent.com/assets/13141571/9182375/300e51e0-3f5f-11e5-85fd-29eef1efdab2.jpg)

[2015-08-10 19:57] laurencullen commented on #167
I'll do one more view for logged in option that includes badges...
please let me know any feedback :)

[2015-08-10 19:59] ctrance commented on #146
fixed

[2015-08-10 19:59] #146 closed

[2015-08-10 20:17] laurencullen commented on #167
Here is a logged in version with badges:
![people-03](https://cloud.githubusercontent.com/assets/13141571/9183092/19bd3c14-3f62-11e5-9631-911cf04cc759.jpg)

[2015-08-10 20:18] laurencullen commented on #167
With badges, I had to reduce the character number under position. Will there be a character number set for name and position?

Please let me know any changes. Thanks!

[2015-08-10 22:29] rrocchio commented on #140
@ebollens  - can you weigh in on the best way to implement this photo montage - should we use the different width images - or should we use one and resize or "crop" it?

[2015-08-10 22:44] rrocchio commented on #163
![ideas image](https://cloud.githubusercontent.com/assets/718820/9186088/a5cb63de-3f76-11e5-94f7-4cdb853cbf07.jpg)

[2015-08-10 22:45] rrocchio commented on #163
@krozett  - Can you please add the content of the "Ideas" page into that page.... This content is critically important!

[2015-08-10 22:49] rrocchio opened #187 "Add the Footer to the Design"
We need to add the UC Crest to the footer, I will add it here shortly!

[2015-08-10 22:51] rrocchio opened #188 "Implement the Header Design"
@krozett  - we need to implement the header design....

[2015-08-10 23:03] rrocchio opened #189 "Please lay in the REST of the design for the Projects Page: The content, the top 5 projects and make them appear in a grid"
![projects](https://cloud.githubusercontent.com/assets/718820/9186416/5aca4c30-3f79-11e5-98a8-38c5c2d6a77f.jpg)

[2015-08-10 23:04] rrocchio commented on #189
@krozett - Can you please make the following changes:

1) Please add the content of the "Projects" page into that page.... This content is critically important!
2) If we don't have time to do a specific "projects" engagement meter, then we can leave it off, but we should repeat the top level projects and we need the prose
3) Please make the projects show up in a "grid format" instead of rows
4) Pl

[2015-08-10 23:46] laurencullen commented on #152
Here are two options of logged in groups page. Please let me know any feedback. Also, I'll work on details pages. Do you need a logged out view as well?

![groups page-01](https://cloud.githubusercontent.com/assets/13141571/9186916/5a114680-3f7f-11e5-88f0-82017010ada8.jpg)
![groups page-02](https://cloud.githubusercontent.com/assets/13141571/9186915/5a103fb0-3f7f-11e5-9e49-0dc2fe40ab80.jpg)

[2015-08-11 00:18] ctmcintyre commented on #152
Tiles!  Short Description nails it.

--
Charles McIntyre
Manager, Infrastructure & Operations

Application & Project Management
Information Technology Services
University of California Santa Cruz

office: 831/459-5746
mobile: 831/239-5839

[2015-08-11 07:35] rrocchio opened #191 "Users should be able to upload in their preferred profile image"
@krozett   - please enhance the profile page - to allow users to override the image that is showing up...BTW - where is the current image coming from?  Linked in?

- I think that users will get annoyed if they cannot upload their profile picture themselves.  I am not sure where the images are sorting from

[2015-08-11 07:36] rrocchio opened #192 "The 'About' link in the footer - should go to the main 'About' page"
The 'About' link in the footer - should go to the main 'About' page

[2015-08-11 07:37] rrocchio commented on #192
@krozett  - looks like this just got missed

[2015-08-11 07:47] rrocchio commented on #181
@ctmcintyre  - what do you think we should do with the contact page?  I think it should send an email to the UC Next Chair and Past - Chair....Do you want to create a listserv for us?

@ctmcintyre  - what about the "LEGAL" page - probably want a "user agreement" and mention of the license.

[2015-08-11 07:52] rrocchio commented on #187
I am attaching the WHITE images into this comment box
![projects](https://cloud.githubusercontent.com/assets/718820/9192817/3c5aa94e-3fc3-11e5-9bf2-22b01d7bfe6b.png)
![projects](https://cloud.githubusercontent.com/assets/718820/9192818/426f9bf0-3fc3-11e5-99bc-520e7141f8b7.png)

![ucseal](https://cloud.githubusercontent.com/assets/718820/9192822/473fcc86-3fc3-11e5-8a2b-690a8fd466ab.png)

![twitter]

[2015-08-11 08:01] rrocchio commented on #152
Hi All,  @laurencullen  - I agree with Charles, the tiles are the best!

[2015-08-11 08:04] rrocchio opened #193 "Please implement this design for the Groups subpage"
![groups](https://cloud.githubusercontent.com/assets/718820/9193077/7a83c8c0-3fc5-11e5-9a8e-1fee6dad91e7.png)

[2015-08-11 08:15] rrocchio opened #194 "Lay in final design for People sub page - Not logged in"
** Please note - that the PEOPLE listed should sort Alphabetically...

![people-not-logged-in](https://cloud.githubusercontent.com/assets/718820/9193155/3801c866-3fc6-11e5-9ff1-7e17e7c1b357.png)

[2015-08-11 08:17] rrocchio opened #195 "Lay in final design for People sub page - Logged in view"
This page should sort alphabetically as well as offer a SEARCH f(x)

The LOGGED in view - has images and also recent
![people-logged-in-view](https://cloud.githubusercontent.com/assets/718820/9193222/b7a09958-3fc6-11e5-968a-ea910746ec35.png)
badges attained

[2015-08-11 13:30] ctmcintyre commented on #181
I'll create a new google group for ucnext. For now, I'll out you and me in it.

Sounds good for LEGAL, I have no idea regarding the specifics.

C

--

Charles McIntyre
Manager, Infrastructure & Operations

Applications & Project Management
Information Technology Services
University of California, Santa Cruz

831/459-5746 phone
831/239-5839 mobile

[2015-08-11 16:25] laurencullen commented on #193
Attached is the groups icon for this page and the group search icon.

The color of Create Group button is #ffc277 and for border #9c5500
The color of Join button is #fff48b and for border #fdba35
The color of More Information button is #77d8ff and for border #347bad

Please let me know if you need anything else.

![groups-icon](https://cloud.githubusercontent.com/assets/13141571/9203156/3e13ae2e-4

[2015-08-11 16:33] laurencullen commented on #194
Here are all the assets and icons:

![people-icon](https://cloud.githubusercontent.com/assets/13141571/9203402/dbf2c296-400b-11e5-8eb8-98f14ab3e780.png)
![website](https://cloud.githubusercontent.com/assets/13141571/9203405/e217fc5e-400b-11e5-9f0b-3ae3eb959963.png)
![social](https://cloud.githubusercontent.com/assets/13141571/9203413/ec03d760-400b-11e5-98c8-15b60c34bf4a.png)

![twitter](https://cl

[2015-08-11 16:34] laurencullen commented on #194
![google](https://cloud.githubusercontent.com/assets/13141571/9203450/1b43111c-400c-11e5-8d87-2df10cc83372.png)

[2015-08-11 16:38] laurencullen commented on #194
![ucla](https://cloud.githubusercontent.com/assets/13141571/9203559/bf267ae4-400c-11e5-8911-acfcf793b2ed.png)
![ucsc](https://cloud.githubusercontent.com/assets/13141571/9203560/bf27c6ce-400c-11e5-8932-2c362585254e.png)
![ucsd](https://cloud.githubusercontent.com/assets/13141571/9203561/bf29d7ca-400c-11e5-976c-3205824457cf.png)

[2015-08-11 16:40] laurencullen commented on #194
![ucsd](https://cloud.githubusercontent.com/assets/13141571/9203620/0bd122d6-400d-11e5-8c0c-504ae50de097.png)
![ucla](https://cloud.githubusercontent.com/assets/13141571/9203618/0bcbce76-400d-11e5-9ce6-3249ab385ee2.png)
![ucsc](https://cloud.githubusercontent.com/assets/13141571/9203619/0bd08aba-400d-11e5-9901-59bb6402745d.png)

[2015-08-11 17:03] laurencullen commented on #152
Here is the details page rough draft. Please let me know if you need any revisions or if you need any additional related pages.

![groups-details-leave](https://cloud.githubusercontent.com/assets/13141571/9204122/1da90e58-4010-11e5-8e15-c758d41240ee.jpg)
![groups-details-join](https://cloud.githubusercontent.com/assets/13141571/9204126/20c1f726-4010-11e5-818e-dd182c6ad900.jpg)

[2015-08-11 17:19] laurencullen commented on #145
Here is the input screen for Propose Idea. Create Project would be the same. Please let me know if you need anything else.

![idea-input](https://cloud.githubusercontent.com/assets/13141571/9204484/72fc3d4c-4012-11e5-90bf-1aaaa50b5aab.jpg)

[2015-08-11 18:07] krozett commented on #123
We don't have the "comment on a project" feature but I'll add this once we do.
I'm not sure what "setting up a profile" entails, @rrocchio could you clarify?

[2015-08-11 18:42] ctmcintyre commented on #145
Shouldn't it read "Required Competencies"?

--
Charles McIntyre
Manager, Infrastructure & Operations

Application & Project Management
Information Technology Services
University of California Santa Cruz

office: 831/459-5746
mobile: 831/239-5839

[2015-08-11 19:21] laurencullen commented on #145
Here is a new proof if you decide to change it to Required Competencies:

![idea-input2-01](https://cloud.githubusercontent.com/assets/13141571/9207582/6d70ff1e-4023-11e5-874c-53ed010bc406.jpg)

[2015-08-11 19:59] laurencullen commented on #138
Here is a proof with these changes to the header. Please let me know if you need any revises.

![ucnext new header-01](https://cloud.githubusercontent.com/assets/13141571/9208850/c4f73ca8-4028-11e5-9385-d4802fa55b24.jpg)

[2015-08-12 16:24] laurencullen commented on #113
@krozett here is the magnifying glass without the blue background. It is attached but doesn't show because it is white on transparent. Please let me know if you need anything else.

![magnify](https://cloud.githubusercontent.com/assets/13141571/9229817/de2e567e-40d3-11e5-9e75-89467afe577f.png)

[2015-08-12 16:33] krozett commented on #113
Thanks!

[2015-08-13 22:29] laurencullen commented on #188
@krozett the Nav bar hover isn't accessible. Some possible solutions could include the hover changing it to an accessible yellow/orange like #ffc277 and/or underlining the text. Please let me know if you have any questions on this. Thanks!

[2015-08-13 22:33] laurencullen commented on #139
@krozett please change the background light blue throughout from#eef4f9 to #dfeaf3. This will be a little easier to see. Thanks!

[2015-08-14 00:51] krozett commented on #139
@laurencullen okay, done

[2015-08-14 01:10] krozett commented on #188
@laurencullen no problem, I made the color changed and had the links underline when hovering

[2015-08-14 13:26] rrocchio commented on #188
@laurencullen  and @krozett  - thanks !

[2015-08-14 13:43] rrocchio opened #198 "Add this content into the 'ABOUT' Page"
( I think we can put it under the cloud graphic)

<strong>UC Next Engagement Meter</strong> ( should open a page with Engagement details)
UC Next is all about incentivizing collaboration using gamification techniques.  This includes a UC System wide Engagement meter, which allows the campus locations a friendly but competitive measure of engagement.  Points are given to participants in different a

[2015-08-14 13:52] rrocchio commented on #198
(Please put this content under the Engagement Meter Text)
<strong>UC Next Badges</strong>
Collaborating can be hard work.  UC Next Badges are our new tool to recognize UC Technologist Leaders.  By creating and awarding badges we can recoginize the unsung heros among us who go the extra mile and take on the hard task of doing their work in a way that works for the good of the system, their campus a

[2015-08-14 14:00] rrocchio opened #199 "How do I assign badges to someone?"
How do I give someone a badge?  There is a "badge Group" - but I don't know how it works....

[2015-08-14 14:25] rrocchio opened #200 "We need a design for a page to explain how the Engagement Meter works"
@laurencullen  - we need a page that explains how the engagement meter works:

Something that introduces it with content like this:

<Strong>UC Next Engagement Meter </strong>
UC Next is all about incentivizing collaboration using gamification techniques. This includes a UC System wide Engagement meter, which allows the campus locations a friendly but competitive measure of engagement. Points are

[2015-08-14 15:01] krozett commented on #199
Right now the only way to do it is to go to a user's "all badges" page. There is supposed to be a link on their profile page, but it's gone now for some reason. Anyway, once there, if you have permission to give any badges (by being an owner or giver for that badge) there is a button in the top right saying "give this user a badge".

For now, you can manually go to /users/11/badges/new (replace 11

[2015-08-14 15:10] ebollens opened #201 "Badges View Error"
[code]

[2015-08-14 15:13] ebollens opened #202 "Badge Assignment"
Right now, it appears you don't get an option to assign a badge to someone from their profile if they don't already have a badge. Should probably alter the condition that hides that section to leave room for a badge assigner to still assign a badge.

[2015-08-14 15:21] rrocchio opened #203 "Events - default to Show all"
This should default to show all

[2015-08-14 15:36] rrocchio opened #204 "Stack the login above the search in the Header"

[2015-08-14 16:05] laurencullen commented on #138
@rrocchio and @krozett  here is the new header from the other day. I just made some changes and will upload here and on the new ticket.
![ucnext header login](https://cloud.githubusercontent.com/assets/13141571/9278140/89f8ec90-4263-11e5-9d9e-1bc22ee707e9.jpg)
![ucnext logged in header-01](https://cloud.githubusercontent.com/assets/13141571/9278143/8d4e4fca-4263-11e5-9919-ba4c6793a513.jpg)
![ucnex

[2015-08-14 16:07] laurencullen commented on #204
@krozett and @rrocchio here are the new headers. Please let me know any revisions. Do you prefer the login/logout as a button or just as a link as it currently is on the site?

![ucnext header login](https://cloud.githubusercontent.com/assets/13141571/9278163/c4777de6-4263-11e5-878a-080fedf91f1a.jpg)
![ucnext logged in header-01](https://cloud.githubusercontent.com/assets/13141571/9278164/c8a23654

[2015-08-14 16:09] laurencullen commented on #204
This was originally in #138

[2015-08-14 16:26] laurencullen commented on #204
These attached new proofs make more sense than previous ones because button isn't necessary given that logout is an option under my account

![ucnext header-04](https://cloud.githubusercontent.com/assets/13141571/9278578/9415995a-4266-11e5-9c75-f9ed9b0e188e.jpg)
![ucnext header-05](https://cloud.githubusercontent.com/assets/13141571/9278579/9416a25a-4266-11e5-8170-70368d197794.jpg)

[2015-08-14 16:27] laurencullen commented on #138
These attached new proofs might work best because button doesn't make sense given logout option in my account.

![ucnext header-04](https://cloud.githubusercontent.com/assets/13141571/9278603/b41cf6b2-4266-11e5-8696-433852086488.jpg)
![ucnext header-05](https://cloud.githubusercontent.com/assets/13141571/9278604/b422099a-4266-11e5-81a3-58fdf9fe6577.jpg)

[2015-08-14 16:28] laurencullen commented on #188
Awesome, thanks @krozett!

[2015-08-14 16:29] laurencullen commented on #139
@krozett great, thanks!!

[2015-08-14 16:42] laurencullen commented on #130
@krozett Here are the png files for all of the badges including changes discussed today. I will also post these in another thread to make sure you see them. Please let me know if you need anything else. Thanks!

![devcorps](https://cloud.githubusercontent.com/assets/13141571/9278885/b3e49edc-4268-11e5-8110-1b404ce539b3.png)
![developer](https://cloud.githubusercontent.com/assets/13141571/9278886/b

[2015-08-14 16:45] laurencullen commented on #169
@krozett new png files for badges including badges for 2014 and 2015 Sautter awards now listed in #130 and pasted below. Please let me know if you need anything else. Thanks!

![devcorps](https://cloud.githubusercontent.com/assets/13141571/9278966/29bf7e1a-4269-11e5-975c-01d119a9f3dd.png)
![developer](https://cloud.githubusercontent.com/assets/13141571/9278967/29c86cdc-4269-11e5-97b1-a7eb362451fe.

[2015-08-14 16:52] krozett opened #205 "Idea: points breakdown and activity feed"
The way I handled engagement points is pretty simple. Every user and organization (campus/lab/etc.) has a running point total. But that doesn't really convey a lot of information.

I think it would be better if we recorded who got points, when, and for what. Maybe we could display it on a user's profile in an activity feed.

There are several advantages:
- Users can verify that their points add up

[2015-08-14 17:42] rrocchio opened #206 "Add a "Project" Header to the Detailed Project page - with the Project icon and the title "Project Detail""
@krozett  - Add a "Project" Header to the Detailed Project page  - with the Project icon and the title "Project Detail"...

The detail page is a bit too generic and a header would solve the fact that the detail page of Ideas and Projects looks almost identical...

[2015-08-14 17:45] laurencullen commented on #200
@krozett and @rrocchio here is a proof for the engagement page. I wasn't sure on headline text for paragraph. Please let me know if you need any revisions.
![engagement meter-01](https://cloud.githubusercontent.com/assets/13141571/9280200/93ca13e4-4271-11e5-8357-d282b41059c1.jpg)

[2015-08-14 17:46] rrocchio opened #207 "Add a Heading to the "Ideas" Detail Page"
Add the Ideas Logo and also the Header "Idea Details" to the top of the Ideas Detail page

@krozett  - this is important to give people on the site a sense of where they are - providing good navigation

[2015-08-14 17:50] rrocchio opened #208 "Tidying up the Project Page"
@krozett  - this is just what we discussed in the meeting - but I wanted to put it into a ticket:

1) Lets move the top trending project grid underneath the prose on the projects page
2) Lets move the engagement meeter up on the right
3) Add the Word "Project" to the Engagement Meter Label
4) Take the Labs and the Digital Library off the Engagement Meter display

[2015-08-14 17:56] laurencullen commented on #198
@krozett just in case you need a proof of what this would look like:
![about-01](https://cloud.githubusercontent.com/assets/13141571/9280420/0060d2d0-4273-11e5-81c3-db783885a49c.jpg)

[2015-08-14 17:57] laurencullen commented on #200
@rrocchio please let me know if you also need a design of the engagement meter pop up we discussed for the home page.

[2015-08-14 19:04] ctmcintyre commented on #198
Great!

--
Charles McIntyre
Manager, Infrastructure & Operations

Application & Project Management
Information Technology Services
University of California Santa Cruz

office: 831/459-5746
mobile: 831/239-5839

[2015-08-14 19:04] ctmcintyre commented on #200
Nice!

--
Charles McIntyre
Manager, Infrastructure & Operations

Application & Project Management
Information Technology Services
University of California Santa Cruz

office: 831/459-5746
mobile: 831/239-5839

[2015-08-14 20:20] laurencullen commented on #135
@krozett In response to @ctmcintyre's email, here is a proof of the ideas page with trending ideas on left and the engagement meter by itself on the right.

![ideasloggedin-02](https://cloud.githubusercontent.com/assets/13141571/9283261/24d8099e-4287-11e5-9183-7091ae3698ef.jpg)

[2015-08-14 20:27] ctmcintyre commented on #135
Thanks Lauren!  It's still not succeeding at reducing empty space.
@krozett - when you lay this in, try to minimize the empty space between
the top elements and the idea cards.

--
Charles McIntyre
Manager, Infrastructure & Operations

Application & Project Management
Information Technology Services
University of California Santa Cruz

office: 831/459-5746
mobile: 831/239-5839

[2015-08-14 21:17] ctmcintyre opened #209 "List Competencies on Profile Page"
Currently, competencies aren't listed on one's Profile.  This is critical for the UCCSC demo.

[2015-08-14 21:19] ctmcintyre commented on #119
Competencies aren't showing up when looking at people's profiles.  EEEK!

[2015-08-14 23:11] krozett commented on #130
@laurencullen great, I will upload these to the production site! (though anyone else is free to do so, it can be done entirely through the admin interface)

[2015-08-14 23:53] rrocchio opened #211 "Top 5 Projects by Vote - for Top of Project Page and the HOME page.... (add the VOTES)"
![image](https://cloud.githubusercontent.com/assets/718820/9286275/e28809ea-42a4-11e5-9fd6-11120241b52d.png)

[2015-08-14 23:54] rrocchio commented on #211
@ebollens  - if we can make this happen - then that would be GREAT - I think that the Green +1 is to indicate if logged in whether you voted for something - I think....

[2015-08-15 08:11] rrocchio opened #212 "Implement a POP-up to describe the main page Engagement Meter Use Design created #200"
Implement a POP-up to describe the main page Engagement Meter See #200

[2015-08-16 08:33] laurencullen commented on #162
@rrocchio and @ebollens - here are app icons to choose from.

[2015-08-16 08:45] laurencullen commented on #162
High res versions and wave with blue background added:
![ucnexticon-01](https://cloud.githubusercontent.com/assets/13141571/9292595/6a24a4f8-43b8-11e5-97cd-849c489bfcf3.png)
![ucnexticon-02](https://cloud.githubusercontent.com/assets/13141571/9292596/6a426100-43b8-11e5-8696-b03f50f6dfb2.png)
![ucnexticon-03](https://cloud.githubusercontent.com/assets/13141571/9292597/6a45b7d8-43b8-11e5-85bb-915585

[2015-08-16 13:15] rrocchio commented on #161
@laurencullen  - THESE ROCK !!!!
@ebollens  - good news - Lauren already created the UC NEXT App button
@ctmcintyre  - which one do you like best?  I like #'s 2, 3 and 5 - However - maybe 1 is best, since it will Say UC Next underneath it?

[2015-08-16 15:56] ebollens commented on #161
I'm going to go with Option 1.

The reasoning...

* Options 3 and 4 have a lot of text. Because of the size of the app icons on the home screen, that much text will get drowned out and not be visible. This is affirmed by the fact that 0 out of 40 apps (unless you count the numbers on the Clock app) have more than 8 different words on them (the most probably being Newsstand with 4).
* Options 2 and

[2015-08-16 16:02] ctmcintyre commented on #161
Works for me!

--

Charles McIntyre
Manager, Infrastructure & Operations

Applications & Project Management
Information Technology Services
University of California, Santa Cruz

831/459-5746 phone
831/239-5839 mobile

[2015-08-16 18:40] krozett commented on #202
Will be fixed once pull #214 goes through

[2015-08-16 18:41] krozett commented on #199
Okay, the button will be visible once pull #214 is deployed. Anyone who has badge-giving permission (they are a badge owner or giver or are a super-admin) will see a button near the top of the profile

[2015-08-16 18:57] krozett opened #215 "Auto-give badges to users who join certain groups"
Let a badge have any number of badge groups, and if a user joins one of those groups (could be open or invite-only) then they automatically get the badge.

[2015-08-16 22:36] rrocchio commented on #198
@krozett  - please implement this as our highest priority tonight - along with the styling for the people page list

[2015-08-16 22:40] rrocchio commented on #195
@laurencullen  - when you get a chance, can you put all the logos from the campuses into this ticket - thanks!

[2015-08-16 22:46] rrocchio opened #216 "When the user clicks "Contact" please open an email with ucnext@ucsc.edu"
@ebollens  - any chance you can slide this one in... we discussed it but never created a ticket for it, so it has gotten overlooked....

[2015-08-16 22:49] rrocchio commented on #216
@ctmcintyre  - you created the email account called ucnext@ucsc.edu - for us to use with this link correct?

[2015-08-16 23:02] ctmcintyre commented on #216
ucnext@ucsc.edu is an email account that the platform can send and receive from. I advise that we use that for systemic email use on the platform.

ucnextsupport@ucsc.edu is a group list that many of us are in that I advise we use for the Contact form.  We will all receive email sent to this group.

Just to be redundant, please use ucnextsupport@ucsc.edu for the contact page/form.

--

Charles McI

[2015-08-16 23:04] ctmcintyre commented on #216
If we've got the cycles, it'd be great to make a contact form instead of a mailto, but we can always add this later.

--

Charles McIntyre
Manager, Infrastructure & Operations

Applications & Project Management
Information Technology Services
University of California, Santa Cruz

831/459-5746 phone
831/239-5839 mobile

[2015-08-17 00:16] rrocchio commented on #136
@krozett  - Found a content error on the first sentence under the "UC Next Projects" heading.  The first sentence needs to be finished off with "our collaboration!".

Thanks!

[2015-08-17 01:37] ctmcintyre commented on #130
It's always "CORPS" with an "S".  UC NEXT CORP needs to be changed to UC NEXT CORPS.  (Pronounced "CORE").  The image needs to be updated.

[2015-08-17 06:50] krozett commented on #208
Made the same changes to the Ideas page, for consistency.

[2015-08-17 07:23] krozett commented on #195
Pull #217 will implement this. Badge display, school logos, and search will have to come later.

[2015-08-17 16:09] ctmcintyre commented on #209
Any update on this?

[2015-08-17 17:01] laurencullen commented on #195
Here are hi res png files. Please let me know if you need anything else.

![berkeley](https://cloud.githubusercontent.com/assets/13141571/9310776/e4c3214e-44c6-11e5-9601-311d0d75c6f0.png)
![ucdavis](https://cloud.githubusercontent.com/assets/13141571/9310782/e4c955c8-44c6-11e5-8d31-d2d86ba30682.png)
![uchastings](https://cloud.githubusercontent.com/assets/13141571/9310779/e4c7eeae-44c6-11e5-9bf6-9

[2015-08-17 17:16] laurencullen commented on #130
@ctmcintyre I'm replacing the UC NEXT DEV CORPS WITH UC NEXT CORPS. Please let me know if you need anything else.

![corps](https://cloud.githubusercontent.com/assets/13141571/9311074/d5a15a9e-44c8-11e5-93c3-15e6114b6986.png)

[2015-08-17 20:10] ctmcintyre commented on #130
Awesome!  Thank you!

--
Charles McIntyre
Manager, Infrastructure & Operations

Application & Project Management
Information Technology Services
University of California Santa Cruz

office: 831/459-5746
mobile: 831/239-5839

[2015-08-18 18:36] spiritcapsule opened #218 "Add Mac OS X to Competencies list"
The competencies list has Linux and Windows but not Mac.

[2015-08-18 18:38] spiritcapsule opened #219 "Improve competency input mechanism"
drop down list for competencies is already unmanageable in a drop down. autocomplete might be a better option.

[2015-08-18 18:47] spiritcapsule opened #220 "Create Privacy Page"
the link on the footer to Privacy goes nowhere.

[2015-08-20 00:48] ctmcintyre commented on #163
It seems that we don't see over 9 ideas.  We need to make sure people can see their new ideas.

[2015-08-20 00:49] ctmcintyre commented on #216
Can we make sure the Contact link has a mailto: to ucnextsupport@ucsc.edu

[2015-08-20 17:35] krozett commented on #163
@ctmcintyre I created a test idea and verified that it showed up on the page, for a total of 10 ideas. Why do you say there are only 9?

[2015-08-20 17:48] ctmcintyre commented on #163
I thought we had more to begin with and some folks said they put in
ideas, but I didn't see more than 1 new one.  Mostly I was just trying
to make sure it /would/ display more than 9.

Thank you for double-triple-checking!

C

--
Charles McIntyre
Manager, Infrastructure & Operations

Application & Project Management
Information Technology Services
University of California Santa Cruz

office: 831/4

[2015-08-26 21:17] ctmcintyre opened #222 "Shib errors from UCSC"
Two folks from UCSC have reported the following error:
{"status":400,"error":"bad_request","error_message":"Client authentication failed"}

[2015-08-28 04:35] krozett commented on #184
I can't reproduce the issue. Can you check to see if it's still happening?

[2015-08-28 15:00] rrocchio opened #223 "Create a way for Local Logins to reset their passwords"
Create a way for Local Logins to reset their passwords

[2015-08-28 15:01] rrocchio opened #224 "Reach out to UCI to get their Shibb set up"
Reach out to UCI to get their Shibb set up - (Dana Roode)

[2015-08-28 15:08] rrocchio opened #225 "Make Projects more actionable"
Show off the "supporters" and the "would participate" more clearly - in the card view and the details

[2015-08-28 15:14] rrocchio opened #226 "Use Mandril to "pull" users into more awareness about their ideas and projects"
Increase User's connection to UC Next and their Collaborative Engagement efforts:

1) Notify a user when they receive a Badge
2) Notify a user when they are invited to a group
3) Notify a user when their idea/project rises to the top 5

(rose to finish)

[2015-08-28 15:19] rrocchio opened #227 "Add Tags to many areas in the system"
Lets add tags to:

Projects
Ideas
Groups
Events

[2015-08-28 15:21] rrocchio commented on #167
I think that this looks good right now - no need to change it

[2015-08-28 15:21] #167 closed

[2015-08-28 15:22] rrocchio commented on #211
Connect to #31

[2015-08-28 15:25] rrocchio opened #228 "Make Title required on all UC Next Components"
- projects
 - ideas
 - groups
 - events
- name - for people...

[2015-08-28 16:57] laurencullen commented on #113
I recreated the original design crowd logo in Illustrator because it is showing blurry. Here is the new, larger file. Please let me know if you need anything else or another size because I can send. Thanks!

![uc next logo-02](https://cloud.githubusercontent.com/assets/13141571/9552207/2f8b4ae2-4d6b-11e5-8549-55344d97cb86.png)

[2015-08-28 17:28] ctmcintyre commented on #222
This is intermittent.  Eric - Can you look into this?

[2015-08-28 22:39] pmeads opened #229 "[Ideas][Comments] Delete an Idea Comment"
A comment or reply should be able to be deleted by a) the commenter  b) a super admin.

For deletes, ensure all the children (replies) of the comment are deleted. To keep the comment table smaller, the record should be removed from the database as opposed to marked as deleted.

[2015-08-28 22:44] pmeads opened #230 "[Ideas] [Votes] [Points] More points for a participant of an idea than supporter"
Currently if you either support an idea or participate you get one point. However, participants should get more points (2) than supporters.

[2015-08-28 23:07] laurencullen commented on #225
@krozett  and @rrocchio here are proofs of the logged in projects page and project details page. These proofs include increasing the visibility of the supporters and would participate, adding the project search, adding tags, right aligning school names on engagement meter, etc. Please let me know if you need anything else or any revisions. Thanks!

![projects-03](https://cloud.githubusercontent.co

[2015-08-29 01:02] krozett commented on #121
@rrocchio It looks like most of this functionality is in the system now, everything but website and aggregate of members by location. Do we still want these?

[2015-08-29 01:04] krozett commented on #58
Closing this as it is now just a discussion ticket and doesn't have any requirements.

[2015-08-29 01:04] #58 closed

[2015-08-29 04:17] krozett commented on #113
@laurencullen could you please reduce the space above and below the image?

[2015-08-31 16:34] laurencullen commented on #113
@krozett attached png file should have no background space. Please let me know if you need anything else. Thanks!
![logo-new-size](https://cloud.githubusercontent.com/assets/13141571/9584005/6b228a70-4fc3-11e5-9d49-524602fe563d.png)

[2015-08-31 16:34] ctrance commented on #184
Deleting event doesn't throw error anymore. I'm closing this.

[2015-08-31 16:34] #184 closed

[2015-08-31 21:53] pmeads commented on #125
This was addressed during the initial beta rollout. closing

[2015-08-31 21:53] #125 closed

[2015-08-31 22:42] pmeads commented on #55
this functionality is ready in pull request #99.

[2015-08-31 23:14] pmeads commented on #45
This issue was addressed in #135 "5 Top Trending Ideas"

[2015-08-31 23:14] #45 closed

[2015-08-31 23:42] pmeads commented on #33
The field "created_at" in the ideas and projects table refers to the record itself. That is, when did someone first enter this record? If we use this field for the idea/project start date, then we lose that info. Perhaps another field such as "start_date" or even "launch_date" for projects and ideas would help us avoid using the same field for two purposes.

[2015-09-02 18:21] pmeads commented on #218
In pull request, waiting to be merged. @krozett can you merge the pr?

[2015-09-03 18:36] ctmcintyre commented on #110
We need to figure out a lean way to make sure we include all locations in the engagement meter (campuses, med centers, labs, anr, ucop, etc)

[2015-09-03 21:50] rrocchio opened #233 "BUG - Please change the Event's "Description" Field type to "TEXT""
Hi Keith,

BUG - Please change the  Event's "Description" Field type to "TEXT".

Eric and I identified this issue, and I thought that he was going to fix it, but he has not.

Please make this a priority.

Thanks!

 - Rose

[2015-09-04 01:05] krozett commented on #218
@pmeads done

[2015-09-04 01:23] krozett commented on #110
The above commit will show all organizations on the full engagement meter page, but not the home page, ideas, or projects pages. We can easily change these though.

[2015-09-04 01:37] krozett commented on #226
We will definitely need a way to let users opt-out of these emails. It might be worth having an in-site notification system as well.

As far as Mandrill goes, it costs money. However, I researched Amazon's offerings and found that they let you send 62k emails per month for EC2 users! See more here:
http://aws.amazon.com/ses/

[2015-09-04 01:45] krozett commented on #223
We will need an email sending system in place first.

[2015-09-04 01:47] krozett commented on #212
@rrocchio do we still need this? Seems redundant if we have the full page that describes it.

[2015-09-04 17:36] krozett opened #234 "Show all organizations on engagement meter"
Some of the labs have really long names, so I am resorting to use the short names for now. We need to come up with a modified design if we want things like "Los Alamos National Laboratory" to fit next to their bar on the meter.

[2015-09-04 17:37] krozett commented on #234
The engagement_meter_display column can be removed completely since all rows now have it set to 1. I want to make sure we are sticking with this behavior before I drop that column.

[2015-09-04 19:04] pmeads commented on #218
closing. scheduled for next release

[2015-09-04 19:04] #218 closed

[2015-09-04 21:25] #233 closed

[2015-09-04 21:32] pmeads commented on #134
fixed in pr #234

[2015-09-04 21:32] #134 closed

[2015-09-04 21:35] pmeads commented on #183
fixed in pr #235

[2015-09-04 21:35] #183 closed

[2015-09-09 15:29] rrocchio opened #236 "Please create golden and silver sautter awards for all the years"
@laurencullen  - please create the golden and silver awards for 2001 - 2013...

Thanks!

[2015-09-09 18:44] pmeads opened #237 "[Events] Groups missing when editing event"
Groups saved to the event are missing from the Groups field when editing that event.

[2015-09-10 22:43] pmeads commented on #237
fixed in pr #239

[2015-09-10 22:43] #237 closed

[2015-09-10 22:44] pmeads commented on #219
fixed in pr #238

[2015-09-10 22:44] #219 closed

[2015-09-11 15:12] rrocchio opened #240 "Make the federated Shibboleth Login 1) include all locations 2) look better"
Make the federated Shibboleth Login work across all locations

 1) have the dropdown include all locations
 2) Chase down the integration elements for every campus/location -
        a) Some are using InCommon
        b) Some may not be
 3) Get it styled to look better

Action items:  Rose to reach out to Alan @ UCSD and Charles...

[2015-09-11 15:25] rrocchio commented on #226
SES:  Sending an Email Through the Amazon SES SMTP Interface Programmatically

You can send an email through the Amazon SES SMTP interface by using an SMTP-enabled programming language. You provide the Amazon SES SMTP hostname and port number along with your SMTP credentials and then use the programming language's generic SMTP functions to send the email.

Review Sending an Email Through Amazon SE

[2015-09-11 19:41] pmeads opened #241 "[data] remove duplicate OS X in competencies and name competency.name unique"

[2015-09-11 19:42] pmeads commented on #241
I think the migration must have ran twice?

[2015-09-12 01:23] krozett commented on #226
I'll be talking to Nick Urrea next Monday since he's the one who manages AWS for us. We should just be able to get the SMTP credentials and not have to install the full AWS API.

[2015-09-14 17:18] pmeads commented on #241
resolved in pr #242

[2015-09-14 17:18] #241 closed

[2015-09-14 17:27] ctrance commented on #234
fixed

[2015-09-14 17:27] #234 closed

[2015-09-14 17:29] ctrance commented on #216
fixed

[2015-09-14 17:29] #216 closed

[2015-09-14 17:35] ctrance commented on #215
@krozett - I need instructions on how to test this. I just joined a group and it shows on "My Group" page, no badge showing. Am I looking at the right place? Sorry I'm just new with UCNext project.
![capture](https://cloud.githubusercontent.com/assets/1034174/9856870/281c79f2-5acc-11e5-897d-38b51a840c65.PNG)

[2015-09-14 19:16] ctrance commented on #208
fixed

[2015-09-14 19:16] #208 closed

[2015-09-14 19:17] ctrance commented on #204
fixed

[2015-09-14 19:17] #204 closed

[2015-09-14 19:18] ctrance commented on #203
fixed

[2015-09-14 19:18] #203 closed

[2015-09-14 19:20] ctrance commented on #202
@krozett - Please add instructions how to test this. Thanks!

[2015-09-14 19:23] ctrance commented on #201
@krozett - Please add instructions on how to test this.

[2015-09-14 19:26] krozett commented on #215
@ctrance Here's how you can test this ticket:
1. Create a new group. Do not join it yet.
2. Create a new badge for testing (you MUST be an admin to create a new badge).
3. While on the badge editing form, look for a Badge Group input which lists all groups. Select the group you created on step 1.
4. Join the group you created in step 1. You should now have the new badge. You can see it by going to

[2015-09-14 19:30] ctrance commented on #200
@krozett - Where can I access the Engagement Meter page?

[2015-09-14 19:34] ctrance commented on #215
@krozett - I don't have admin account, can you add that role to "ctrance"?

[2015-09-14 19:35] ctrance commented on #199
Will retest this once I got admin access...

[2015-09-14 19:38] krozett commented on #201
@ctrance This error was popping up whenever a non-admin user visited the badges page. You can test by going to https://ucnext.org/badges as a non-admin user, or not logged in. (There is an issue to add a link to that page somewhere, I believe.)

[2015-09-14 19:39] krozett commented on #200
@ctrance Click on the "Engagement Meter" heading on the main page

[2015-09-14 19:41] ctrance commented on #198
@krozett - I don't see the Engagement Meter in About page. Also, on Lauren's design UC Next Badges has same text color (blue) as other titles.

[2015-09-14 19:42] krozett commented on #215
@ctrance Unfortunately I am not able to log in to any of my admin accounts, so I cannot make you one. (We really need a password reset...)

@rrocchio (or someone else who has local admin), could you make ctrance an admin?

[2015-09-14 19:44] krozett commented on #202
@ctrance You can do this from a user's profile page. There is a "Give badge/award" button in the top left area. But you need to have admin rights first, or be assigned as a badge giver by someone who does own a badge.

[2015-09-14 19:48] krozett commented on #198
@ctrance The problem with making the link the same color is that users will have no idea that it's a link. Although I think a better option is to not use the header for a link at all, but have a separate link below the paragraph.

@rrocchio Do we want to add the engagement meter to this page? I was basing my work off Lauren's design, but her design doesn't show the meter.

[2015-09-14 19:55] ctrance commented on #200
@krozett - On Lauren's design there's a meter icon right next to the "Engagement Meter" title.

[2015-09-14 20:04] ctrance commented on #195
@krozett - The people list is not sorted by name in alpha order and there's no search fx to filter the list.

[2015-09-14 20:09] krozett commented on #195
I'll look into adding a search.

@ctrance The list is sorted by last name. The person at the top probably put a space or something at the beginning of their last name.

@laurencullen Could you add logos for the labs and other locations as well? The engagement meter should have a complete list.

[2015-09-14 20:12] ctrance commented on #195
@krozett - It doesn't look like it's sorting by last name, see below:
![capture](https://cloud.githubusercontent.com/assets/1034174/9860625/373aa7cc-5ae2-11e5-82ad-1cdb4e194724.PNG)

[2015-09-14 20:50] ctrance commented on #201
@krozett - I don't see error viewing the badges as non-admin/not logged in user. I'm closing this...

[2015-09-14 20:50] #201 closed

[2015-09-14 20:53] ctrance commented on #194
@krozett - People are still not listed alphabetically and the org icons are not showing.

[2015-09-14 20:53] ctrance commented on #192
fixed

[2015-09-14 20:53] #192 closed

[2015-09-14 21:00] ctrance commented on #189
@krozett - Everything looks good! I have a question though, how come some projects don't have vote icon on the upper right of grid boxes?

[2015-09-14 21:01] ctrance commented on #188
fixed

[2015-09-14 21:01] #188 closed

[2015-09-14 21:02] ctrance commented on #187
fixed

[2015-09-14 21:02] #187 closed

[2015-09-14 21:06] ctrance commented on #181
The about link is now pointing to the right page now, closing this!

[2015-09-14 21:06] #181 closed

[2015-09-14 21:10] ctrance commented on #165
fixed

[2015-09-14 21:10] #165 closed

[2015-09-14 21:14] ctrance commented on #136
@krozett - I don't see metrics for the 5 top trending projects

[2015-09-14 21:15] ctrance commented on #164
Will close this once #136 is fixed

[2015-09-14 21:23] ctrance commented on #163
I'm basing the new Idea format off of #208, as mentioned by @krozett he made Ideas look like projects page. I'm closing this...

[2015-09-14 21:23] #163 closed

[2015-09-14 21:44] ctrance commented on #139
@krozett - I don't see the social section on the landing page.

[2015-09-14 22:01] ctrance commented on #123
@krozett - I notice that there are 2 engagement meters (1-ideas and 2-projects). If I do actions that are not related to idea/project, like set up profile, group management, and awarding will those actions be added onto both engagement meters? Or is there an Org Aggregate Engagement Meter page, which I don't see in the app.

[2015-09-14 22:04] ctrance commented on #96
@krozett - Do I have to be admin to give awards? Please add test instructions for this task.

[2015-09-14 22:06] ctrance commented on #94
fixed

[2015-09-14 22:06] #94 closed

[2015-09-14 22:08] ctrance commented on #78
fixed

[2015-09-14 22:08] #78 closed

[2015-09-14 22:13] ctrance commented on #77
@krozett Some text fields don't have max chars limit: Problem Statement and Description.

[2015-09-14 22:15] ctrance commented on #77
@krozett - Accdg. to #76 Problem Statement has no limitations, so only Description is missing the limit chars info.

[2015-09-14 22:15] ctrance commented on #76
fixed

[2015-09-14 22:15] #76 closed

[2015-09-14 22:26] ctrance commented on #69
@krozett - "Infrastructure Resources Needed" shows a blank list. "Phase" is missing (3) Successfully completed and (4) Deployed. I see "documentation" field but does that allow uploading of 2-3 docs?

[2015-09-15 02:23] krozett commented on #195
@ctrance Except for the first entry, the names look to be in last name order to me.

[2015-09-15 02:23] krozett commented on #189
@ctrance If the user already voted for the project, they don't get a vote icon.

[2015-09-15 02:27] krozett commented on #220
Hey @rrocchio, looks like we could use someone to type up the content for this page. Figured you'd be it, or want to assign it to someone.

[2015-09-15 02:28] krozett commented on #139
@ctrance We decided to axe that section for now, we can always create a new issue if we want to add it back.

[2015-09-15 02:30] krozett commented on #123
@ctrance The meter on the main page and the "engagement meter" page count up all the points, which covers things like setting up a profile. That's the aggregate meter you refer to.

[2015-09-15 02:31] krozett commented on #96
@ctrance There are 2 ways to give awards:
* Create an award, which requires admin privileges.
* Have the owner of an existing award add you to the "badge givers" list, which can be done on the Badge Edit page.

The first option is probably the best, we'll try to get you admin access ASAP.

[2015-09-15 02:35] krozett commented on #77
@ctrance That is by design, Description is also unlimited.

[2015-09-15 02:42] krozett commented on #69
@ctrance The "Infrastructure Resources Needed" list is blank because we haven't added any resources yet. Maybe we should allow free-forming this. I'll add the missing phases as well.

The documentation field is actually meant for a URL. To upload the docs, you must visit a project detail page. In the upper right there is a button that says "Manage Documents". Click that and you can add/edit/delete

[2015-09-15 18:22] rrocchio opened #243 "Add some text under the "Campus Login" box"
Add a text caption underneath the "campus login" box that says "Available for UCLA, UCSC, UCSD, and more campuses SSO coming soon. If you are from a UC campus/location not on this list use the Local login for now."

[2015-09-15 19:10] ctmcintyre opened #244 "Shib Issues - URGENT"
Looking at the transaction logs, it appears that all campuses are able to log into UC NEXT (but we/I may be interpreting those logs incorrectly).  That said, there are still issues with the UCTrust/Shib login mechanism.  Here's a report I rec'd from someone from UCSB:

So I gave it a shot. After being redirected to UCSB's SSO page and entering my credentials I got redirected back to ucnext.org - j

[2015-09-15 19:15] stevenolen commented on #244
I'm able to log in with UCLA account without any trouble (I see "My Account" at the top after getting redirected back).  Here's the shib attributes in use on the production box: https://github.com/universityofcalifornia/chef-NeXt/blob/master/cookbooks/shibboleth-sp/files/default/ucnext-shibboleth2.xml. If anything needs to be changed, feel free to let me know -- but other than that we haven't touc

[2015-09-15 19:25] ctmcintyre commented on #244
Yes, and I can login from UCSC with my Shib account.  What I'm confused
about is why are other campuses having trouble?  From the
transaction.log, it /appears/ all campuses have logged in.  Is that a
correction observation?  If so, we're still not out of the wood since
other campuses (UCSB, UCB, UCI?) are still having issues using their
local campus auth.

--
Charles McIntyre
Manager, Infrastructu

[2015-09-15 19:41] stevenolen commented on #244
The transaction logs may only imply that someone has *tried* to log in? I don't know my way around the shibd daemon, so I'm not sure what it is that it logs (the email conversation we had previously contained the regex I used, in hopes that if I were grepping too generally, someone could correct me).

I don't know much about the application stack here, so mostly just making best guess: the config

[2015-09-15 20:28] ctmcintyre commented on #244
Yes, not easy!

Who do we need to confab on this to move it forward?  I'm thinking you,
Keith, Eric and me?

--
Charles McIntyre
Manager, Infrastructure & Operations

Application & Project Management
Information Technology Services
University of California Santa Cruz

office: 831/459-5746
mobile: 831/239-5839

[2015-09-15 22:48] laurencullen commented on #130
@ctmcintyre Here is the new badge for MMWCON attendee. Please let me know if you need anything else with it.
![mmwcon badge](https://cloud.githubusercontent.com/assets/13141571/9892166/28bbe028-5bc1-11e5-962b-aea3b2cb36c3.png)

[2015-09-17 15:48] loganfranken commented on #223
:+1: (I could really use this right now, actually)

[2015-09-18 15:24] ctrance commented on #69
@krozett - Thanks for the clarification! I have a question on uploading docs >> Is there any restrictions on uploading docs for projects? I went to "NeXt Ideation Platform" and didn't see a "Manage Documents" button. Is it only the founder who can upload docs? How about the participants/supporters?

[2015-09-18 15:27] ctrance commented on #77
Got it! I'm closing this then.

[2015-09-18 15:27] #77 closed

[2015-09-18 15:28] ctrance commented on #96
@krozett - Thanks! I'll proceed testing this once I got admin access.

[2015-09-18 15:35] ctrance commented on #123
@krozett - Is there a test site where I can play around with the meter? I don't want to touch the prod version. Basically I want to test if doing the actions above reflects the points earned/deducted on the meter.

[2015-09-18 15:36] ctrance commented on #139
Got it, closing this then!

[2015-09-18 15:36] #139 closed

[2015-09-18 15:38] ctrance commented on #189
@krozett - I must have forgotten voting on some of the projects. I just tested voting on other projects and the icon goes away. Thanks for the clarification!

[2015-09-18 15:38] #189 closed

[2015-09-18 15:40] ctrance commented on #195
@krozett - Yes, but still "Nnambi" shouldn't be the first on the list.

[2015-09-18 15:41] ctrance commented on #55
fixed

[2015-09-18 15:41] #55 closed

[2015-09-18 15:43] ctrance commented on #7
I'll test this once I got admin access

[2015-09-21 19:20] laurencullen commented on #236
@rrocchio @krozett here are all the Sautter badges. Please let me know if you need anything else.

![sautter-gold2001](https://cloud.githubusercontent.com/assets/13141571/10002265/0e834716-605b-11e5-871a-d6e86b96704d.png)
![sautter-gold2002](https://cloud.githubusercontent.com/assets/13141571/10002264/0e82f7c0-605b-11e5-9894-e0b82644a4fe.png)
![sautter-gold2003](https://cloud.githubusercontent.com

[2015-09-21 20:03] laurencullen commented on #195
Here are more logos. Also, please use this UCSD logo instead of previous one. The ones that I could not find in vector are a little blurry - please let me know if these need to be recreated or if the ones from the web work. Also, if there is anything else you need or missing, please let me know.

![anr](https://cloud.githubusercontent.com/assets/13141571/10003414/18ff305a-6061-11e5-8dc5-3b8e371609

[2015-09-24 17:38] laurencullen commented on #130
@ctmcintyre @krozett @rrocchio Here are the three new badges for CFTM winners 2015. Please let me know if you have any changes or if you need any other years.

![cftm education 2015](https://cloud.githubusercontent.com/assets/13141571/10081143/51fea162-62a8-11e5-9335-ce62457c4edd.png)
![cftm service 2015](https://cloud.githubusercontent.com/assets/13141571/10081145/51ffafbc-62a8-11e5-9efc-55ca326c

[2015-09-24 20:53] joshuaselsky opened #247 "add logging around OAuth interactions"
Also update the log file format so the messages have context.

[2015-09-25 00:55] joshuaselsky commented on #247
Temporary logging has been added on the production box. The code should catch the error that the OAuth library can throw when exchanging a code for a token after the Shib process runs.

[2015-09-25 15:08] rrocchio commented on #247
could be device related, could be network related, could be settings related

[2015-09-25 18:22] laurencullen commented on #110
@krozett please replace wave image with this new version - attached 2 different sizes for you. Also, I touched up one piece of the wave and replaced a couple of logos, so this will replace the wave on all pages. Thanks!!

![newwavelg](https://cloud.githubusercontent.com/assets/13141571/10108745/9390e9f8-6377-11e5-9829-5a2f3bd24705.png)
![newwavesm](https://cloud.githubusercontent.com/assets/131415

[2015-09-28 03:32] ebollens commented on #31
Made some progress on this today. Definitely not PR-worthy yet (needs tuning, additional scaling factors, more research into scaling functions, etc.), but I wanted to share a bit about my approach to solicit feedback...

So, before I address the front page, I'm starting with the `/search` page since it's already hooked into Elasticsearch for its results. The current query for it is:

[code]

This

[2015-09-29 16:18] laurencullen opened #249 "Social Network pages"
@rrocchio @ctmcintyre
The UC Next username is already taken on both Twitter and Facebook:
https://twitter.com/ucnext
https://www.facebook.com/uc.next

Anyone have thoughts on alternative usernames??

Also, to create a FB fan page, I think that it must be associated with a regular page. @rrocchio how is this usually done? Do I create a new FB account under my work email, use my personal FB then add

[2015-09-30 20:55] laurencullen commented on #240
Attached is a proof of the styling of the login. It is all coded in html and css. Please let me know if there are any changes.

![screen shot 2015-09-29 at 4 01 47 pm](https://cloud.githubusercontent.com/assets/13141571/10206282/ec6b5fe8-677a-11e5-8916-6aa768f34b39.png)

[2015-09-30 21:12] joshuaselsky commented on #240
The Shibboleth Discovery Service files are now in a [GH repo](https://github.com/universityofcalifornia/shib-ds-NeXt).

[2015-10-02 17:26] pmeads opened #250 "[login] Make Shibboleth Login prominent and diminish local login (even disable for Shib campuses)"
The local login was only a stopgap until Shibboleth was enabled for all campuses. For campuses that have Shib enabled, we want to ensure that they use it and do not create local accounts.

The focus of the login page should be the Shib login. Under the Shib login, a diminished local login box should remain for campuses that do not have Shib enabled yet.

This is mostly design related, however we s

[2015-10-02 17:28] pmeads commented on #250
Assigning to @laurencullen for the design portion

[2015-10-06 21:31] joshuaselsky opened #252 "email address should be editable"
Users should be able to edit their email addresses.

[2015-10-06 21:31] #247 closed

[2015-10-08 19:25] joshuaselsky opened #253 "email invites scheduler throws error on startup"
It appears that this [line](https://github.com/universityofcalifornia/NeXt/blob/master/app/mailers/event_notifier.rb#L7) is the culprit.

Here's an extract from the log.

    { 22706240 rufus-scheduler intercepted an error:
      22706240   job:
      22706240     Rufus::Scheduler::InJob "2m" {:no_error=>true, :_t=>120.0}
      22706240   error:
      22706240     22706240
      22706240     NoMet

[2015-10-08 21:31] laurencullen commented on #250
Here's a rough draft design for the login page. Please let me know any changes and if you need anything else.

![loginpage-01](https://cloud.githubusercontent.com/assets/13141571/10380539/4ae9fd6e-6dc9-11e5-897d-78fc0544a1a2.jpg)

[2015-10-08 22:45] pmeads commented on #250
Looks good Lauren! I'm thinking the button LOG IN WITH CAMPUS ACCOUNT should have something to draw your eye to it.

@rrocchio  and @krozett, when a user clicks "Register" under Local Login, in the auth/local/registration/new view, we could add a campus picklist. If a new user chooses one of the campuses enabled for Shib from the picklist, redirect them to the Shib page via auth_oauth2_launch_url(

[2015-10-08 23:02] laurencullen commented on #250
@pmeads As ideas for something to draw the user's eye to the log in with campus account button, we could add the wave icon (from header top right next to the login there) or we could add the UC logo. Please let me know your thoughts.

[2015-10-08 23:22] pmeads commented on #250
Maybe if there was a subtle gold outline around the button? even something like having the words inside the button a yellow or gold color. What do you think @rrocchio?

[2015-10-09 00:31] krozett commented on #253
I may have messed this up, since I was working in the mailers area. Didn't think I committed any of my incomplete code, but I'll check it out.

[2015-10-09 16:11] ctmcintyre opened #254 "Add people fields to edit project page"
Let's add the following fields to the Edit Project page:
1. Project Sponsor
2. Project Manager (defaults to logged in user, but is editable)

[2015-10-10 18:40] ebollens commented on #31
So, after a lot of experimentation, I've got the search query now considering:

* Search term likeness
* Preference towards ideas/projects over people
* Preference towards newness (especially < 30 days old)
* Preference towards higher votes

As an example, consider:

Project | Creation Date | Votes
------------ | ------------- | -------
NeXt Ideation Platform | Oct 2014 | 7
Uberize IT resources |

[2015-10-12 21:03] laurencullen commented on #250
@pmeads @rrocchio here are comps of the gold outline and text as well as a version with a gold button:

![loginpageorgbtn-01](https://cloud.githubusercontent.com/assets/13141571/10438670/dd3203f6-70e9-11e5-8dfc-80d6707c9cd6.jpg)
![loginpageorgtxt-01](https://cloud.githubusercontent.com/assets/13141571/10438671/dd435822-70e9-11e5-9102-10b939417816.jpg)

Please let me know any feedback.

[2015-10-12 21:21] pmeads commented on #250
The second one looks great to me. It leads your eye to the campus login and yet doesn't stand out too much. My vote goes to option 2.

[2015-10-12 21:59] ctmcintyre commented on #250
Same.  Option 2

--
Charles McIntyre
Manager, Infrastructure & Operations

Application & Project Management
Information Technology Services
University of California Santa Cruz

office: 831/459-5746
mobile: 831/239-5839

[2015-10-15 23:30] krozett commented on #226
Once this is deployed, we still need to get out of the SES sandbox mode. Until that happens, we are under certain limitations:
http://docs.aws.amazon.com/ses/latest/DeveloperGuide/request-production-access.html

* You can only send mail to the Amazon SES mailbox simulator and to verified email addresses and domains.
* You can only send mail from verified email addresses and domains.
* You can send

[2015-10-16 01:14] krozett commented on #253
Well, now I know it wasn't me, but I'm still not sure how a nil event got in there in the first place. Put in a kludgey fix to skip the invite if the event is nil.

[2015-10-16 01:16] krozett opened #257 "Better design for notification emails"
It would probably be good to have the NeXt logo, and some kind of header and footer. What I did for #226 is very basic.

[2015-10-16 16:11] rrocchio commented on #211
Lauren - just change the title... here to be "Top 5 Projects by Vote" - then please assign to Keith

@krozett  - PLEASE go and get the votes - to display on these lists - on the home page, the ideas page and the projects page

[2015-10-16 18:33] joshuaselsky opened #258 "abstract SMTP config into YAML"
Please move the SMTP config to YAML using the [environment-specific config files](https://github.com/universityofcalifornia/NeXt/tree/master/config/environments).

The pattern of placing config into YAML files is something we'd like to start doing because (1) it is not a good practice to have to change source code when all that needs to change are configuration properties and (2) similarly, it is

[2015-10-16 18:56] joshuaselsky opened #259 "abstract ES config into YAML"
The current ES config assumes the default ES settings (e.g., port number). The settings should be made configurable via YAML.

[2015-10-16 21:43] laurencullen commented on #211
@rrocchio @krozett here are the new proofs for the home page, projects page, and ideas page.

For home page, titles will remain the same but more projects and more ideas links are added. Total project numbers and total votes are displayed in bubbles. Also, added the new section above wave entitled What's New at NEXT.

![ucnext home page 10 16-01](https://cloud.githubusercontent.com/assets/13141571

[2015-10-17 00:37] joshuaselsky commented on #258
After talking with @stevenolen, we realized that the environment-specific YAMLs aren't necessary. We can simply use `config/smtp.yml` and Chef deploys can override whatever is needed for their environment-specific values. This way we only need one copy of the configuration for a given dependency that we are introducing.

[2015-10-21 20:56] stevenolen commented on #244
@joshuaselsky since our meeting, have the logs returned anything useful here?

[2015-10-21 21:24] joshuaselsky commented on #244
I think this issue is outdated. Long story short is that not all campuses are wired into UC Trust yet. @ctmcintyre can this be closed?

[2015-10-21 21:26] ctmcintyre commented on #244
Closing!

[2015-10-21 21:26] #244 closed

[2015-10-21 21:33] ctmcintyre opened #260 "www.ucnext.org gets 400 when using campus auth"
Reported by Nathan Sheldon (UCSF): Users MUST go to the https://ucnext.org web site (without the “www”) before going through the login process.  Going to https://www.ucnext.org site looks like it’s going to work, but logging in causes the UCNext.org server to return a 400 “bad request” error.  This seems to be a UCNext site configuration issue though, not a Shibboleth one.

Error: {"status":400,"e

[2015-10-21 21:33] ctmcintyre commented on #260
Josh - I'm assigning to you.  I'm not sure who should work on this.

[2015-10-21 21:48] joshuaselsky commented on #260
I was just able to recreate at UCLA and received the infamous

`{"status":400,"error":"bad_request","error_message":"Client authentication failed"}`

This should just be a matter of config like you said.

[2015-10-21 22:05] laurencullen commented on #249
@rrocchio @ctmcintyre The Twitter account is now set up! https://twitter.com/UCNextNews

@krozett It can be linked on the website now.

Please let me know any changes you would like to the page or any announcements. Also, I followed a few of Twitter's suggestions.

Facebook page to come soon!

[2015-10-21 22:13] joshuaselsky commented on #260
@ctmcintyre can you try it out again. It should be working now.

[2015-10-21 23:36] ctmcintyre commented on #260
Did you just redirect www.ucnext.org to ucnext.org?

--
Charles McIntyre
Manager, Infrastructure & Operations

Application & Project Management
Information Technology Services
University of California Santa Cruz

office: 831/459-5746
mobile: 831/239-5839

[2015-10-21 23:36] ctmcintyre commented on #249
Excellent!

--
Charles McIntyre
Manager, Infrastructure & Operations

Application & Project Management
Information Technology Services
University of California Santa Cruz

office: 831/459-5746
mobile: 831/239-5839

[2015-10-21 23:39] joshuaselsky commented on #260
Yep.

[2015-10-21 23:41] ctmcintyre commented on #260
Perfect

Works now.

I bet that was the ghost issue with shib logins...

--
Charles McIntyre
Manager, Infrastructure & Operations

Application & Project Management
Information Technology Services
University of California Santa Cruz

office: 831/459-5746
mobile: 831/239-5839

[2015-10-21 23:43] joshuaselsky commented on #260
I think so, too. And thank you @stevenolen!

[2015-10-21 23:43] #260 closed

[2015-10-22 07:43] rrocchio opened #261 "In the Groups Details page, the Membership type does not seem to be saving"
In the Groups Details page, the Membership type does not seem to be saving - when I try to set it to "invite-only" it doesn't work.

[2015-10-22 14:52] stevenolen commented on #260
of course! @joshuaselsky mentioned this to me and I felt like it made the most sense to implement this way: the shib bridge needs to uniquely identify the clients connecting to it and redirect back -- but allowing arbitrary access from both `ucnext.org` and `www.ucnext.org` technically means the bridge has to have two clients set up for this single host.

It is a pretty common way of handling this

[2015-10-22 14:58] stevenolen commented on #260
The redirect is done in nginx, and it's in my task list to reflect those changes in chef, see: https://github.com/universityofcalifornia/chef-NeXt/issues/2

[2015-10-22 16:59] laurencullen commented on #249
@ctmcintyre @rrocchio @krozett The Facebook page is now up: https://www.facebook.com/UCNextConnect

The page is labeled as a company, organization or institution in the category of computers/technology. In this area, they also have the category of education, so please let me know which you prefer because I can easily change it.

Also, if anyone wants to be an admin with their existing FB account,

[2015-10-23 15:37] rrocchio opened #262 "Design a Layout for badges"
Design a Layout for badges - take a look at the Khan academy badges for some input....

[2015-10-23 18:33] laurencullen commented on #262
@rrocchio @krozett here is a new layout for badges page

![ucnext badge comp-01](https://cloud.githubusercontent.com/assets/13141571/10701677/becc1b3e-7979-11e5-8397-404066269fc8.jpg)

[2015-10-23 18:34] laurencullen commented on #262
@krozett here are the new graphics for badges and awards icons. This way the page heading can match other pages (like Projects, Ideas, etc)

![award-icon](https://cloud.githubusercontent.com/assets/13141571/10701730/096372f0-797a-11e5-93ad-93a11931e788.png)
![badge-icon](https://cloud.githubusercontent.com/assets/13141571/10701729/09631152-797a-11e5-956f-43cc1ef1f54c.png)

[2015-10-23 18:36] laurencullen commented on #262
@rrocchio here is a screen shot of the Khan academy badge page - they have added the number of points for high scoring ones... is this something you would like to add?

Please let me know if you have any changes with the proof.

Thanks!

![screen shot 2015-10-23 at 11 31 09 am](https://cloud.githubusercontent.com/assets/13141571/10701767/3f40e344-797a-11e5-9607-c26539307818.png)

[2015-10-23 19:24] laurencullen commented on #211
@krozett here are the three types of bubbles. Please let me know if you need anything else.

![bubble-lg](https://cloud.githubusercontent.com/assets/13141571/10702852/01bf6bce-7981-11e5-86d6-f41fc1f7696d.png)
![bubble-sm](https://cloud.githubusercontent.com/assets/13141571/10702853/01c1fd08-7981-11e5-8244-042ce4117522.png)
![bubble-med](https://cloud.githubusercontent.com/assets/13141571/10702857/

[2015-10-23 19:40] laurencullen opened #263 "Add Twitter Feed to homepage"
Connect to #211

[2015-10-23 20:31] laurencullen commented on #263
@rrocchio @krozett Here is a comp of the new homepage with Twitter feed added. It is based on the idea that the feed will display our tweets as well as other tweets with @UCNextNews and #ucnext - if Twitter doesn't allow this, we can retweet ones we like. Please let me know if you have any changes or need anything else.

![ucnext hompage twitter-01](https://cloud.githubusercontent.com/assets/13141

[2015-10-23 21:05] laurencullen commented on #257
@krozett @rrocchio Here is a screen shot of a possible design (also emailed). Only added image of badge and UC Next logo. Please let me know any changes.

![screen shot 2015-10-23 at 2 03 22 pm](https://cloud.githubusercontent.com/assets/13141571/10704926/0488c0f4-798f-11e5-9681-f329505e1484.png)

Here is logo at this size:
![email-logo](https://cloud.githubusercontent.com/assets/13141571/10704945

[2015-10-26 17:50] joshuaselsky commented on #84
Closing because we have successfully integrated with a few different UCs using UC Trust.

[2015-10-26 17:50] #84 closed

[2015-10-26 17:55] joshuaselsky commented on #23
Closing because we have successfully integrated with a few different UCs using UC Trust.

[2015-10-26 17:55] #23 closed

[2015-10-26 21:31] joshuaselsky commented on #121
Closing because Group Details feature is in place. We can open an issue in the future for enhancements.

[2015-10-26 21:31] #121 closed

[2015-10-26 21:37] joshuaselsky commented on #141
Since the UI has changed drastically since this thread, we (@joshuaselsky @krozett) are closing this. We can open a new issue or issues if necessary.

[2015-10-26 21:37] #141 closed

[2015-10-26 21:46] joshuaselsky opened #264 "in Create Event page remove the Null group"
<img width="707" alt="screen shot 2015-10-26 at 2 43 46 pm" src="https://cloud.githubusercontent.com/assets/238878/10743442/49e8df4a-7bf0-11e5-93d7-4c3d5e00e6d8.png">

[2015-10-26 21:55] joshuaselsky opened #265 "in Create Event page the start date can be after the end date"
Please add / audit the create event validation.

[2015-10-26 21:57] joshuaselsky opened #266 "in Create Event page the start date can be after the end date"
Please add / audit the create event validation.

[2015-10-26 22:01] joshuaselsky commented on #186
@ebollens - will your latest PR close this issue?

[2015-10-26 22:08] joshuaselsky commented on #194
Link to #195.

[2015-10-26 22:11] joshuaselsky commented on #198
@krozett - the last thing to do here is to add the text about how the engagement meter works.

[2015-10-26 22:19] joshuaselsky commented on #212
@rrocchio do you mean text that should show up when hovering over the image?

[2015-10-26 23:10] joshuaselsky commented on #266
Closing closing duplicate duplicate.

[2015-10-26 23:10] #266 closed

[2015-10-26 23:12] joshuaselsky commented on #222
Closing as we were finally able to recreate it and solve the problem as documented in https://github.com/universityofcalifornia/NeXt/issues/260.

[2015-10-26 23:12] #222 closed

[2015-10-28 18:07] ctrance opened #268 "Badge category list is blank when creating new badge"
I'm creating a new badge but the Badge category list is empty
![1](https://cloud.githubusercontent.com/assets/1034174/10798189/af5501fa-7d63-11e5-8abd-3b240730da1c.jpg)

[2015-10-28 18:16] ctrance commented on #215
fixed

[2015-10-28 18:16] #215 closed

[2015-10-28 18:25] ctrance commented on #202
@krozett - I can assign badges now, but the app let's me give the same badge to the same person.
![1](https://cloud.githubusercontent.com/assets/1034174/10798807/9ac8714c-7d66-11e5-8a2f-56c14d7324d7.PNG)

[2015-10-28 18:41] ctrance commented on #199
Badge can now be assigned by the following:
1. When creating a new badge, group(s) can be assigned and whoever joins the group will get the badge.
2. To assign badge to yourself go to "My Profile" page, then click "Give badge/award" button.
3. To assign a badge to a person, go to "People" list > select a person > click "Give badge/award" button.

[2015-10-28 18:41] #199 closed

[2015-10-28 18:44] ctrance commented on #243
fixed

[2015-10-28 18:44] #243 closed

[2015-10-28 18:53] ctrance commented on #200
fixed

[2015-10-28 18:53] #200 closed

[2015-10-28 20:51] ctrance commented on #195
Issues:
1. If I'm not logged in, I still see member photos
2. Organization logo are still not showing

[2015-10-29 15:32] #259 closed

[2015-10-29 21:12] laurencullen commented on #249
@krozett Please link FB icon to: https://www.facebook.com/UCNextConnect
and please link Twitter icon to: https://twitter.com/UCNextNews

These are the last two items for this issue. Thanks!

[2015-10-29 23:53] joshuaselsky commented on #198
@shaun965 see the previous comment for the last bit of work to do on this issue.

[2015-10-30 16:31] #31 closed

[2015-11-04 17:17] ctrance opened #276 "Fix the badge/award "Give This" button spacing"
If you go to assigning badge/award page, some "Give This" button is sticking on the badge/award and some are not. Please make the button stick to the badge/award it belongs to with a little space in between to improve the look. It causes confusion to the user.
![capture](https://cloud.githubusercontent.com/assets/1034174/10945984/b1f7edb6-82d4-11e5-8331-cd7924fb4c32.PNG)

[2015-11-04 17:20] ctrance opened #277 "Need design to indicate the badge/award is showcased on their profile"
Please create an icon or marker that will indicate the badge/award is showcased on the profile page. Maybe a check mark?
![capture](https://cloud.githubusercontent.com/assets/1034174/10946055/1194b790-82d5-11e5-99c0-9e24839426e3.PNG)

[2015-11-04 17:23] ctrance opened #278 "Add image upload to User Profile form"
Currently the user's image is grabbed from gravatar.com, users cannot replace that image when they edit their profile. Please add image upload to the form.

[2015-11-04 17:43] laurencullen commented on #277
@ctrance  Yes, I can do this. So that I know size and color, where is the icon/marker going to display on this screen? For example, in blue box? If so, where specifically in blue box? Thanks!

[2015-11-04 18:03] ctrance commented on #277
@laurencullen - As we've discussed offline, a check mark right next to the badge/award image. Thanks!

[2015-11-04 18:35] laurencullen commented on #262
@krozett Rose was asking regarding this so wanted to check in to see if you need anything else. The design is pasted here. It's important to make all the boxes the same height with text continuing when user clicks onto next page. Thanks!

![ucnext badge comp-01](https://cloud.githubusercontent.com/assets/13141571/10947926/c48fb746-82df-11e5-99b6-2e7be8b5f65f.jpg)

[2015-11-04 18:39] laurencullen opened #279 "Add badges to associated group"
@krozett Please add badge icon to associate group so that users can see that there is a badge associated with a certain group. Please add icon to both group listing page and group details page.

If you need any comps or further description of location please let me know.

![screen shot 2015-11-04 at 10 36 34 am](https://cloud.githubusercontent.com/assets/13141571/10948035/5455bc0e-82e0-11e5-9458-a

[2015-11-04 19:07] laurencullen commented on #277
@ctrance @krozett @rrocchio Here is a check mark that goes right next to badge/award image. Also, I made a design for the page so that we could see where it goes. Please let me know if you need anything else. Thanks!

![ucnext badge checkmark-page](https://cloud.githubusercontent.com/assets/13141571/10948773/29905f2a-82e4-11e5-9dfc-fd8d55cc124b.jpg)

![badge checkmark](https://cloud.githubusercont

[2015-11-04 19:27] laurencullen commented on #276
Please also see new design for badges. I think that this will make the positioning of the GIVE THIS button clearer.

![ucnext badge comp-01](https://cloud.githubusercontent.com/assets/13141571/10949313/0d4f88ce-82e7-11e5-8141-dc88a0166950.jpg)

[2015-11-04 21:31] ctrance commented on #136
@krozett - On Lauren's design the "not logged in" version of Projects doesn't show the UC NEXT PROJECTS section list.

[2015-11-04 23:53] laurencullen commented on #236
New badges have been created for Honorable Mention 2008-2015:

![sautter badges hm-40](https://cloud.githubusercontent.com/assets/13141571/10955939/3dd920b6-830c-11e5-9dad-22988e688fea.png)
![sautter badges hm-39](https://cloud.githubusercontent.com/assets/13141571/10955935/3dd67f28-830c-11e5-9752-0c1c6b08435d.png)
![sautter badges hm-38](https://cloud.githubusercontent.com/assets/13141571/1095593

[2015-11-04 23:54] laurencullen commented on #236
I've added all badges to UCNext badges area. Please let me know if there is anything else needed on this issue.

[2015-11-05 18:34] ctrance commented on #123
I don't see this implemented yet "The first step is to add a field to the Person table - called Engagement_Points (- I think it should probably be Numeric...)"

[2015-11-05 19:03] ctrance commented on #111
I can now delete ideas, projects, events, people, and groups. Closing this...

[2015-11-05 19:03] #111 closed

[2015-11-05 19:19] ctrance commented on #96
Awards/Badges are working good now.

[2015-11-05 19:19] #96 closed

[2015-11-05 19:31] ctrance commented on #69
I still don't see the missing phases "Successfully completed" and "Deployed"

[2015-11-05 19:31] ctrance commented on #53
Badges/awards are working good now.

[2015-11-05 19:31] #53 closed

[2015-11-05 19:39] #110 closed

[2015-11-05 19:40] #113 closed

[2015-11-05 19:41] ctrance commented on #7
Ideas have cyclical comments now. However, when I log in as a super admin I don't see a delete comment button. Are we still allowing super admins to delete comments?

[2015-11-05 19:42] #115 closed

[2015-11-05 19:44] #116 closed

[2015-11-05 19:47] ctrance commented on #265
@shaun965 and @joshuaselsky - I just tried now to see if the events form will validate the start/end dates but I was able to save start 11/19/2015 and end 11/6/2015. If this is not deployed on prod yet, please let me know once it is, so I can test again.

[2015-11-05 19:48] pmeads commented on #7
super admin deletes need to be implemented. Who else should delete a comment? Shouldn't the commenter be able to delete their own comment or edit their comment. Please see issue #229 and give your opinion. thx

[2015-11-05 19:53] #130 closed

[2015-11-05 19:53] joshuaselsky opened #280 "badges / awards on profile page are too small"
Please make them large enough so they are legible.

[2015-11-05 20:02] #138 closed

[2015-11-05 20:08] joshuaselsky commented on #279
Please see #152 for the design for this page. #152 has not been fully implemented.

[2015-11-05 20:10] ctrance commented on #209
I just went to "My Profile" but don't see "Competencies" there.

[2015-11-05 20:15] ctrance commented on #207
I still don't see the ideas logo and the header "Idea Details" on ideas detail page.
![capture](https://cloud.githubusercontent.com/assets/1034174/10980429/c7d088ae-83b6-11e5-98bf-4fd84fa65544.PNG)

[2015-11-05 20:23] ctrance commented on #198
I still don't see the the text about how the engagement meter works.

[2015-11-05 20:31] ctrance commented on #185
Still not fixed

[2015-11-05 20:36] ctrance commented on #7
@pmeads - I think commenter should be able to delete/edit their own comments. Founder and Super Admin can only delete comments unless its their own comment.

[2015-11-05 23:20] #161 closed

[2015-11-05 23:22] #162 closed

[2015-11-05 23:30] joshuaselsky opened #281 "the same badge can be awarded twice to one person"
@laurencullen was able to assign a badge to my account twice.

[2015-11-05 23:36] joshuaselsky opened #282 "issues with badges on profile page"
* If you are not an admin, the section doesn't show on the profile page for any user.
* If you are an admin, badges don't show, but the buttons to give or show badges appear.
* Badges always show up on Eric's profile.

[2015-11-05 23:40] #236 closed

[2015-11-05 23:51] joshuaselsky opened #283 "auth config to YAML"
Abstract the auth configuration to a  single.gitignored YAML file to (1) allow changes to be made via configuration and (2) to avoid environment-specific templates or file copies for customizing authentication.

[2015-11-06 04:34] krozett commented on #123
@ctrance unfortunately we don't have a test site yet. However, if you want, you can test out reversible actions. For example, join a group, and then leave one.

[2015-11-06 18:16] ctrance commented on #123
@krozett - Thanks, that's what I have in mind! To check the engagement meter values increasing/decreasing I need to see the total engagement points on the UI (maybe on hover over?)

[2015-11-06 20:06] krozett commented on #123
@ctrance that's actually a good idea to have hover show the points. For now, if you look at the HTML source of the page and search for elements that look like `<span class="sr-only">` you can see the point numbers there. I'll add the points in the hover text as well, but I don't know when that'll be deployed.

[2015-11-09 19:26] joshuaselsky opened #286 "clicking on a group when not logged in causes a 500"
When the user is not logged-in, they should be able to view the group details. Eventually it'd be nice to add private groups, which would simply mean that users would have to be logged in to view the details.

[2015-11-09 19:38] joshuaselsky commented on #261
If the group is invite-only, we won't show the Join button. Instead, text will be shown that indicates that the user can contact the contact email address to request an invite.  On the backend, we will still have to prevent users from joining invite-only groups.

[2015-11-10 23:44] joshuaselsky commented on #117
* there are possible commits in the past that could partially close this
* we should audit the buttons site-wide to make sure the styling is correct

[2015-11-10 23:54] joshuaselsky commented on #282
Please also see https://github.com/universityofcalifornia/NeXt/issues/119.

[2015-11-11 00:12] #212 closed

[2015-11-11 00:15] joshuaselsky commented on #279
For now, badges can just be added to the right of the text description. After that, we can fully implement #152.

[2015-11-11 00:22] joshuaselsky commented on #180
Need to come up with the list of infrastructure resources.

[2015-11-11 00:28] joshuaselsky commented on #252
The idea with this issue is that users may want to receive email at a different address than they use for logging in. There is complexity with this issue because what happens when a Shib user changes their email address. We could disallow this feature for those users, but they are the majority of our users. Marking this as low priority for now.

[2015-11-11 00:30] joshuaselsky commented on #250
Please verify the color scheme of the updated content when testing this.

[2015-11-11 00:38] joshuaselsky commented on #195
Assigning to @shaun965 for the last batch of fixes.

[2015-11-12 17:12] #44 closed

[2015-11-12 17:12] #20 closed

[2015-11-12 17:12] #48 closed

[2015-11-12 17:12] #46 closed

[2015-11-12 17:14] #49 closed

[2015-11-12 20:43] joshuaselsky commented on #202
Closing in favor of #281.

[2015-11-12 20:43] #202 closed

[2015-11-12 20:51] joshuaselsky commented on #175
Closing because the Twitter feed has been added to the home page.

[2015-11-12 20:51] #175 closed

[2015-11-12 20:53] #129 closed

[2015-11-12 20:54] joshuaselsky commented on #112
Closing because this has been implemented.

[2015-11-12 20:54] #112 closed

[2015-11-12 20:55] joshuaselsky commented on #83
Closing because UCSD Shibboleth login is integrated.

[2015-11-12 20:55] #83 closed

[2015-11-12 20:55] #82 closed

[2015-11-12 20:59] joshuaselsky commented on #240
Closing because this has been implemented. The UI could still use some help, but we can open a new issue if and when we decide to do that.

[2015-11-12 20:59] #240 closed

[2015-11-12 23:02] krozett commented on #186
@joshuaselsky we are not indexing events and groups, so this functionality should be added.

[2015-11-13 17:15] joshuaselsky opened #288 "add password validation for local accounts"
Keep it simple for now.

* Must be at least 8 characters
* Must contain at least one letter and one number

[2015-11-16 15:14] ctrance commented on #286
fixed

[2015-11-16 15:14] #286 closed

[2015-11-16 15:18] ctrance commented on #263
@joshuaselsky and @krozett - I don't see the twitter feed on the homepage just like on Lauren's design, but a link that opens UCNext twitter page. Is that right?

[2015-11-16 15:23] ctrance commented on #261
@joshuaselsky - I wanted to test saving new invite-only new group but I can't log in to the test site. There's no option for org's login and if I use the local login my email account 'ctrance@oit.ucla.edu' is throwing error.

[2015-11-16 15:24] ctrance commented on #253
@joshuaselsky and @krozett How do I get to email invite page?

[2015-11-16 15:26] ctrance commented on #250
@joshuaselsky - I don't see the campus login on the test site.

[2015-11-16 15:38] ctrance commented on #249
fixed

[2015-11-16 15:38] #249 closed

[2015-11-16 15:58] ctrance commented on #228
Will test once I can log in to test site

[2015-11-16 15:59] ctrance commented on #209
Will test this once i can log in to test site

[2015-11-16 16:02] ctrance commented on #207
@joshuaselsky and @shaun965 - Header should be "Idea Details" not "Ideas"

[2015-11-16 16:05] ctrance commented on #198
fixed

[2015-11-16 16:05] #198 closed

[2015-11-16 16:06] ctrance commented on #185
Will test this once login on test site is fixed

[2015-11-16 16:10] ctrance commented on #123
Will test this once login is fixed on test site

[2015-11-16 17:45] ctrance commented on #265
Test site still doesn't validate event start/end time.

[2015-11-16 18:21] joshuaselsky commented on #250
@ctrance on the staging machine, I think we should only enable local login for now because Shibboleth is not set up for this environment. The best way to test this is once it is in production.

[2015-11-16 18:27] ctrance commented on #261
fixed

[2015-11-16 18:27] #261 closed

[2015-11-16 18:28] ctrance commented on #250
@joshuaselsky - Sounds great! Please let me know once prod is updated with this fix.

[2015-11-16 18:53] ctrance commented on #228
@shaun965 and @joshuaselsky - On events page, the validation error message appears as a tool tip on the Name field unlike other pages where there's a red text error on top of the form.

[2015-11-16 18:57] ctrance commented on #209
I don't see "Competencies" on Profile page. Unless I misunderstood this task.
![capture](https://cloud.githubusercontent.com/assets/1034174/11191573/bd3653f4-8c50-11e5-88c8-8baf7c8f459b.PNG)

[2015-11-16 18:58] ctrance commented on #185
fixed

[2015-11-16 18:58] #185 closed

[2015-11-16 19:53] krozett commented on #209
@ctrance you have to edit your profile and add some competencies first. We don't display the area if there are no competencies for a user.

[2015-11-16 23:57] krozett commented on #282
@joshuaselsky what was the thing you wanted to make note of in #119?

[2015-11-17 00:01] laurencullen commented on #136
@krozett this was something decided originally in the requirements for the design. The projects list is supposed to be hidden for users who aren't logged in.

[2015-11-17 00:13] shaun965 commented on #228
So the red one is validation from backend. That exists for all of them. The tool tip is just an extra validation from the front end which at the moment only exists for events. Do you want me to get rid of front end validation for event or add it in to all the other components for consistency?

[2015-11-17 00:21] krozett commented on #136
@laurencullen but does it make sense? After all, users can still access any project page. Why not just show the list?

Anyone else want to weigh in? I simply can't think of any reason to not list them all, but I can think of many reasons to list them. Consistency, better user experience, SEO, etc.

[2015-11-17 00:23] joshuaselsky commented on #282
Just that there is an opportunity to handle this issue as part of the larger UX rework in #119.

[2015-11-17 00:48] krozett commented on #282
True, but I wanted to at least nail this bug now. #119 might just be a lot of CSS and moving HTML around, I don't trust myself to remember to fix this. :wink:

Anyway, it was a quick fix.

[2015-11-17 01:49] krozett commented on #277
Self-assigning so I can implement this.

[2015-11-17 02:19] krozett commented on #280
I was mistaken that we were saving the full-quality badge images. I've made it so that the original image is always saved, and things can simply be sized down when needed. I did make the default "thumbnail" size larger, 120x120 instead of 75x75, so the text should be visible now. We will always display thumbnail size, unless you click on an individual badge detail page, then we blow it up to 100%

[2015-11-17 16:57] #280 closed

[2015-11-17 17:01] laurencullen commented on #277
@krozett the badges look much improved, thank you for the changes!

For this profile page with badges, is it possible to make some changes so that it looks like proof above? For example Badges and Awards header centered and not all caps. Name centered and not all caps. First two lines of badge description smaller font with less space between lines (in the comp, the font is 10pt). After the first t

[2015-11-17 17:05] laurencullen commented on #277
@krozett After just speaking with Josh, I realize that the above changes might be made already but not live yet. When I saw this was assigned to me, I thought you were wanting for me to take a look at the live site. So, please let me know if there's anything you need with it :)

[2015-11-17 17:17] ctrance commented on #228
@shaun965 - To make it consistent, please add the red message validation from the back end.

[2015-11-17 19:18] joshuaselsky commented on #280
@krozett I just uploaded a full size badge image because I noticed they were missing on the staging box.  Here's what it looks like on the [badges/awards page](https://staging.ucnext.org/badges) and on the (badge detail page)[https://staging.ucnext.org/badges/1].

Let me know if you'd like me to open a new issue.

[2015-11-17 19:28] krozett commented on #277
@laurencullen So what I mean is that I think it's a good design for the "show all badges / awards" page that you get by clicking on a different user's profile. I just need to implement it.

However, I think it won't work for the edit profile version of the page. Right now the design of #119 has the badges show up when editing your own profile. Now that's not in place, but that was the design I was

[2015-11-17 20:13] laurencullen commented on #277
@krozett Great that design will work for looking at all badges on a different user's profile :)

For the edit profile version of the page, the design of #119 is what I'm also expecting to implement. When the user clicks see all badges (top right corner of design), where does that go? I thought it would be the same page as show all badges/awards but for the user's personal group of badges and award

[2015-11-17 20:14] krozett commented on #280
That's okay, @joshuaselsky, I'll be taking care of the final look in #262. I understand it looks weird right now. How is the size? The tiny text under "UCSSC" still isn't visible in the thumbnail version, but I'm trying to find a nice medium ground for badge sizes that won't blow up on mobile sizes. For that particular one, you have to make at least 180x120 before you can read the "in a cloud of o

[2015-11-17 20:20] krozett commented on #277
@laurencullen Yes, I forgot about that link, but it would go to the same page you have designed above. Isn't that what the page is showing, the user's personal group of badges/awards rather than all badges/awards in the system?

[2015-11-17 21:29] laurencullen commented on #277
@krozett yes, that is my understanding as well.

[2015-11-17 22:18] joshuaselsky commented on #280
I'd say the size should be appropriate for readability like you are suggesting. I can upload the rest of the images if that helps.

[2015-11-17 23:14] krozett commented on #280
That would be great, thanks @joshuaselsky. But it has to wait until the code is deployed to production.

[2015-11-18 01:21] shaun965 commented on #195
Is it correct to assume office of the president should use the university of california picture?

[2015-11-18 01:34] shaun965 commented on #195
![screen shot 2015-11-17 at 5 30 24 pm](https://cloud.githubusercontent.com/assets/9622332/11230179/75771cd6-8d51-11e5-874f-a15aa9c8e892.png)
All the pictures seem good, only the one for the berkeley lab is not prominent enough.

[2015-11-18 16:04] ctrance opened #292 "Badge images don't appear and overlap text on tablet view"
I tried viewing on tablet but the badge images overlap the text (see screenshot below). Also I notice that only 1 badge image appears all others don't show up.
![screenshot_20151118-075213](https://cloud.githubusercontent.com/assets/1034174/11246029/c3c29446-8dca-11e5-8f2d-e7c99e4a375b.png)

[2015-11-18 16:08] ctrance opened #293 "Giving myself badge throws error"
I'm trying to give badge "2015 MMWCON Attendee" to myself but got the error below...
![capture](https://cloud.githubusercontent.com/assets/1034174/11246194/7f3a32b0-8dcb-11e5-8aca-033597423e67.PNG)

[2015-11-18 16:08] ctrance commented on #282
@joshuaselsky and @krozett - I can't proceed testing this due to #293.

[2015-11-18 16:13] ctrance commented on #281
fixed

[2015-11-18 16:13] #281 closed

[2015-11-18 16:18] ctrance commented on #263
After clearing the cache, the twitter feed shows on FF now.

[2015-11-18 16:18] #263 closed

[2015-11-18 16:35] ctrance commented on #123
@krozett - How do I comment on a project? I don't see a comment button or field
![capture](https://cloud.githubusercontent.com/assets/1034174/11247048/4ddc2210-8dcf-11e5-84b8-0cd8550e3814.PNG)

[2015-11-18 16:53] joshuaselsky commented on #195
yes, it should!

[2015-11-18 16:53] ctrance commented on #123
@krozett - I joined group "Golden Sautter Award Winners - 2004" then the app added "26 points" on the engagement meter. Then I checked my profile and it also added the "2004 Golden Sautter Award Winner" badge.

[2015-11-18 16:53] joshuaselsky commented on #293
@ctrance which username were you logged in as when this occurred?

[2015-11-18 16:55] ctrance commented on #293
@joshuaselsky - ctrance@ucla.edu

[2015-11-18 16:57] ctrance commented on #123
@krozett - App only adds 25 points for "8) Awarding a GOLD Sautter Award for your campus = 50 points for you and your campus"

[2015-11-18 17:01] ctrance commented on #123
@krozett - App only adds 10 pts for "9) Awarding a SILVER Sautter Award for your campus = 25 points for you and your campus"

[2015-11-18 17:22] ctrance commented on #123
@krozett - It would be nice to see who joined the group " Create a Group ADD 3 points ( DELETE a group - can only be done - if you are the only person in the group)". I can test delete groups that I created for now, since there's no way to see who the group members are in the Group page.